<template>
    <vue-form title="Create Player">
        <div slot="buttons">
            <router-link to="admin/dashboard/players" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <team-form></team-form>
        </div>
    </vue-form>
</template>

<script>
    import TeamForm from './Form'
    export default {
        components: { PlayerForm },
    }
</script>