<template>
    <vue-form title="Edit Player">
        <div slot="buttons">
            <router-link to="/admin/dashboard/players" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <player-form :player="player"></player-form>
        </div>
    </vue-form>
</template>

<script>
    import PlayerForm from './Form'
    export default{
        components: {PlayerForm},
        data: () => {
            return {
                player: undefined
            }
        },
        mounted() {
            const self = this
            self.loadplayer(self)
        },
        methods: {
            loadplayer(self) {
                self.$http.get('player/' + self.$route.params.id + '/edit')
                    .then((response) => {
                        self.player = response.data.data
                    })
            },
        }
    }
</script>