<template>
    <div class="row">
        <vue-table title="List of Players" :fields="fields" api-url="player" @table-action="tableActions" show-paginate>
            <div slot="buttons">
                <!-- <router-link to="/admin/dashboard/users/create" class="btn btn-success">Create User</router-link> -->
            </div>
        </vue-table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                fields: [
                    {
                        name: 'id',
                        titleClass: 'width-5-percent text-center',
                        dataClass: 'text-center',
                        title: 'Id'
                    },
                    {
                        name: 'avatar',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                        callback: 'avatar',
                        title: 'Avatar'
                    },
                    {
                        name: 'name',
                        title: 'Name'
                    },
                    {
                        name: 'email',
                        title: 'Email'
                    },
                    {
                        name: 'created_at',
                        title: 'Created At'
                    },
                    {
                        name: '__actions',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }
                ]
            }
        },
        methods: {
            avatar(value) {
                return '<img src="' + value + '" class="avatar img-responsive img-circle" />'
            },
            tableActions(action, data) {
                if (action == 'edit-item') {
                    this.$router.push('/admin/dashboard/players/' + data.id + '/edit')
                } else if (action == 'delete-item') {
                    this.$http.delete('player/' + data.id)
                        .then((response) => {
                            toastr.success('Player blocked successfully')
                            this.$emit('reload')
                        }, (response) => {
                            if ((typeof response.data.error !== 'string') && response.data.error) {
                                toastr.error(response.data.error.message)
                            } else {
                                toastr.error(response.status + ' : Resource ' + response.statusText)
                            }
                        })
                }
            }
        }
    }
</script>