<template>
    <vue-form title="Support Details">
        <!--<div slot="buttons">
            <router-link to="admin/dashboard/players" class="btn btn-default" exact>Back</router-link>
        </div>-->
        <div slot="content">
            <div class="row">
                <form class="form col-md-8 col-md-offset-2" role="form" @submit.prevent="onSubmit">
                    <div class="form-group">
                        <label for="terms-agreement">Terms and Agreement</label>
                        <wysiwyg v-model="support.termsAndAgreement"/>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact Us</label>
                        <wysiwyg v-model="support.contactDetails"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </vue-form>
</template>

<script>
    import {stack_error} from '../../../helpers/stack_error'

    export default {
        data: () => {
            return {
                support: {
                    termsAndAgreement: null,
                    contactDetails: null,
                    revisionNo: 1
                }
            }
        },
        methods: {
            onSubmit() {
                const self = this

                self.$http.post('update-support-details', self.support)
                    .then((response) => {
                        toastr.success('Support Details Updated')
                    }).catch(({response}) => {
                    stack_error(response.data)
                })
            }
        }
    }
</script>