<template>
    <vue-form title="Create User">
        <div slot="buttons">
            <router-link to="admin/dashboard/users" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <user-form></user-form>
        </div>
    </vue-form>
</template>

<script>
    import UserForm from './Form'
    export default {
        components: { UserForm },
    }
</script>