<template>
    <vue-form title="Edit User">
        <div slot="buttons">
            <router-link to="/admin/dashboard/users" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <user-form :user="user"></user-form>
        </div>
    </vue-form>
</template>

<script>
    import UserForm from './Form'
    export default{
        components: {UserForm},
        data: () => {
            return {
                user: undefined
            }
        },
        mounted() {
            const self = this
            self.loadUser(self)
        },
        methods: {
            loadUser(self) {
                self.$http.get('user/' + self.$route.params.id + '/edit')
                    .then((response) => {
                        self.user = response.data.data
                    })
            },
        }
    }
</script>