<template>
    <div class="row">
        <form class="form col-md-4 col-md-offset-4" role="form" @submit.prevent="onSubmit">
            <div class="form-group text-center">
                <img :src="user.avatar ? user.avatar : 'http://www.i-dedicate.com/media/profile_images/default.png'"
                     id="avatar" class="img-circle" width="100" :alt="user.name">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name" v-model="user.name"
                       :disabled="!!user.id">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" v-model="user.email">
            </div>
            <div class="form-group">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname" placeholder="Nickname" v-model="user.nickname">
            </div>
            <template v-if="!user.id">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                           v-model="user.password">
                </div>
                <div class="form-group">
                    <label for="password_confirmation">Confirm Password</label>
                    <input type="password" class="form-control" id="password_confirmation"
                           placeholder="Confirm Password" name="password_confirmation"
                           v-model="user.password_confirmation">
                </div>
            </template>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ user.id ? 'Edit' : 'Create' }}</button>
            </div>
        </form>
    </div>
</template>

<script>
    import {stack_error} from '../../../helpers/stack_error'
    export default {
        props: {
            user: {
                type: Object,
                default() {
                    return {}
                }
            },
        },
        computed: {
            mode() {
                return this.user.id ? 'update' : 'create'
            },
        },
        methods: {
            onSubmit() {
                const self = this
                let url = 'user' + (self.user.id ? '/' + self.user.id : ''),
                    method = self.user.id ? 'patch' : 'post'
                self.$http[method](url, self.user)
                    .then((response) => {
                        toastr.success('You ' + self.mode + 'd a new account information!')
                        self.$router.push('/admin/dashboard/users')
                    }).catch(({response}) => {
                    stack_error(response)
                })
            }
        },
    }
</script>