<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-card>
                <v-container fill-height fluid>
                    <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                            <span class="headline">Contact Details</span>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-title>
                    <div>
                        <v-flex xs12 sm12>
                            <p v-html="contact"></p>
                        </v-flex>
                    </div>
                </v-card-title>
            </v-card>
        </v-flex>
    </v-layout>
</template>
<script>
    export default {
        data() {
            return {
                contact: null
            }
        },
        methods: {
            getContactDetails() {
                const self = this;
                self.$http.get('get-support-details')
                    .then((response) => {
                        self.contact = response.data.contact_details;
                    }, response => {
                        this.$router.push("/404");
                    });
            }
        },
        mounted() {
            this.getContactDetails(this.$route.params.id);
        }
    }

</script>