<template>
    <div>

        <v-toolbar prominent flat extended color="primary" height="145">
            <v-layout
                    column
                    align-center
                    justify-center
                    class="white--text"
            >

                <img src="/images/gt-logo-small.png" alt="Vuetify.js" class="gt_logo">


            </v-layout>
        </v-toolbar>

        <v-container>
            <h1 class="mb-2 display-1 text-xs-left">TERMS AND AGREEMENT</h1>

            <p class="body-1" v-html="terms"></p>



        </v-container>



    </div>
</template>
<script>
    import Footer from '@components/home/partials/Footer.vue'
    export default {
        data() {
            return {
                terms: null
            }
        },
        components : {
            'app-footer' : Footer
        },
        methods: {
            getTermDetails() {
                const self = this;
                self.$http.get('get-support-details')
                    .then((response) => {
                        self.terms = response.data.terms_and_agreement;
                    }, response => {
                        this.$router.push("/404");
                    });
            }
        },
        mounted() {
            this.getTermDetails(this.$route.params.id);
        }
    }

</script>
<style scoped>
    .gt_logo {
        height : 134px !important;
        width :  390px !important;
        margin-top: 100px;
    }


</style>