<template>
    <vue-form title="Games">
        <div slot="buttons">
            <router-link to="/admin/dashboard/games" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <game-form></game-form>
        </div>
    </vue-form>
</template>

<script>
    import GameForm from './Form'
    export default {
        components: { GameForm },
    }
</script>