<template>
    <vue-form title="Edit Game">
        <div slot="buttons">
            <router-link to="/admin/dashboard/games" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <game-form :game="game"></game-form>
        </div>
    </vue-form>
</template>

<script>
    import GameForm from './Form'
    export default{
        components: {GameForm},
        data: () => {
            return {
                game: undefined
            }
        },
        mounted() {
            const self = this
            self.loadGame(self)
        },
        methods: {
            loadGame(self) {
                self.$http.get('game/' + self.$route.params.id + '/edit')
                    .then((response) => {
                        self.game = response.data.data
                    })
            },
        }
    }
</script>