<template>
    <div class="row">
        <form class="form-horizontal col-md-9 col-md-offset-1" @submit.prevent="onSubmit">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        <multiselect
                                v-model="selected"
                                :options="options"
                                label="category_name"
                                placeholder="Select Category"
                                track-by="category_name">
                        </multiselect>
                    </div>
                </div>
                <div class="form-group">
                    <label for="game_name" class="col-sm-2 control-label">Game Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="game_name" name="game_name" v-model="game.game_name"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="game_description" class="col-sm-2 control-label">Game Description</label>
                    <div class="col-sm-10">
                        <textarea id="game_description" name="game_description" v-model="game.game_description"
                                  class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="team_member_minimum" class="col-sm-2 control-label">Minimum Team Members</label>
                    <div class="col-sm-10">
                        <input type="number" id="team_member_minimum" name="team_member_minimum" v-model="game.team_member_minimum"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="image" class="col-sm-2 control-label">Game Image</label>
                    <div class="col-sm-5">
                        <input type="text" id="image" class="form-control" name="image"
                               v-model="game.image" placeholder="ex: /uploads/default_avatar.png">
                    </div>
                    <div class="col-sm-5">
                        <img v-if="game.image != null && game.image != ''" :src="game.image" width="41"
                             height="41">
                        <div class="game-image-upload pull-right">
                            <a href="javascript:;" class="btn btn-success file">
                                <span>Upload File</span>
                                <input id="game-image-upload" type="file" @change="gameImageUploader">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="background_image" class="col-sm-2 control-label">BG Image</label>
                <div class="col-sm-5">
                    <input type="text" id="background_image" class="form-control" name="background_image"
                           v-model="game.background_image" placeholder="ex: /uploads/default_avatar.png">
                </div>
                <div class="col-sm-5">
                    <img v-if="game.background_image != null && game.background_image != ''"
                         :src="game.background_image" width="41"
                         height="41">
                    <div class="game-image-upload pull-right">
                        <a href="javascript:;" class="btn btn-success file">
                            <span>Upload File</span>
                            <input id="background-image-upload" type="file" @change="gameImageUploader">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">{{ game.id ? 'Edit' : 'Create' }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import {stack_error} from '../../../helpers/stack_error'

    export default {
        components: {
            Multiselect,
        },
        data() {
            return {
                options: [],
                selected: null
            }
        },
        props: {
            game: {
                type: Object,
                default() {
                    return {
                        background_image: '',
                        image: '',
                        id: null
                    }
                }
            }
        },
        mounted() {
            const self = this
            self.loadCategories(self)
        },
        computed: {
            mode() {
                return this.game.id ? 'update' : 'create'
            },
        },
        watch: {
            game() {
                if (this.game.id) {
                    this.selected = this.game.category_name
                }
            }
        },
        methods: {
            onSubmit() {
                const self = this
                if (!self.selected) {
                    toastr.error('Category must be selected.')
                    return;
                }

                let url = 'game' + (self.game.id ? '/' + self.game.id : ''),
                    method = self.game.id ? 'patch' : 'post'

                self.game.category_id = self.selected.id

                self.$http[method](url, self.game)
                    .then((response) => {
                        toastr.success('You ' + self.mode + 'd the game successfully!')
                        self.$router.push('/admin/dashboard/games')
                    }).catch(({response}) => {
                    stack_error(response)
                })
            },
            gameImageUploader(event) {
                const self = this
                let files = event.target.files,
                    formData = new FormData()
                formData.append('image', files[0])
                formData.append('strategy', 'cover')
                self.$http.post('file/upload', formData)
                    .then((response) => {
                        if (event.target.id === 'game-image-upload') {
                            toastr.success('Category image uploaded successfully!')
                            self.game.image = response.data.url
                        } else if (event.target.id === 'background-image-upload') {
                            toastr.success('Background image uploaded successfully!')
                            self.game.background_image = response.data.url
                        }
                    }).catch(({response}) => {
                    if (response.data.error) {
                        toastr.error(response.data.error.message)
                    } else {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    }
                })
            },
            loadCategories(self) {
                self.$http.get('categories')
                    .then((response) => {
                        self.options = response.data.data
                    })
            },
        }
    }
</script>

<style lang="scss" scoped>
    .game-image-upload {
        display: inline-block;
        .file {
            position: relative;
            margin: 0 auto;
            display: block;
            width: 100px;
            height: 41px;
            line-height: 41px;
            font-size: 12px;
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
            input {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 100px;
                height: 30px;
                opacity: 0;
            }
        }
    }
</style>