<template>
    <div class="row">
        <vue-table title="Games" :fields="fields" api-url="game" show-paginate @table-action="tableActions">
            <div slot="buttons">
                <router-link to="/admin/dashboard/games/create" class="btn btn-success">Create</router-link>
            </div>
        </vue-table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                categories: [],
                fields: [
                    {
                        title: 'Id',
                        name: 'id',
                        titleClass: 'width-5-percent text-center',
                        dataClass: 'text-center'
                    },
                    {
                        title: 'Game Name',
                        name: 'game_name',
                    },
                    {
                        title: 'Game Category',
                        name: 'category_name',
                    },

                    {
                        title: 'Game Description',
                        name: 'game_description',
                    },
                    {
                        title: 'Created At',
                        name: 'created_at',
                    },
                    {
                        name: '__actions',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }
                ]
            }
        },
        methods: {
            tableActions(action, data) {
                const self = this
                if (action == 'edit-item') {
                    self.$router.push('/admin/dashboard/games/' + data.id + '/edit')
                } else if (action == 'delete-item') {
                    self.$http.delete('game/' + data.id)
                        .then((response) => {
                            toastr.success('You deleted the category successfully.')
                            self.$emit('reload')
                        }).catch(({response}) => {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    })
                }
            }
        }
    }
</script>