<template>


    <!--isUserAuthenticated computed property available in drawerMixin.js-->
    <v-navigation-drawer
            :clipped="$vuetify.breakpoint.width > 1264"
            fixed
            dark
            v-model="drawer"
            disable-route-watcher
            style="background-color:#322f37!important"
            v-if="isUserAuthenticated"
            app
            :width="240">
        <v-list dense>
            <template v-for="(item, i) in drawer_items">
                <v-list-tile :to="item.link">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
        </v-list>
        <v-divider/>

        <v-list three-line>
            <v-subheader v-text="'Upcoming Matches'"></v-subheader>
            <v-subheader v-if="matches != null && matches.length <= 0">No upcoming matches.</v-subheader>
            <template v-else v-for="item in matches">
                <v-list-tile avatar :key="item.title" @click="">
                    <v-list-tile-avatar>
                        <img :src="item.icon"/>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title v-html="item.match_name"></v-list-tile-title>
                        <v-list-tile-sub-title v-html="item.match_date"></v-list-tile-sub-title>
                        <v-list-tile-sub-title v-html="item.match_details"></v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>
            </template>
        </v-list>

        <v-card>
            <v-list three-line>
                <v-subheader v-text="'Your favorite games'"></v-subheader>
                <v-autocomplete
                        :items="games"
                        label="Games"
                        item-value="id"
                        item-text="game_name"
                        search-input
                        multiple
                        chips
                        v-model="favorites"
                >
                    <template
                            slot="selection"
                            slot-scope="data"
                    >
                        <v-chip
                                :selected="data.selected"
                                close
                                class="chip--select-multi"
                                @input="remove(data.item)"
                        >
                            <!--<v-avatar>
                                <img :src="data.item.avatar">
                            </v-avatar>-->
                            {{ data.item.game_name }}
                        </v-chip>
                    </template>
                    <template
                            slot="item"
                            slot-scope="data"
                    >
                        <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content v-text="data.item.game_name"></v-list-tile-content>
                        </template>
                        <template v-else>
                            <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.game_name"></v-list-tile-title>
                            </v-list-tile-content>
                        </template>
                    </template>
                </v-autocomplete>
                <v-subheader v-show="favorites == null">You haven't selected any favorites.
                </v-subheader>

                <v-btn
                        v-show="favorites != null && favorites.length > 0"
                        color="blue-grey darken-3"
                        depressed
                        @click="saveFavoriteGame"
                >
                    <v-icon left>mdi-update</v-icon>
                    Update Now
                </v-btn>
            </v-list>
        </v-card>

    </v-navigation-drawer>


</template>

<script>
    import DrawerMixin from '../../../mixins/drawerMixin';

    export default {
        mixins: [DrawerMixin],
        data() {
            return {
                matches: [],
                games: [],
                favorites: []
            }
        },
        computed : {
          player_id() {
              if(this.$store.getters.currentUser.player !== undefined){
               
                return this.$store.getters.currentUser.player.player_id
              }
              return 0
          },
        },
        methods: {
            getCurrentPlayerMatches(self) {

                self.$http.get('matches-by-player/' + self.player_id, {
                    params: {
                        limit: 5,
                        order: 'desc'
                    }
                })
                    .then(response => {
                        self.matches = response.data.data;
                    }, response => {
//                        self.$router.push("/404");
                    });
            },
            getGames(self) {
                self.$http.get('games/')
                    .then(response => {
                        self.games = response.data.data;
                    }, response => {
//                        self.$router.push("/404");
                    });
            },
            saveFavoriteGame() {
                const self = this
                self.$http.post('add-favorite-game/', {
                    'game_id': self.favorites,
                    'player_id': self.player_id
                })
                    .then(response => {
                    }, response => {
//                        self.$router.push("/404");
                    });
            },
            getFavoriteGames(self) {
                self.$http.get('get-favorite-games/', {params: {player_id: self.player_id}})
                    .then(response => {
                        response.data.map((value, key) => {
                            self.favorites.push(value.game_id);
                        })
                        //self.favorites = response.data.data;
                    }, response => {
//                        self.$router.push("/404");
                    });
            },
            remove(item) {
                const index = this.favorites.indexOf(item.id)
                if (index >= 0) this.favorites.splice(index, 1)

                this.removeFavoriteGame(item.id)
            },
            removeFavoriteGame(id){
                const self = this
                self.$http.post('remove-favorite-game/', {
                    'game_id': id,
                    'player_id': self.player_id
                })
                    .then(response => {
                    }, response => {
//                        self.$router.push("/404");
                    });
            }
        },
        mounted() {
            const self = this
            this.getCurrentPlayerMatches(self)
            this.getGames(self)
            this.getFavoriteGames(self)
        }
    }
</script>
<style scoped>
    .profile_picture_size {
        width: 39px !important;
        height: 39px !important;
    }

</style>