<template>
    <div>
        {{formatedStringDuration}}
    </div>
</template>

<script>
    import moment from 'moment'
    export default {
        props : ['match_details'],
        data(){
            return{
                timeString : '',
                durationInSeconds : 0
            }
        },
        mounted(){
            const self = this;

            let serverTime = moment(self.match_details.data.server_time);
            let matchDueDate = moment(self.match_details.data.match_date)
            let computeDuration = moment.duration(matchDueDate.diff(serverTime));
            let convertDurationInSeconds = computeDuration.asSeconds();

            self.durationInSeconds = convertDurationInSeconds;
            self.timeString = computeDuration._data;
            self.startTimer();
        },
        methods : {
            startTimer(){
                const self = this;
                //Don't start timer if calculatedSeconds is 0
                if(self.durationInSeconds > 0 ){
                    setTimeout(function(){
                        self.durationInSeconds--;
                        let duration =  moment.duration(self.durationInSeconds, 'seconds');
                        self.timeString = duration._data;
                        self.startTimer();
                    },1000);
                }
            }
        },
        computed : {
            formatedStringDuration(){
                const self = this;
                let formattedTime =
                    `${self.timeString.days ? self.timeString.days + ' days' :''} ${self.timeString.hours ? self.timeString.hours + ' hours' :''} ${self.timeString.minutes ? self.timeString.minutes + ' min' :''} ${self.timeString.seconds ? self.timeString.seconds + ' secs' :''}`
                return formattedTime;

            }
        }
    }
</script>

<style scoped>

</style>