<template>
  <v-container fluid grid-list-xl>
        <v-layout row wrap style="padding:10px">
          <v-flex s3>
            <v-subheader>List of Games</v-subheader>    
          </v-flex>
        </v-layout>
          <v-layout wrap justify-space-around>
            <v-flex v-for="game in games" :key="game.id" xs12 sm4>
              <v-card tile color="transparent" hover style="max-height: 350px;" :to="'/directory/'+ game.category_name +'/'+ game.id+ '/global-matches'">
                <v-img :src="game.image" height="200px" style="max-height: 200px;">
                </v-img>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">{{game.game_name}}</h3>
                    <div style="color:gray">
                      <span>{{game.category_name}}</span>
                      <br>
                      <span>{{game.matches.length}} Matches</span>
                      <br>
                      <v-chip small outline label>Minimum members: {{game.team_member_minimum}}</v-chip>
                    </div>
                  </div>
                </v-card-title>
                <v-card-actions >
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout> 
  </v-container>
</template>

<script>

export default {
  data() {
    return {
      games: {},
    }
  },
  computed: {
  },
  mounted() {
    this.getGames()
  },
  methods: {
    getGames() {
       this.$http.get('/games')
        .then(response => {
          this.games = response.data.data;
        });
    }
  }
}
</script>

<style scoped type="text/css">
.router-link-active {
  text-decoration: none;
  color: white;
}

.text:hover {
  text-decoration: underline;
}

.sharp {
  border-radius: 0px;
}

.flex {
  flex-grow: 0;
}

.flex-empty {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  div {
    width: 150px;
  }
}

</style>
