<template>
    <v-snackbar
            :timeout="timeout"
            :top="y === 'top'"
            :bottom="y === 'bottom'"
            :right="x === 'right'"
            :left="x === 'left'"
            :multi-line="mode === 'multi-line'"
            :vertical="mode === 'vertical'"
            v-model="showSnackBar"
    >
        <slot>
            <p>Something is wrong.</p>
        </slot>
        <v-btn flat color="pink" @click.native="showSnackBar = false">Close</v-btn>
    </v-snackbar>
</template>
<script>
    export default {
        props:['showSnackBar'],
        data () {
            return {
                y: 'top',
                x: null,
                mode: '',
                timeout: 6000
            }
        }
    }
</script>