<template>
    <footer>
        <div class="copy-right text-center">
            <span>© Gametime 2017. All rights reserved. </span><a class="item" href="#"></a>
        </div>
    </footer>
</template>