<template>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-toggle collapsed pull-left" @click="toggleSidebar">
                    <i class="icon ion-navicon-round"></i>
                </a>
            </div>

            <div id="repbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li style="font-size: 20px;" @click="toggleSidebar()">
                        <a id="left-hamburger" href="#">
                            <i class="ion-navicon-round"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>Nombre</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>Nombre Apellido</strong></p>
                                        <p class="text-left small">correoElectronico@email.com</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="#" v-on:click="logout()" class="btn btn-danger btn-block">Logout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>


            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</template>

<script>
    import store from '../../../vuex/admin/store.js';
    import { mapActions } from 'vuex';
    export default {
        methods: {
            toggleSidebar(){
                store.dispatch('toggleSidebar')
            },
            logout(){
                window.localStorage.clear();
                FB.api('/me/permissions', 'delete', function(response) {
                     // true for successful logout.
                });
                window.location.href = '/admin/login';
            }
        }
    }
</script>

<style lang="scss" scoped>
    #repbar {
        margin-left: -15px;
    }
    .navbar-nav {
        li {
            a {
                padding-top: 0px;
                padding-bottom: 0px;
                line-height: 60px;
            }
        }
    }
    .navbar-toggle {
        margin: 0;
        font-size: 20px;
        text-decoration: none;
        padding: 13px 10px;
        border: 0;
        color: #777;
        cursor: pointer;
    }
    .navbar-inverse .navbar-toggle:hover {
        border: 0;
        border-radius: 0;
        background-color: #fff !important;
        text-decoration: none;
        color: #888;
    }
    .navbar-login
    {
        width: 305px;
        padding: 10px;
        padding-bottom: 0px;
    }

    .navbar-login-session
    {
        padding: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .icon-size
    {
        font-size: 87px;
    }
</style>