<template>

    <v-app>

        <div class="background_image">
            <div style="padding:20px;">
                <img src="/images/gt-logo-small.png" class="gt_logo"/>
            </div>
            <v-container fluid text-xs-center>
                <v-layout row wrap justify-center align-center>

                    <v-flex d-flex xs12 sm6 md5 lg3>
                        <transition name="slide-fade">
                            <v-card class="card--flex-toolbar" v-if="show">

                                <v-card-text style="padding:0px;">
                                    <p class="text-xs-center headline">Welcome Back !</p>
                                    <p class="text-xs-center body-1">We're excited to see you again</p>
                                </v-card-text>
                                <v-card-text>
                                    <div style="width: 100%;">
                                        <v-form ref="login">
                                            <v-flex>
                                                <v-text-field
                                                        name="email_add"
                                                        label="Email"
                                                        v-model="user.email"
                                                        placeholder="Email Address"
                                                        @blur="correctCredentials = true"
                                                        :rules="emailLoginRules"
                                                        counter
                                                        v-on:keyup.enter="login"
                                                ></v-text-field>
                                            </v-flex>
                                            <v-flex>
                                                <v-text-field
                                                        name="password"
                                                        label="Password"
                                                        v-model="user.password"
                                                        placeholder="Password"
                                                        @blur="correctCredentials = true"
                                                        :append-icon="e1 ? 'visibility' : 'visibility_off'"
                                                        :append-icon-cb="() => (e1 = !e1)"
                                                        :type="e1 ? 'text' : 'password'"
                                                        v-on:keyup.enter="login"
                                                ></v-text-field>

                                            </v-flex>

                                        </v-form>

                                    </div>

                                </v-card-text>


                                <v-card-actions style="margin-top:-20px;">
                                    <v-btn
                                            class="primary white--text"
                                            :loading="loader"
                                            @click.native="login()"
                                            :disabled="loader"
                                            depressed
                                            block

                                    >
                                        Login
                                    </v-btn>


                                </v-card-actions>


                                <v-card-text>
                                    <p class=" body-1"> Need an account ?
                                        <router-link tag="a" to="/register"> Sign up</router-link>
                                    </p>

                                </v-card-text>

                                <v-card-text style="margin-top:-40px;">
                                    Quickly sign in with your favorite social profile
                                    <br>
                                    <v-btn
                                            style="margin-top:10px;"
                                            class="light-blue darken-3 white--text"
                                            icon
                                            depressed
                                            @click.native="fbLogin()"
                                    >
                                        <v-icon>fa-facebook</v-icon>
                                    </v-btn>

                                </v-card-text>


                            </v-card>
                        </transition>
                    </v-flex>


                </v-layout>

            </v-container>

        </div>


    </v-app>

</template>
<script>
    import store from "../../vuex/mainpage/store.js";

    export default {
        data() {
            return {
                show: false,
                loginSection: true,
                user: {
                    email: null,
                    password: null
                },
                dialog: false,
                loader: null,
                loaderTest: null,
                loading3: false,
                correctCredentials: true,
                errorMessage: "",
                e1: false,
                emailRules: [
                    v => !!v || "E-mail is required",
                    v =>
                        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                        "E-mail must be valid"
                ],
                requiredRule: [v => !!v || "This field is required"],
                passwordRules: [
                    v => !!v || "Password is required",
                    v =>
                        (v && v.length >= 6) ||
                        "Password must be at least more than  6 characters"
                ]
            };
        },
        mounted() {
            this.show = true;
            this.initFb()
            
            let fb_auth_storage = this.fbAuthStorage,
                simple_auth_storage = this.simpleAuthStorage,
                fb_authenticated =
                    fb_auth_storage !== "undefined" && fb_auth_storage !== null
                        ? fb_auth_storage
                        : false,
                authenticated =
                    simple_auth_storage !== "undefined" && simple_auth_storage !== null
                        ? simple_auth_storage
                        : false,
                fb_redirected = window.localStorage.getItem("fb_redirected");

            if (authenticated) window.location.href = "/";
            else if (fb_authenticated && fb_redirected) window.location.href = "/";
        },
        computed: {
            emailLoginRules() {
                if (this.correctCredentials) {
                    return [
                        v => !!v || "E-mail is required",
                        v =>
                            /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                            "E-mail must be valid"
                    ];
                } else {
                    return [
                        v => !!v || "E-mail is required",
                        v =>
                            /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                            "E-mail must be valid",
                        v => this.errorMessage
                    ];
                }
            },
            fbAuthStorage() {
                if (
                    JSON.parse(localStorage.getItem("vuex")) !== null &&
                    JSON.parse(localStorage.getItem("vuex")) != "undefined"
                ) {
                    return JSON.parse(localStorage.getItem("vuex")).auth.fb_authenticated;
                }
            },
            simpleAuthStorage() {
                if (
                    JSON.parse(localStorage.getItem("vuex")) != "undefined" &&
                    JSON.parse(localStorage.getItem("vuex")) !== null
                ) {
                    return JSON.parse(localStorage.getItem("vuex")).auth.authenticated;
                }
            }
        },
        methods: {
            login() {
                const self = this;

                if (this.$refs.login.validate()) {
                    localStorage.clear();
                    self.loader = true;
                    self.correctCredentials = true;
                    this.$store
                        .dispatch("login", {
                            email: self.user.email,
                            password: self.user.password
                        })
                        .then(response => {
                            if (response.data.code) {
                                if (response.data.code == 401) {
                                    self.correctCredentials = false;
                                    self.errorMessage =
                                        "The server encountered an internal error, Please contact the server administrator.";
                                    self.user.password = "";
                                    self.loader = false;
                                }
                            } else {
                                self.$router.push(self.$store.state.last_route);
                            }
                        })
                        .catch(response => {
                            if (response.error == 1) {
                                //Invalid credentials
                                self.correctCredentials = false;
                                self.errorMessage = response.body;
                                self.user.password = "";
                                self.loader = false;
                            } else {
                                //Internal server error
                                self.correctCredentials = false;
                                self.errorMessage =
                                    "The server encountered an internal error, Please contact the server administrator.";
                                self.user.password = "";
                                self.loader = false;
                                // self.$router.push(self.$store.state.last_route);
                                // console.log(response);
                            }
                        });
                }
            },
            initFb() {
                if (window.fbAsyncInit) delete window.fbAsyncInit;

                window.fbAsyncInit = function () {
                    FB.init({
                        appId: "227714717768787",
                        xfbml: true,
                        version: "v2.11"
                    });
                };
                (function (d, s, id) {
                    var js,
                        fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                })(document, "script", "facebook-jssdk");
            },
            fbLogin() {
                const self = this;

                self.loader = true;
                FB.getLoginStatus(function (response) {
                    if (response.status === "connected") {
                        console.log("CONNECTED");
                        var accessToken = response.authResponse.accessToken;
                        store
                            .dispatch("facebook_login", accessToken)
                            .then(response => {
                                self.$router.push(self.$store.state.last_route);
                                self.loader = false;
                            })
                            .catch(response => {
                                let errorMessage = response.response.data.message;
                                alert(errorMessage);
                                self.loader = false;
                            });
                    } else {
                        window.localStorage.setItem("fb_redirected", "true");
                        window.location.href = "/api/auth/facebook";
                        self.loader = false;
                    }
                });
            },
            signup() {
                const self = this;

                if (this.$refs.signup.validate()) {
                    this.$store.dispatch("signup", {
                        email: self.new_user.email,
                        password: self.new_user.password,
                        firstname: self.new_user.firstname,
                        lastname: self.new_user.lastname,
                        nickname: self.new_user.nickname
                    });
                    this.$router.push("/login");
                }
            }
        }
    };
</script>
<style>
    .gt_logo {
        height: 60px !important;
        width: 195px !important;
    }

    .background_image {
        background: url("http://pixcorners.com/wp-content/uploads/2016/12/Forest-Minimal-Download-Wallpaper-HD.jpg") no-repeat center center fixed;
        background-color: #cccccc;
        background-size: cover;
        height: 100%;
    }

    .card--flex-toolbar {
        padding: 30px;
    }

    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }

    @-moz-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @-o-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    div
    >>> .input-group.input-group--selection-controls.switch
    .input-group--selection-controls__ripple--active {
        /* -webkit-transform: translate3d(2px, -24px, 0); */
        transform: translate3d(11px, -24px, 0) !important;
    }

    div
    >>> .input-group.input-group--selection-controls.switch
    .input-group--selection-controls__ripple:after {
        content: "" !important;
        position: absolute !important;
        display: inline-block !important;
        cursor: pointer !important;
        width: 29px !important;
        border-radius: 50% !important;
        top: 50% !important;
        left: 110% !important;
        -webkit-transform: translate3d(-100%, -50%, 0) !important;
        transform: translate3d(-110%, -50%, 0) !important;
        height: 29px !important;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14),
        0 1px 10px rgba(0, 0, 0, 0.12) !important;
    }

    div
    >>> .input-group.input-group--selection-controls.switch
    .input-group--selection-controls__toggle {
        background-color: currentColor !important;
        color: inherit !important;
        position: absolute !important;
        height: 23px !important;
        top: 50% !important;
        width: 51px !important;
        border-radius: 100px !important;
        -webkit-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
        margin-left: 10px !important;
    }

    .slide-fade-enter-active {
        transition: all 0.3s ease;
    }

    .slide-fade-leave-active {
        transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
    }

    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */
    {
        transform: translateX(10px);
        opacity: 0;
    }
</style>

