<template>
  <div>
    <v-container grid-list-md text-xs-center fluid>
      <v-layout row wrap justify-center>
        <v-flex xs12>
          <v-card light flat>
            <v-layout row wrap>
              <v-flex xs7>
                <v-layout row wrap>
                  <v-flex xs2>
                    <v-subheader>Show me</v-subheader>
                  </v-flex>
                  <v-flex xs3>
                    <v-select v-bind:items="filterItems" v-model="selectedFilter" solo flat item-value="text" class="elevation-0" label="Categories" @input="filterChanged($event)" single-line bottom></v-select>
                  </v-flex>
                  <v-flex xs2 v-if="selectedFilter == 'Matches'">
                    <v-subheader>Sort By</v-subheader>
                  </v-flex>
                  <v-flex xs3 v-if="selectedFilter == 'Matches'">
                    <div>
                      <v-select v-bind:items="matchesFilterItems" v-model="selectedMatchesFilter" @input="matchesFilterChanged($event)" solo flat class="elevation-0" label="Select" single-line bottom></v-select>
                    </div>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
        <v-layout v-if="selectedFilter == 'Teams'" wrap justify-space-around>
          <v-flex v-for='team in teams' row :key="team.team_id" xs12 sm4>
            <v-card flat hover color="transparent" :to="/teams/ + team.team_id" width="250px!important" style="padding:20px">
              <v-img :src="team.category_image" height="150px">
              </v-img>
              <v-card-title primary-title>
                <div class="headline">{{team.name}}</div>
              </v-card-title>
              <v-card-text dark color="green darken-1">
                <div>{{team.description}}</div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
        <v-layout text-xs-left align-left wrap v-if="selectedFilter == 'Games'">
          <v-card flat tile v-for="(game, index) in games" :key="game.id" height="266px" color="transparent" :to="/directory/ + game.category_name + '/' + game.id" style=" width:170px; padding :10px;">
            <div :style="{ background: `url(${game.image})`,
                                                    height : '210px',
                                                    backgroundRepeat : 'no-repeat',
                                                    backgroundSize : 'contain',
                                                    backgroundPosition : 'center center'}" />
            <div style="margin-top:5px;">
              <span>{{game.game_name}}</span>
              <br>
              <span class="grey--text caption">{{game.matches.length}}{{game.matches.length > 1 ? ' Matches' : ' Match'}}</span>
              <br>
            </div>
          </v-card>
        </v-layout>
        <v-layout text-xs-left align-left wrap v-if="selectedFilter == 'Categories'">
          <v-card flat tile v-for="(category, index) in categories" :key="category.id" height="266px" color="transparent" :to="/directory/ + category.category_name" style=" width:170px; padding :10px;">
            <div :style="{ background: `url(${category.category_image})`,
                                                    height : '210px',
                                                    backgroundRepeat : 'no-repeat',
                                                    backgroundSize : 'contain',
                                                    backgroundPosition : 'center center'}" />
            <div style="margin-top:5px;">
              <span>{{category.category_name}}</span>
              <br>
              <span class="grey--text caption">{{category.games.length}}{{category.games.length > 1 ? ' Games' : ' Game'}}</span>
              <br>
            </div>
          </v-card>
        </v-layout>
        <v-layout text-xs-center align-center wrap v-if="selectedFilter == 'Players'">
          <v-card flat tile v-for="(player, index) in players" :key="player.id" height="200px" color="transparent" :to="/profile/ + player.id" style=" width:170px; padding :10px;">
            <v-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/220px-Color_icon_green.svg.png" height="150px">
              <v-container fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 align-center flexbox>
                    <v-avatar tile size="80px">
                      <img :src="player.profile_picture" alt="Profile Picture">
                    </v-avatar>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
            <div style="margin-top:5px;">
              <span>{{player.name}}</span>
              <br>
              <span class="grey--text caption">{{player.matches.length}}{{player.matches.length > 1 ? ' Matches' : ' Match'}}</span>
              <br>
            </div>
          </v-card>
        </v-layout>
        <v-layout text-xs-center align-center wrap v-if="selectedFilter == 'Matches'">
          <v-card flat tile v-for="(match, index) in matches" :key="match.id" height="200px" color="transparent" :to="match.match_mode == 'Team'? '/match/team/' + match.id : '/match/solo/' + match.id" style=" width:170px; padding :10px;">
            <v-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/220px-Color_icon_green.svg.png" height="150px">
              <v-container fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 align-center flexbox>
                    <div style="margin-top:5px;">
                      <span>{{match.match_name}}</span>
                      <br>
                      <span>{{match.match_date}}</span>
                      <br>
                      <v-chip small outline label>{{match.match_mode}}</v-chip>
                    </div>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
          </v-card>
        </v-layout>
        </v-flex>
      </v-layout>
      <v-layout align-center justify-center wrap v-show="loader">
        <v-card flat tile style=" width:150px; padding :10px;" color="transparent">
          <v-progress-circular indeterminate :size="32" color="blue-grey"></v-progress-circular>
        </v-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import CategoriesMixin from '../../../mixins/categoriesMixin'

export default {
  data() {
    return {
      selectedFilter: 'Categories',
      oldFilter: 'Categories',
      selectedMatchesFilter: '',
      categories: [],
      teams: [],
      games: [],
      players: [],
      matches: [],
      matchesRef: [],
      matchesTemp: [],
      offset: 0,
      loader: true,
      filterItems: [
        { text: 'Categories' },
        { text: 'Games' },
        { text: 'Players' },
        { text: 'Matches' },
        { text: 'Teams' }

      ],
      matchesFilterItems: [
        { text: 'Solo' },
        { text: 'Team' },
      ]
    }
  },

  destroyed: function() {
    window.removeEventListener('scroll', this.onScroll);
  },
  created() {
    const self = this;
    self.filterChanged('Categories');
    window.addEventListener('scroll', this.onScroll);

  },
  methods: {
    onScroll: function(event) {
      // your code here
      const self = this;
      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        console.log("bottom");
        self.offset++;
        console.log(this.selectedFilter);

        self.filterChanged(self.oldFilter);
        console.log(self.offset);
      }


    },
    matchesFilterChanged(event) {
      console.log('matchesFilterChanged');
      const self = this;
      switch (event) {
        case 'Solo':
          self.matchesTemp = self.matchesRef
          self.matches = self.matchesTemp.filter((a, b) => a.match_mode == 'Solo');
          break;
        case 'Team':
          self.matchesTemp = self.matchesRef
          self.matches = self.matchesTemp.filter((a, b) => a.match_mode == 'Team');
          break;
      }
    },
    filterChanged(event) {
      const self = this;
      if (self.oldFilter != event) {
        self.offset = 0;
        self.categories = [];
        self.games = [];
        self.players = [];
        self.matches = [];
      }
      switch (event) {
        case 'Categories':
          self.oldFilter = 'Categories';
          (self.categories.length > 0) ? self.loader = false: self.loader = true;
          self.$http.post('categories/byPage', { offset: self.offset, limit: 30 })
            .then((response) => {
              console.log(response.data.data);
              self.loader = false;
              self.categories.push(...response.data.data);
              console.log('categories', response);
            })
          break;
        case 'Games':
          self.oldFilter = 'Games';
          (self.games.length > 0) ? self.loader = false: self.loader = true;
          self.$http.post('games/byPage', { offset: self.offset, limit: 30 })
            .then((response) => {
              self.loader = false
              self.games.push(...response.data.data);
              console.log('games', response);
            })
          break;
        case 'Players':
          self.oldFilter = 'Players';
          (self.players.length > 0) ? self.loader = false: self.loader = true;
          self.$http.post('players/byPage', { offset: self.offset, limit: 30 })
            .then((response) => {
              self.loader = false
              self.players.push(...response.data.data);
              console.log('players', response);
            })
          break;
        case 'Matches':
          self.oldFilter = 'Matches';
          (self.matches.length > 0) ? self.loader = false: self.loader = true;
          self.$http.post('matches/byPage', { offset: self.offset, limit: 30 })
            .then((response) => {
              self.loader = false
              self.matches.push(...response.data.data);
              self.matchesRef.push(...response.data.data)
              console.log('matches', response);
            })
          break;
        case 'Teams':
          self.oldFilter = 'Teams';
          (self.teams.length > 0) ? self.loader = false: self.loader = true;
          self.$http.get('teams', { offset: self.offset, limit: 30 })
            .then((response) => {
              self.loader = false
              self.teams = response.data.data;
            })
          break;

      }

    }
  }
}
</script>

<style scoped>
</style>
