<template>
  <div>
    <v-card>
      <div style=" position:relative;">
        <v-parallax height="170" :src="background_image"></v-parallax>
        <v-card :class="'green'">
          <v-tabs :color="'green'" :scrollable="false" v-model="activeTab" style="margin-left:180px;">
            <v-tab :href="'#tab1'" ripple>Team Homepage</v-tab>
            <v-tab :href="'#tab2'" ripple>Team Member </v-tab>
            <v-tab :href="'#tab3'" ripple>Team Messages </v-tab>
            <v-tab :href="'#tab4'" ripple>Requests/Invitation</v-tab>
            <v-tabs-slider color="yellow"></v-tabs-slider>
          </v-tabs>
        </v-card>
        <v-card @click="teamEdit=true" flat tile style="width:170px; padding :2px; position:absolute; bottom:0px; margin-left:14px; margin-bottom:10px; vertical-align:middle">
          <v-img :src="team.image" height="150px" width="165px" @click="showInvite('edit')" stlye="object-fit:cover">
          </v-img>
        </v-card>
        <div style="height:70px; width:300px;  position: absolute; bottom:0px; margin-left:185px; margin-bottom:50px;">
          <div>
            <div style="margin-top:-1px; margin-left:6px;">
              <div class="headline white--text">
                {{team.team_name}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <v-container grid-list-xs text-xs-center fluid>
        <v-layout row wrap>
          <v-flex xs12>
            <v-tabs-items v-model="activeTab">
              <v-tab-item value="tab1">
                <v-alert color="blue" icon="check_circle" :value="alert" dismissible dense transition="scale-transition">
                  {{messageAlert}}
                </v-alert>
                <v-alert color="error" icon="warning" :value="error" dismissible dense transition="scale-transition">
                  {{errorAlert}}
                </v-alert>
                <v-card flat>
                  <v-list two-line>
                    <v-list-tile>
                      <v-list-tile-content>
                        <v-list-tile-title>Team Game</v-list-tile-title>
                        <v-list-tile-sub-title> {{game_name}}
                        </v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                      <v-list-tile-content>
                        <v-list-tile-title>Team Description</v-list-tile-title>
                        <v-list-tile-sub-title>{{team.team_description}}
                        </v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-divider></v-divider>
                  </v-list>
                  <v-card-actions>
                    <v-btn color="green" v-if="invitation_button && is_teamMember" @click="showInvite('invite')">Invite a player</v-btn>
                    <v-btn color="green" v-if="!is_teamMember" @click="showInvite('join')">Join the team</v-btn>
                  </v-card-actions>
                </v-card>
              </v-tab-item>
              <v-tab-item value="tab2">
                <v-layout>
                  <v-flex>
                    <v-container fluid grid-list-xs text-xs-center>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-layout row wrap>
                            <v-flex xs12>
                              <v-layout row wrap>
                                <v-flex xs4>
                                  <v-card dark flat class="sharp" :color="tabs_color">
                                    <v-subheader>Player Name</v-subheader>
                                  </v-card>
                                </v-flex>
                                <v-flex xs4>
                                  <v-card dark flat class="sharp" :color="tabs_color">
                                    <v-subheader>Player Email</v-subheader>
                                  </v-card>
                                </v-flex>
                                <v-flex xs4>
                                  <v-card dark flat class="sharp" :color="tabs_color">
                                    <v-subheader>Actions</v-subheader>
                                  </v-card>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                      <v-divider></v-divider>
                      <v-layout row wrap v-for="(i, index) in memberData" :key="index">
                        <v-flex xs12 @click="">
                          <v-layout row wrap>
                            <v-flex xs4>
                              <v-card light flat class="sharp">
                                <v-subheader>{{i.name}}</v-subheader>
                              </v-card>
                            </v-flex>
                            <v-flex xs4>
                              <v-card light flat class="sharp">
                                <v-subheader> {{i.email}}</v-subheader>
                              </v-card>
                            </v-flex>
                            <v-flex xs4>
                              <v-card light flat class="sharp">
                                <v-btn flat outline color="blue" @click="viewProfile(i.id)">
                                  View Player
                                </v-btn>
                              </v-card>
                            </v-flex>
                          </v-layout>
                          <v-divider></v-divider>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-tab-item>
              <!-- Group Chat -->
              <v-tab-item value="tab3">
                Group Chat
                <v-flex>
                  <v-card>
                    <v-list two-line>
                      <template v-for="message in messages">
                        <v-subheader v-if="message.header" v-text="message.header"></v-subheader>
                        <v-divider v-else-if="message.divider" v-bind:inset="message.inset"></v-divider>
                        <v-list-tile avatar v-else v-bind:key="message.title" @click="">
                          <v-list-tile-content>
                            <v-list-tile-sub-title v-html="message.subtitle"></v-list-tile-sub-title>
                          </v-list-tile-content>
                        </v-list-tile>
                      </template>
                    </v-list>
                  </v-card>
                  <v-textarea name="input-1" label="Enter message here . . ." v-model="chatMessage" textarea>
                  </v-textarea>
                  <v-btn outline color="indigo" @click="sendMessage()">Send Message</v-btn>
                </v-flex>
              </v-tab-item>
              <v-tab-item value="tab4">
                <v-layout>
                  <v-flex>
                    <v-container fluid grid-list-xs text-xs-center>
                      <v-layout row wrap>
                        <v-flex xs12>
                          <v-layout row wrap>
                            <v-flex xs12>
                              <v-layout row wrap>
                                <v-flex xs3>
                                  <v-card dark flat class="sharp" :color="tabs_color">
                                    <v-subheader>Player Nickname</v-subheader>
                                  </v-card>
                                </v-flex>
                                <v-flex xs3>
                                  <v-card dark flat class="sharp" :color="tabs_color">
                                    <v-subheader>Mode</v-subheader>
                                  </v-card>
                                </v-flex>
                                <v-flex xs3>
                                  <v-card dark flat class="sharp" :color="tabs_color">
                                    <v-subheader>Status</v-subheader>
                                  </v-card>
                                </v-flex>
                                <v-flex xs3>
                                  <v-card dark flat class="sharp" :color="tabs_color">
                                    <v-subheader>Actions</v-subheader>
                                  </v-card>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                      <v-divider></v-divider>
                      <v-layout row wrap v-for="(i, index) in team_request" :key="index">
                        <v-flex xs12 @click="">
                          <v-layout row wrap>
                            <v-flex xs3>
                              <v-card light flat class="sharp">
                                <v-subheader>{{i.player.player_nickname}}</v-subheader>
                              </v-card>
                            </v-flex>
                            <v-flex xs3>
                              <v-card light flat class="sharp">
                                <v-subheader v-if="i.mode === 'player invite'"> Requests to Join</v-subheader>
                                <v-subheader v-else> Invited to Join</v-subheader>
                              </v-card>
                            </v-flex>
                            <v-flex xs3>
                              <v-card light flat class="sharp">
                                <v-subheader>{{i.status}}</v-subheader>
                              </v-card>
                            </v-flex>
                            <v-flex xs3>
                              <v-card light flat class="sharp">
                                <v-btn flat outline color="blue" @click="playerRequest('accept',i.player_id,index)" v-if="i.mode === 'player invite'">
                                  Accept
                                </v-btn>
                                <v-btn flat outline color="red" @click="playerRequest('accept',i.player_id,index)" v-if="i.mode === 'player invite'">
                                  Reject
                                </v-btn>
                              </v-card>
                            </v-flex>
                          </v-layout>
                          <v-divider></v-divider>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-tab-item>
            </v-tabs-items>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    <v-dialog v-model="inviteDialog">
      <v-card>
        <v-toolbar color="light-green darken-1">
          <v-btn icon @click="inviteDialog = false">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          <v-toolbar-title>Invite a player</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <h1 class="title">Select a player</h1>
          <h2 class="subheading mb-5"></h2>
          <v-select label="All Players" :items="players" item-value="text" v-model="nickname"></v-select>
        </v-card-text>
      </v-card>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="light-green darken-1" @click.native="inviteDialog = false">Cancel</v-btn>
        <v-btn color="light-green darken-1" @click="inviteUser()">Invite</v-btn>
      </v-card-actions>
    </v-dialog>
    <v-dialog v-model="leaveDialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span>are you sure to leave this Team?</span>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-actions>
          <v-btn color="primary" flat @click.stop="leaveDialog=false">Cancel</v-btn>
          <v-btn color="primary" flat @click.stop="leaveTeam()">Yes Leave this team</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="teamEdit" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar color="light-green darken-1">
          <v-btn icon @click="teamEdit = false">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          <v-toolbar-title>Team Details Edit</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-title>
        </v-card-title>
        <v-card-text>
          <template>
            <v-form v-model="team_form">
              <v-text-field label="Team Name" v-model="team.team_name" persistent-hint></v-text-field>
              <v-text-field label="Team Description" v-model="team.team_description" persistent-hint></v-text-field>
              <v-text-field label="Game Category" disabled v-model="category_name" persistent-hint></v-text-field>
              <v-text-field label="Game" disabled v-model="game_name" persistent-hint></v-text-field>
              <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                <img :src="imageUrl" height="150" v-if="imageUrl" />
                <v-text-field label="Select Image" @click="$refs.image.click ()" v-model='imageName' prepend-icon='attach_file'></v-text-field>
                <input type="file" style="display: none" ref="image" accept="image/*" @change="onFilePicked">
              </v-flex>
              <v-checkbox v-model="team.accept_request" label="Accept request for joining the team?" hide-details></v-checkbox>
            </v-form>
          </template>
        </v-card-text>
        <v-card-actions center>
          <v-spacer></v-spacer>
          <v-btn color="light-green darken-1" @click.native="teamEdit = false">Close</v-btn>
          <v-btn color="light-green darken-1" @click="saveTeam">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="joinDialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span>Send request to join this Team?</span>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-actions>
          <v-btn color="secondary" flat @click.stop="joinDialog=false">Cancel</v-btn>
          <v-btn color="primary" flat @click.stop="joinTeam()">Yes Join this Team</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import store from '../../../vuex/mainpage/store.js'

export default {
  props: ['id'],
  data() {
    return {
      activeTab: 'tab1',
      tabs_color: 'green',
      chatMessage: '',
      team_form: false,
      imageName: null,
      imageUrl: null,
      teamEdit: false,
      inviteDialog: false,
      joinDialog: false,
      leaveDialog: false,
      nickname: '',
      messageAlert: '',
      errorAlert: [],
      alert: false,
      error: false,
      teamChat: [
        { header: 'Conversation' },
      ],
      notifications: false,
      sound: false,
      video: false,
      invites: false,
      // tabs: ['Team History', 'Team Member', 'Team Chat', 'Players Request to Join'],
      search: '',
      pagination: {},
      selected: [],
      teamData: [],
      team_matches: [],
      memberData: [],
      allPlayers: [],
      list_of_request: [],
      inviteButtonDisable: true,
      joinButtonDisable: true,

    }
  },
  created() {},
  computed: {
    invitation_button() {
      if (this.player.player_id === this.team.team_leader) {
        return true;
      } else {
        return false;
      }
    },
    category_name() {
      if (this.team && this.team.category) {
        return this.team.category.category_name;
      }
    },
    game_name() {
      if (this.team && this.team.game) {
        return this.team.game.game_name;
      }
    },
    is_teamMember() {
      let player_member = false;

      for (let x = 0; x < this.memberData.length; x++) {

        if (this.memberData[x].id === this.player.player_id) {
          player_member = true;
        }
      }

      return player_member;
    },
    background_image() {
      if (this.team && this.team.game && this.team.game.background_image) {
        return this.team.game.background_image;
      } else {
        return "";
      }
    },
    tabs() {
      let player_member = false;

      for (let x = 0; x < this.memberData.length; x++) {
        if (this.memberData[x].id === this.player.player_id)
          player_member = true;
      }

      if (this.player.player_id === this.team.team_leader) {
        return ['Team History', 'Team Member', 'Team Chat', 'Players Request to Join']
      } else if (player_member === true) {
        return ['Team History', 'Team Member', 'Team Chat'];
      } else {
        return ['Team History', 'Team Member'];
      }


    },
    team() {
      return this.teamData
    },
    team_request() {
      return this.list_of_request
    },
    teamMember() {
      return this.memberData
    },
    player() {
      return store.getters.currentPlayer
    },
    players() {
      return this.allPlayers.filter(player => {
        let isMember = false;

        for (let x = 0; x < this.memberData.length; x++) {
          if(this.memberData[x].id === player.id) {
            isMember = true;
          }
        }

        if(isMember === false) {
          return player;
        }
      }).map(player => {
        return {text: player.name, value: player.name}
      })
    },
    messages() {
      if (this.teamChat.length === 0) {
        return [{ 'header': this.teamData.team_name + ' Group Chat' }];
      }

      return this.teamChat
    },
    items() {
      return this.team_matches;
    },
  },
  mounted() {
    this.teamRequest()
    this.getAllPlayers()
    this.getTeamChat()
    this.getTeam()
    this.getTeamMember()
    this.getTeamMatches()
    Echo.channel('team-chat-' + this.id)
      .listen('TeamChatMessage', (e) => {

        let message = {
          subtitle: "<span class='grey--text text--darken-2'> " + e.player_nickname + "</span> &mdash; " + e.message
        }

        let divider = { divider: true, inset: true }

        this.messages.push(message)
        this.messages.push(divider)
      });

  },
  methods: {
    onFilePicked(event) {
      const files = event.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        this.teamImageUploader(event)
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },
    teamImageUploader(event) {
      const self = this
      let files = event.target.files,
        formData = new FormData()
      formData.append('image', files[0])
      formData.append('strategy', 'cover')
      self.$http.post('file/upload', formData)
        .then((response) => {
          toastr.success('Team image uploaded successfully!')
          self.team.image = response.data.url
        }).catch(({ response }) => {
          if (response.data.error) {
            toastr.error(response.data.error.message)
          } else {
            toastr.error(response.status + ' : Resource ' + response.statusText)
          }
        })
    },
    getAllPlayers() {
      axios.get('/api/players')
        .then(response => {
          this.allPlayers = response.data.data;
        }).catch(response => {})

    },
    showInvite(mode) {
      if (mode === 'invite')
        this.inviteDialog = true;

      if (mode === 'leave')
        this.leaveDialog = true;

      if (mode === 'join')
        this.joinDialog = true;

      if (mode === 'edit')
        this.teamEdit = true;

    },
    saveTeam() {
      this.team.status = 'Active';
      axios.put('/api/team/' + this.id,this.team)
        .then(response => {
            this.teamEdit = false;
            this.messageAlert = 'Successfully Updated!'
            this.alert = true
        }).catch(response => {})
    },
    getTeamChat() {
      let data = ''
      axios.get('/api/team/chat?team_id=' + this.id + '&player_id=' + this.player.player_id)
        .then(response => {
          this.teamChat = response.data
          if (response.data.length == 0) {
            this.teamChat.header = this.teamData.team_name + ' Group Chat';
          }
        }).catch(response => {})
    },
    getTeam() {
      axios.get('/api/team/' + this.id + '/edit')
        .then(response => {
          this.teamData = response.data

          if (this.teamData.image) {
            this.imageUrl = this.teamData.image;
          }

        }).catch(response => {})
    },
    getTeamMember() {
      let data = {
        team_id: this.id
      }

      axios.post('/api/players/team', data)
        .then(response => {
          this.memberData = response.data.data
        }).catch(response => {})
    },
    getTeamMatches() {
      axios.get('/api/team/' + this.id + '/matches')
        .then(response => {
          this.team_matches = response.data
        }).catch(response => {})
    },
    sendMessage() {
      let data = {
        team_id: this.id,
        player_id: this.player.player_id,
        message: this.chatMessage
      }

      axios.post('/api/team/message', data)
        .then(response => {
          this.chatMessage = ''
        }).catch(response => {})
    },
    inviteUser() {
      let data = {
        nickname: this.nickname,
        team_id: this.team.team_id
      }

      axios.post('/api/team/invite/player', data)
        .then(response => {
          if (response.data.code == 200) {
            this.messageAlert = response.data.message
            this.alert = true
            this.inviteDialog = false
          } else {
            this.errorAlert = response.data.message
            this.error = true
            this.inviteDialog = false
          }
          this.nickname = null;
        }).catch(response => {})
    },
    leaveTeam() {
      let data = {
        player_id: this.player.player_id,
        team_id: this.id
      }

      axios.post('/api/team/leave', data)
        .then(response => {
          this.$router.push('/teams')
        }).catch(response => {})
    },
    joinTeam() {
      let data = {
        player_id: this.player.player_id,
        team_id: this.id
      }

      axios.post('/api/team/join', data)
        .then(response => {
          setTimeout(function() { this.alert = false; }, 1500);
          this.messageAlert = "Request Sent!"
          this.alert = true
          this.joinDialog = false
        }).catch(response => {
          setTimeout(function() { this.error = false; }, 1500);
          this.errorAlert = "You already have a request to join this team"
          this.error = true
          this.joinDialog = false
        })
    },
    teamRequest() {

      axios.post('/api/team/' + this.id + '/requests')
        .then(response => {
          this.list_of_request = response.data
        }).catch(response => {})
    },
    playerRequest(mode, player_id, index) {
      let data = {
          player_id: player_id,
          team_id: this.id
        },
        url = "";

      if (mode === 'accept')
        url = '/api/team/invite/accept';
      else
        url = '/api/team/invite/reject';

      axios.post(url, data)
        .then(response => {
          this.$router.push('/teams/' + this.id)
          this.team_request.splice(index - 1, 1)
        }).catch(response => {})
    },
    viewProfile(player_id) {
      this.$router.push('/profile/' + player_id)
    }
  },
}
</script>
