<template>
  <v-card>
    <div style=" position:relative;">
      <v-parallax height="170" src="http://hdwarena.com/wp-content/uploads/2017/10/Free-Cool-Wallpaper.jpg"></v-parallax>
      <v-card :class="tabs_color">
        <v-tabs :color="tabs_color" :scrollable="false" v-model="activeTab" style="margin-left:125px;">
          <v-tab :href="'#tab1'" ripple>Recent Matches</v-tab>
          <v-tab :href="'#tab2'" ripple>Friends </v-tab>
          <v-tab :href="'#tab3'" ripple>Teams </v-tab>
          <v-tabs-slider color="yellow"></v-tabs-slider>
        </v-tabs>
      </v-card>
      <v-card flat tile style=" width:120px; padding :2px; position:absolute; bottom:0px; margin-left:17px; margin-bottom:10px; vertical-align:middle">
        <v-img :src="player_information.profile_picture" height="100px">
        </v-img>
      </v-card>
      <div style="height:70px; width:300px;  position: absolute; bottom:0px; margin-left:125px; margin-bottom:50px;">
        <div>
          <div style="margin-top:-1px; margin-left:6px;">
            <div class="headline white--text">{{player_information.name}}</div>
          </div>
        </div>
        <div style="margin-top:-1px; margin-left:6px;" v-if="!hide_buttons">
          <v-btn dark small color="indigo" @click="sendFriendRequest()" v-if="friendButton && !friendRequestPending">
            Add Friend
          </v-btn>
          <v-btn dark small color="indigo" v-else>
            Request Pending
          </v-btn>
          <v-btn dark small color="green">
            Invite
          </v-btn>
        </div>
      </div>
    </div>
    <v-container grid-list-xs text-xs-center fluid>
      <v-layout row wrap>
        <v-flex xs12>
          <v-tabs-items v-model="activeTab">
            <v-tab-item id="tab1">
              <v-container fluid grid-list-xs text-xs-center>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-layout row wrap>
                          <v-flex xs2>
                            <v-card dark flat class="sharp" :color="tabs_color">
                              <v-subheader>Name</v-subheader>
                            </v-card>
                          </v-flex>
                          <v-flex xs2>
                            <v-card dark flat class="sharp" :color="tabs_color">
                              <v-subheader> Match Date</v-subheader>
                            </v-card>
                          </v-flex>
                          <v-flex xs2>
                            <v-card dark flat class="sharp" :color="tabs_color">
                              <v-subheader> Match Mode</v-subheader>
                            </v-card>
                          </v-flex>
                          <v-flex xs2>
                            <v-card dark flat class="sharp" :color="tabs_color">
                              <v-subheader> Match Status</v-subheader>
                            </v-card>
                          </v-flex>
                          <v-flex xs2>
                            <v-card dark flat class="sharp" :color="tabs_color">
                              <v-subheader> Match Details</v-subheader>
                            </v-card>
                          </v-flex>
                          <v-flex xs2>
                            <v-card dark flat class="sharp" :color="tabs_color">
                              <v-subheader></v-subheader>
                            </v-card>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout row wrap v-for="(i, index) in player_information.matches" :key="index" v-if="player_information.matches.length > 0">
                  <v-flex xs12 @click="">
                    <v-layout row wrap>
                      <v-flex xs2>
                        <v-card light flat class="sharp">
                          <v-subheader>{{i.match_name}}</v-subheader>
                        </v-card>
                      </v-flex>
                      <v-flex xs2>
                        <v-card light flat class="sharp">
                          <v-subheader> {{i.match_date}}</v-subheader>
                        </v-card>
                      </v-flex>
                      <v-flex xs2>
                        <v-card light flat class="sharp">
                          <v-subheader>{{i.match_mode}}</v-subheader>
                        </v-card>
                      </v-flex>
                      <v-flex xs2>
                        <v-card light flat class="sharp">
                          <v-subheader>{{i.match_status}}</v-subheader>
                        </v-card>
                      </v-flex>
                      <v-flex xs2>
                        <v-card light flat class="sharp">
                          <v-subheader>{{i.match_details}}</v-subheader>
                        </v-card>
                      </v-flex>
                      <v-flex xs2>
                        <v-card light flat class="sharp">
                          <v-btn flat outline color="orange" :to="i.match_mode == 'Team'? '/match/team/' + i.id : '/match/solo/' + i.id  ">
                            View Match
                          </v-btn>
                        </v-card>
                      </v-flex>
                    </v-layout>
                    <v-divider></v-divider>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-tab-item>
            <v-tab-item id="tab2">
              <v-list subheader>
                <v-subheader>List of Friends</v-subheader>
                <v-list-tile avatar v-for="item in friends" :key="item.name" @click="" v-if="friends != null && friends.length > 0">
                  <v-list-tile-avatar>
                    <img :src="item.avatar" />
                  </v-list-tile-avatar>
                  <v-list-tile-content @click="writeMessage(item)">
                    <v-list-tile-title v-html="item.name"></v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile-content v-else>
                  <v-list-tile-title>No friends yet.</v-list-tile-title>
                </v-list-tile-content>
              </v-list>
              <v-list subheader v-if="isProfileForViewer">
                <v-subheader>Pending Requests</v-subheader>
                <v-list-tile avatar v-for="item in pending" :key="item.recipient.name" @click="">
                  <v-list-tile-avatar>
                    <img :src="item.avatar" />
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-if="item.sender_id === $store.getters.currentPlayer.user_id" v-html="item.recipient.name"></v-list-tile-title>
                    <v-list-tile-title v-else-if="item.recipient_id === $store.getters.currentPlayer.user_id" v-html="item.sender.name"></v-list-tile-title>
                    <v-btn dark small color="indigo" @click="acceptFriendRequest(item.sender_id)" v-if="item.recipient_id === $store.getters.currentPlayer.user_id">
                      Accept Request
                    </v-btn>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-tab-item>
            <v-tab-item id="tab3">
              List of Teams
              <v-flex xs12>
                <v-layout>
                  <v-card v-for='team in teams' row :key="team.team_id" tile height="266px" color="transparent" :to="/teams/ + team.team_id" style=" width:170px; padding :10px;">
                    <v-card-title primary-title>
                      <div class="headline">{{team.team_name}}</div>
                    </v-card-title>
                    <v-card-text dark color="green darken-1">
                      <div>{{team.team_description}}</div>
                    </v-card-text>
                  </v-card>
                </v-layout>
              </v-flex>
            </v-tab-item>
          </v-tabs-items>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: ['id'],
  data() {
    return {
      teams: [],
      hide_buttons: false,
      tabs_color: 'green',
      activeTab: null,
      player_information: [],
      friends: [],
      teamData: [],
      // friends: [],
      pending: {},
      friendRequestPending: false
    }
  },
  watch: {
    '$route' (to, from) {
      const self = this;
      if (to.params.id == self.currentPlayer.player_id) {
        self.hide_buttons = true;
      }
      self.getProfileByID(to.params.id);
    }
  },
  computed: {
    friendButton() {
      return this.player_information.id !== this.$store.getters.currentPlayer.player_id
    },
    currentPlayer() {
      return this.$store.getters.currentPlayer;
    },
    player_id() {
      return this.$store.getters.currentUser.player.player_id
    },
    player() {
      return this.$store.getters.currentPlayer;
    },
    isProfileForViewer() {
      return this.player_information.id === this.$store.getters.currentPlayer.player_id
    }
  },
  methods: {
    writeMessage(friend) {
      // let data = {
      //    receiver_id : 5,
      //    receiver_nickname: "Jerome"
      // };

      let data = {
        //    player_sender : this.player.player_id,
        player_receiver: friend.recipient_id,
        receiver_nickname: friend.name
      };
      this.$store.dispatch('toggleMessageDialog', true)
      this.$store.dispatch('setConversation', data)
    },
    getProfileByID(id) {
      const self = this;
      self.$http.get('player/' + id + '/profile')
        .then((response) => {
          self.player_information = response.data.data;
        }, response => {
          /*this.$router.push("/404");*/
        });
    },
    sendFriendRequest() {
      const self = this
      self.$http.post('send-friend-request', {
          recipient_id: self.player_information.id,
          recipient_name: self.player_information.name
        })
        .then((response) => {
          console.log('notif', response.data);
        }, response => {
          /*this.$router.push("/404");*/
        });
    },
    getUserFriends(id) {
      const self = this
      self.$http.get('get-friend-list/' + id)
        .then((response) => {
          self.friends = response.data
        }, response => {
          /*this.$router.push("/404");*/
        });
    },
    getPendingRequests(id) {
      const self = this
      self.$http.get('get-friend-requests/' + id)
        .then((response) => {
          this.pending = response.data
          if (!this.isProfileForViewer) {
            this.checkVisitorsRequests()
          }
        }, response => {
          /*this.$router.push("/404");*/
        });
    },
    generateTeams() {
      let data = {
        player_id: this.player_id,
      }

      axios.post('/api/teams/player', data)
        .then(response => {
          this.teams = response.data
        })
    },
    acceptFriendRequest(sender_id) {
      console.log('sender', sender_id)
      const self = this

      self.$http.post('accept-friend-requests', {
          requester_id: sender_id
        })
        .then((response) => {
          console.log('notif', response.data);
        }, response => {
          /*this.$router.push("/404");*/
        });
    },
    checkVisitorsRequests() {
      if (this.pending != null && this.pending.length > 0) {
        let obj = this.pending,
          currentUser = this.$store.getters.currentPlayer.user_id
        Object.keys(obj).forEach((key) => {
          if (obj[key]['sender_id'] === currentUser) {
            this.friendRequestPending = true
          }
        });
      } else {
        return false
      }
    },
    getTeam() {
      axios.get('/api/team/' + this.id + '/edit')
        .then(response => {
            console.log(response)
          this.teamData = response.data
        }).catch(response => {})
    },
  },
  mounted() {
    this.getTeam();
    this.generateTeams();
    this.getProfileByID(this.$route.params.id);
    this.getUserFriends(this.$route.params.id);
    this.getPendingRequests(this.$route.params.id);
  },
  created() {
    const self = this;
    if (self.currentPlayer.player_id == this.$route.params.id) {
      self.hide_buttons = true;
    }
    self.getProfileByID(self.$route.params.id);
  }
}
</script>
