<template></template>
<script>
  import store from '../../../vuex/mainpage/store.js'
  export default {
    props: ['id'],
    data () {
      return {
      }
 	},
    computed: {
      teamMember () {
        return this.memberData
      }
    },
    mounted() {
      this.getTeamMember()
    },
    methods: {
      showInvite () {
        this.inviteDialog = true
      },
      getTeamMember () {
        let data = {
          team_id : this.id
        }
   
        axios.post('/api/players/team', data)
        .then(response => {
          this.memberData = response.data.data
        }) 
        .catch(response => {
        }) 
      },
      inviteUser () {
        let data = {
          nickname: this.nickname,
          team_id: this.team.team_id
        }

        axios.post('/api/team/invite/player', data)
        .then(response => {
          if(response.data.code === '200') {
            this.messageAlert = response.data.message
            this.alert = true
            this.inviteDialog = false
          }
          else{
            this.errorAlert= response.data.message
            this.error = true
            this.inviteDialog = false
          }
        }) 
        .catch(response => {
        }) 
      }
    }
  }

</script>