<template>
  <div>
    <v-toolbar color="light-green darken-1">
      <v-toolbar-title class="white--text">Teams you joined</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="grey darken-2" flat right @click="add()">
        Create a Team
      </v-btn>
    </v-toolbar>
    <v-alert color="success" icon="check_circle" :value="alert" transition="scale-transition">
      {{messageAlert}}
    </v-alert>
    <v-layout wrap justify-space-around style="margin-top:10px;">
      <v-flex v-for='team in teams' :key="team.team_id" xs12 sm4>
        <v-card tile hover flat color="transparent" :to="'/teams/'+ team.team_id" style="padding:20px;margin-right: 10px;max-height: 500px;height: 350px;">
          <v-img :src="team.image" style="max-height: 100%;max-width: 100%;">
          </v-img>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">{{team.team_name}}</h3>
              <div>
                <span >{{team.game.category_name}} - {{team.game.game_name}} </span>
                <br>
                <!-- <span>{{match.match_date}}</span> -->
                <br>
              </div>
            </div>
          </v-card-title>

<!--             <v-card-title>
              <div>
                <h3 class="headline mb-3">{{team.team_name}}</h3>
                  <h5 class="headline mb-5">{{team.game.game_name}}</h5>
              </div>
            </v-card-title> -->
            <v-card-actions>
              <!-- <v-btn @click="viewTeam(team)"  blue>View</v-btn> -->
            </v-card-actions>
            </v-card>
      </v-flex>
    </v-layout>
    <!--  <v-layout>
            <v-card flat tile  v-for="(match, index) in globalMatches"
                :key="match.id"
                height="30%"
                color="transparent"
                :to="match.match_mode == 'Team'? '/match/team/' + match.id : '/match/solo/' + match.id" style=" width:25%; padding :10px;">
                <v-img 
                        src="http://xdesktopwallpapers.com/wp-content/uploads/2012/04/Cool%20Vs%20Hot%20Fists%20On%20Black%20Background.jpg"
                        height="150px" >
                </v-img>

                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">{{match.match_name}}</h3>
                        <div>
                            <span>{{match.match_status}}</span><br>
                            <span>{{match.match_date}}</span><br>
                            <span>{{match.game_details[0].game_name}}</span><br>
                            <v-chip small outline label>{{match.match_mode}}</v-chip>
                        </div>
                    </div>
                </v-card-title>
            </v-card>
        </v-layout> -->
    <v-dialog v-model="dialog">
      <v-card>
        <v-toolbar color="light-green darken-1">
          <v-btn icon @click="dialog = false">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          <v-toolbar-title>Create Team</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <h1 class="title">Team Details and Statistics</h1>
          <h2 class="subheading mb-5"></h2>
          <v-text-field :disabled="disabled" label="Team Name" v-model="team.name" persistent-hint></v-text-field>
          <v-text-field :disabled="disabled" label="Team Description" v-model="team.description" persistent-hint></v-text-field>
          <v-select label="Games Category/Criteria" :disabled="disabled" :items="options" v-model="team.category_id"></v-select>
          <v-select label="Games" :disabled="disabled" :items="games" v-model="team.game_id"></v-select>
          <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
            <img :src="imageUrl" height="150" v-if="imageUrl" />
            <v-text-field label="Select Image" @click="$refs.image.click ()" v-model='imageName' prepend-icon='attach_file'></v-text-field>
            <input type="file" style="display: none" ref="image" accept="image/*" @change="onFilePicked">
          </v-flex>
          <v-checkbox v-model="team.accept_request" label="Accept request for joining the team?" hide-details></v-checkbox>
        </v-card-text>
      </v-card>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="light-green darken-1" @click.native="dialog = false">Close</v-btn>
        <v-btn color="light-green darken-1" @click="createTeam">Create Team</v-btn>
      </v-card-actions>
    </v-dialog>
    <!--     <v-dialog v-model="deleteDialog" max-width="290">
              <v-card>
                <v-card-title class="headline">Are you sure to delete this {{this.team.name}} ? </v-card-title>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="brown darken-1" flat="flat" @click.native="deleteDialog = false">Disagree</v-btn>
                  <v-btn color="red darken-1" flat="flat" @click="deleteTeam">Agree</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog> -->
  </div>
</template>

<script>
import store from '../../../vuex/mainpage/store.js'

export default {
  data() {
    return {
      imageName: null,
      imageUrl: null,
      dialog: false,
      deleteDialog: false,
      team: [],
      alert: false,
      messageAlert: '',
      games_list: [],
      team_infos: []
    }
  },
  computed: {
    player_id() {
      return this.$store.getters.currentUser.player.player_id
    },
    teams() {
      let teams = store.getters.getTeams;

      teams.map(function(team){
        team.game = store.getters.getGames.find(function(game){
          return team.game_id == game.id
        });

        return team;
      })      
      return teams;
    },
    disabled() {
      return false
    },
    options() {
      return $.map(store.getters.getCategories, function(info, index) {
        return [{ text: info.category_name, value: info.id }];
      });
    },
    games() {
      if(Object.keys(this.team).length === 0  && !this.team.category_id) {
        return store.getters.getGames.map(function(game){
          return { text: game.game_name, value: game.id }
        })

      } else{
        return store.getters.getGames.filter(game => {
          return game.category_id === this.team.category_id
        }).map(function(game){
          return { text: game.game_name, value: game.id }
        });
      }

    }
  },
  created(){
    store.dispatch('generateGames')
    store.dispatch('generateTeams',this.player_id);
  },
  mounted() {
    // store.dispatch('generateCategories')
    // this.generateTeam()
  },
  methods: {
    onFilePicked(event) {
      const files = event.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        this.teamImageUploader(event)
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },
    teamImageUploader(event) {
      const self = this
      let files = event.target.files,
        formData = new FormData()
      formData.append('image', files[0])
      formData.append('strategy', 'cover')
      self.$http.post('file/upload', formData)
        .then((response) => {
            toastr.success('Team image uploaded successfully!')
            self.team.image = response.data.url
        }).catch(({ response }) => {
          if (response.data.error) {
            toastr.error(response.data.error.message)
          } else {
            toastr.error(response.status + ' : Resource ' + response.statusText)
          }
        })
    },
    add() {
      this.team = []
      this.dialog = true
    },
    viewTeam(team) {
      store.dispatch('setCurrentTeam', team)
      this.$router.push('/teams/' + team.team_id)
    },
    updateTeam() {
      let data = {
          team_name: this.team.name,
          team_description: this.team.description,
          category_id: this.team.category_id,
          team_leader: this.player_id,
          accept_request: this.team.accept_request
        },
        url = 'api/team/' + this.team.team_id;

      axios.patch(url, data)
        .then(response => {
          this.messageAlert = 'You successfully updated' + this.team.name
          this.dialog = false
          this.alert = true;
        })
        .catch(response => {
          this.messageAlert = 'Internal Server Error '
          this.dialog = false
          this.alert = true;
        })
    },
    createTeam() {
      let data = {
        team_name: this.team.name,
        team_description: this.team.description,
        category_id: this.team.category_id,
        team_leader: this.player_id,
        game_id: this.team.game_id,
        accept_request: this.team.accept_request,
        image: this.team.image
      };
      axios.post('api/team', data)
        .then(response => {
          console.log(response.data.data)
          let team = response.data.data
          team.team_name = team.name
          this.messageAlert = 'You successfully Created ' + this.team.name
          this.dialog = false
          this.alert = true;
          this.teams.push(team)
          this.team = []
        })
        .catch(response => {
          this.messageAlert = 'Internal Server Error '
          this.dialog = false
          this.alert = true;
          reject({ error: 2, body: response })
        })
    },
  }
}
</script>
