<template>
    <vue-form title="Edit Team">
        <div slot="buttons">
            <router-link to="/admin/dashboard/teams" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <team-form :team="team"></team-form>
        </div>
    </vue-form>
</template>

<script>
    import TeamForm from './Form'
    export default{
        components: {TeamForm},
        data: () => {
            return {
                team: []
            }
        },
        mounted() {
            const self = this
            self.loadTeam(self)
        },
        methods: {
            loadTeam(self) {
                self.$http.get('team/' + self.$route.params.id + '/edit')
                    .then((response) => {
                        self.team = response.data
                    })
            },
        }
    }
</script>