<template>
    <div class="row">
        <div class="form-horizontal col-md-9 col-md-offset-1" >
            <div class="col-sm-12">
              <div class="form-group">
                    <label class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        <multiselect
                                v-model="selected"
                                :options="options"
                                label="category_name"
                                placeholder="Select Category"
                                track-by="category_name">
                        </multiselect>
                    </div>
                </div>
                <div class="form-group">
                    <label for="team_name" class="col-sm-2 control-label">Team Name</label>
                    <div class="col-sm-10">
                        <input type="text" id="name" name="team_name" v-model="team.team_name"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="team_description" class="col-sm-2 control-label">Team Description</label>
                    <div class="col-sm-10">
                        <textarea id="team_description" name="team_description" v-model="team.team_description"
                                  class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info" @click.native ="onSubmit">{{ 'Edit' }}</button>
                        <button type="submit" class="btn btn-info" v-if="showReactivate" @click="reactivate()">Reactivate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import {stack_error} from '../../../helpers/stack_error'

    export default {
        components: {
            Multiselect,
        },
        data() {
            return {
                options: [],
                selected: null,
                showReactivate: false
            }
        },
        watch: {
            team() {
                if (this.team.team_id) {
                    this.team.status = parseInt(this.team.status)
                    this.showReactivate = (this.team.status ===0)? true:false;
                    this.selected = this.team.category
                }
            }
        },
        props: ['team'],
        mounted() {
            this.loadCategories()
        },
        computed: {
            mode() {
                return this.team.team_id ? 'update' : 'create'
            },

        },
        methods: {
            reactivate(){
                this.team.status = 1

                this.$http.patch('team/'+this.team.team_id, this.team)
                    .then((response) => {
                        this.showReactivate = false
                        toastr.success('Team successfully reactivated!')
                        // self.$router.push('/admin/dashboard/teams')
                    }).catch(({response}) => {
                    stack_error(response)
                })
            },
            onSubmit(){
                const self = this
                if (!self.selected) {
                    toastr.error('Category must be selected.')
                    return;
                }

                let url = 'team' + (self.team.team_id ? '/' + self.team.team_id : ''),
                    method = self.team.team_id ? 'patch' : 'post'
                self.team.status = this.team.status
                self.team.category_id = self.selected.category_id
                self.$http[method](url, self.team)
                    .then((response) => {
                        toastr.success('You ' + self.mode + 'd the team successfully!')
                        self.$router.push('/admin/dashboard/teams')
                    }).catch(({response}) => {
                    stack_error(response)
                })
            },
            loadCategories(self) {
                this.$http.get('categories')
                    .then((response) => {
                        this.options = response.data.data
                    })
            },
       }
    }
</script>

<style lang="scss" scoped>
    .team-image-upload {
        display: inline-block;
        .file {
            position: relative;
            margin: 0 auto;
            display: block;
            wteam_idth: 100px;
            height: 41px;
            line-height: 41px;
            font-size: 12px;
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
            input {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                wteam_idth: 100px;
                height: 30px;
                opacity: 0;
            }
        }
    }
</style>