<template>
    <div class="row">
        <vue-table title="Teams" :fields="fields" api-url="teams" show-paginate @table-action="tableActions">
            <div slot="buttons">
                <!-- <router-link to="/admin/dashboard/games/create" class="btn btn-success">Create</router-link> -->
            </div>
        </vue-table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                categories: [],
                fields: [
                    {
                        title: 'Id',
                        name: 'row_number',
                        titleClass: 'width-5-percent text-center',
                        dataClass: 'text-center'
                    },
                    {
                        title: 'Team Name',
                        name: 'team_name',
                    },
                    {
                        title: 'Game Category',
                        name: 'category_name',
                    },

                    {
                        title: 'Team Leader',
                        name: 'team_leader',
                    },
                    {
                        title: 'Number of Members',
                        name: 'total_members',
                    },
                    {
                        name: '__actions',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }
                ]
            }
        },
        methods: {
            tableActions(action, data) {
                const self = this
                if (action == 'edit-item') {
                    self.$router.push('/admin/dashboard/teams/' + data.team_id + '/edit')
                } else if (action == 'delete-item') {
                    self.$http.delete('team/' + data.team_id)
                        .then((response) => {
                            toastr.success('You deactivated the team successfully.')
                            self.$emit('reload')
                        }).catch(({response}) => {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    })
                }
            }
        }
    }
</script>