<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
            <v-card color="blue-grey darken-2" class="white--text">
                <v-img :src="tournament.image" height="400px"> </v-img>
                <v-container fill-height fluid>
                    <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                            <span class="headline">{{tournament.tournament_name}}</span>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-card-title>
                    <div>
                        <v-flex xs12 sm12>
			                <p>{{tournament.team_description}}</p>   
			                <p>Will start on {{tournament.start_date}}</p>
                        </v-flex>
                    </div>
                </v-card-title>
                <v-card-actions>
                    <v-btn flat medium color="primary" @click.stop="team_dialog = true">Click to Join</v-btn>
                </v-card-actions>
            </v-card>
            <v-alert
                    color="success"
                    icon="check_circle"
                    :value="alert"
                    transition="scale-transition">
                {{messageAlert}}
            </v-alert>
            <v-alert
                    color="error"
                    icon="check_circle"
                    :value="error_alert"
                    transition="scale-transition">
                {{errorMessageAlert}}
            </v-alert>
        <v-card>
            <v-dialog v-model="team_dialog" max-width="500px">
                <v-card>
                    <v-card-title>
                      <span class="headline">Send request to join the tournament</span>
                    </v-card-title>
                    <v-card-text>
                        <p>Select a team you lead, you can only request one team to join this tournament.</p>
                    </v-card-text>
                    <v-card-text>
                        <v-select
                        :items="teams"
                        label="Teams you lead"
                        v-model='team_selected'
                        >    
                        </v-select>
                    </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" flat @click.stop="team_dialog=false">Close</v-btn>
                    <v-btn color="primary" flat @click ="addContestant()" >Submit request to join</v-btn>
                </v-card-actions>
                </v-card>
            </v-dialog>
        </v-card>
        
        <v-container>
			<v-card>
				<v-card-text>
					<p class="text-md-center">List of {{tournament.type}} that is participating the tournament</p>
				</v-card-text>
			</v-card>
        	 <v-data-iterator
		      :items="items"
		      :rows-per-page-items="rowsPerPageItems"
		      :pagination.sync="pagination"
		      content-tag="v-layout"
		      row
		      wrap
		    >
		      <v-flex
		        slot="item"
		        slot-scope="props"
		        xs6
		        sm6
		        md6
		        lg6
		      >
		        <v-card v-if="tournament.type === 'Team'"	>
		          <v-card-title><h4>{{ props.item.team_name }}</h4></v-card-title>
		          <v-divider></v-divider>
		          <v-list dense>
		            <v-list-tile>
		              <v-list-tile-content class="align-end">{{ props.item.team_description }}</v-list-tile-content>
		            </v-list-tile>
		          </v-list>
		        </v-card>
		      </v-flex>
		    </v-data-iterator>
        </v-container>
    	</v-flex>
    </v-layout>	
</template>

<script>
    import store from '../../../vuex/mainpage/store.js'

    export default {
    	props: ['id'],
        data() {
            return {
				rowsPerPageItems: [4, 8, 12],
				pagination: {
					rowsPerPage: 4
				},
                errorMessageAlert: "",
                error_alert: false,
                messageAlert: "",
                alert: false,
				items: [],
                team_selected: null,
                tournament_data: [],
                teams_data: [],
                team_dialog: false,
                select: [
                      { text: 'State 1' },
                      { text: 'State 2' }
                ]
            }
        },
        created() {
        },
        computed: {
	        player_id() {
                return store.getters.currentUser.player.player_id
            },
            tournament() {
                return this.tournament_data;
            },
            teams () {
            	return this.teams_data
            },
            is_already_joined () {
                let result = false;

                this.items.filter((data)=>{
                    if(data.team_leader === this.player_id)
                        result = true;
                });

                return result;
            }
        },
        mounted() {
          this.getTournament()
        },
        methods: {
            showInvite () {
                this.inviteDialog = true
            },
            getTournament() {
                axios.get('/api/tournament/'+this.id)                
                .then(response => {
                    this.tournament_data = response.data                    
   	                this.tournament_data.start_date = this.formatDate(new Date(this.tournament_data.start_date))
	
					if(response.data.type === 'Team'){
						this.getTeamsLeadByPlayer(response.data.game_id)
						this.getContestant(response.data.type)
					}
                })
                .catch(response=>{
                    this.$router.push('/tournaments')
                })
            },
            getTeamsLeadByPlayer (game_id) {
	            axios.get('/api/players/'+this.player_id+'/teams-lead-by-player')
                .then(response => {
                    this.teams_data = response.data
                    let selectData = [];
                    let arr = Object.keys(response.data).map((k) => response.data[k])
                    arr.filter((data)=>{
                    	if(data.game_id === game_id){
                            selectData.push({text: data.team_name, value: data.team_id})
                    		return data
                        }
                    })
                    
                    this.teams_data = selectData
                })
             },
             getContestant (type) {
             	if(type === 'Team'){
					this.$http.get('tournament/' + this.id + '/contestant')
					.then((response) => {
					    this.items = response.data
				    })
             	}
             },
             formatDate(date) {
                let monthNames = [
                    "January", "February", "March",
                    "April", "May", "June", "July",
                    "August", "September", "October",
                    "November", "December"
                ];

                let day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();

                return  monthNames[monthIndex] + ' ' + day + ', ' + year;
            },
            addContestant () {
                let data={
                    team_id: this.team_selected,
                    player_id: this.player_id,
                    tournament_id: this.id
                }

                if(this.team_selected !== null){
                    axios.post('/api/tournament/add-contestant', data)
                    .then(response => {
                        if(response.data.code === 200){
                            this.messageAlert = response.data.message
                            this.alert = true;
                            this.team_dialog = false;
                        }else{
                           this.errorMessageAlert = response.data.message
                           this.error_alert = true;
                           this.team_dialog = false;
                        }
                    })
                }else{
                      this.errorMessageAlert = "There was no team selected";
                      this.error_alert = true;
                      this.team_dialog = false;
                }
            }
        }
    }
</script>