<template>
    <div id="e3"
            style=" margin: auto;"
            class="grey lighten-2">
        <v-toolbar color="green darken-1">
            <v-toolbar-title class="white--text">Tournaments</v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- <v-btn
                    color="grey darken-2"
                    flat
                    right
                    @click="">
                Create a Team
            </v-btn> -->
        </v-toolbar>
        <v-container
                fluidC
                style="min-height: 0;"
                grid-list-lg>
        </v-container>
    <v-card>
        
      <v-container
        fluid
        style="min-height: 0;"
        grid-list-lg
      >
        <v-layout row wrap v-for='tournament in tournaments'row wrap :key="tournament.tournament_id">
          <v-flex xs12>
            <v-card color="blue-grey darken-2" class="white--text">
              
              <v-card-title primary-title>
                <div class="headline">{{tournament.tournament_name}} ({{tournament.type}})</div>  
                
              </v-card-title>
               <v-card-text dark color="green darken-1">
                <p>{{tournament.team_description}}</p>   
                <p>{{tournament.start_date}}</p>
               </v-card-text>
              <v-card-actions dark color="light-green darken-4">
                <v-btn @click="viewTournament(tournament)" flat color="light-green accent-4">View</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    </div>
</template>
<script>
    import store from '../../../vuex/mainpage/store.js'

    export default {
        data() {
            return {
                tournaments_data: []
            }
        },
        created() {
        },
        computed: {
            tournaments() {
                return this.tournaments_data;
            },
        },
        mounted() {
            this.generateTournaments();
        },
        methods: {
            showInvite () {
                this.inviteDialog = true
            },
            generateTournaments() {
                axios.get('/api/tournament')                
                .then(response => {
                    this.tournaments_data = response.data.data
                    
                    for(let x =0;x< this.tournaments_data.length;x++){
                        this.tournaments_data[x].start_date = this.formatDate(new Date(this.tournaments_data[x].start_date))
                    }                    
                    
                })
            },
            viewTournament(tournament) {
                store.dispatch('initiateTournament', tournament)
                this.$router.push('tournament/'+tournament.tournament_id+'/tournament-details') 
            },
            formatDate(date) {
                let monthNames = [
                    "January", "February", "March",
                    "April", "May", "June", "July",
                    "August", "September", "October",
                    "November", "December"
                ];

                let day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();

                return  monthNames[monthIndex] + ' ' + day + ', ' + year;
            },
    }
}
</script>