<template>
    <div id="calendar">
        <v-flex>
            <v-card v-if="true">
                <v-spacer></v-spacer>
                <vue-event-calendar :title="event_title" :events="evento" @month-changed="handleMonthChanged">>
                    <template slot-scope="props">
                        <div v-for="(event, index) in props.showEvents" class="event-item">
                            <v-flex xs12 sm6 offset-sm3>
                                <v-card flat>
                                    <v-card-title primary-title>
                                        <div>
                                            <div class="headline">{{event.title}}</div>
                                            <span class="grey--text">{{event.date}}</span>
                                            <v-spacer></v-spacer>
                                            <span class="grey--text">{{event.desc}}</span>
                                        </div>
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-btn flat @click.native="showMatch(event)">View</v-btn>
                                        <!--<v-btn flat color="purple">Explore</v-btn>-->
                                        <v-spacer></v-spacer>
<!--                                         <v-btn icon @click.native="show = !show">
                                            <v-icon>{{ show ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
                                        </v-btn> -->
                                    </v-card-actions>
                                    <v-slide-y-transition>
                                        <v-card-text v-show="show">
                                            {{event.rules}}
                                        </v-card-text>
                                    </v-slide-y-transition>
                                </v-card>
                            </v-flex>
                        </div>
                    </template>
                </vue-event-calendar>
            </v-card>
        </v-flex>
    </div>
</template>


<script>
    import 'vue-event-calendar/dist/style.css'

    export default {
        data() {
            return {
                events: [],
                test: {},
                show: true,
                event_title: 'All Events',
            }
        },
        methods: {
            showMatch(event){
                this.$router.push('/match/'+event.match_mode.toLowerCase()+'/'+event.match_id);
            },
            handleDayChanged(data) {
                // console.log('date-changed', data)

            },
            handleMonthChanged(data) {

                this.events.filter(function(value,index){

                    let date = new Date(value.date)

                    if(parseInt(data.substr(0,2)) === date.getMonth()+1){
                        return value
                    }
                })

            },
            getUserMatches(self) {
                self.$http.get('matches-by-player/'+self.$store.getters.currentPlayer.player_id)
                    .then(response => {
                        let data = response.data.data;
                        let date = null;
                        data.forEach((value, index) => {
                            date = new Date(value.match_date)
                            let month = date.getMonth() + 1

                            this.events.push( {
                                date :  date.getFullYear() + '/' + month + '/' + date.getDate(),
                                title : value.match_name,
                                desc : value.match_date_formatted,
                                match_mode: value.match_mode,
                                match_id: value.match_id

                            })
                        });
                    });
            }
        },
        mounted() {
            const self = this
            this.getUserMatches(self)
        },
        computed :{
            evento() {
                return this.events
            }
        }
    }
</script>

<style scoped>
    #calendar {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin-top: 30px;
    }

    h1, h2, h3 {
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .t-center {
        text-align: center;
        margin: 20px;
    }

    .mt150 {
        margin-top: 150px;
    }
</style>