<template>
    <vue-form title="Tournament">
        <div slot="buttons">
            <router-link to="/admin/dashboard/tournament" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
             <div class="row">
                <form class="form-horizontal col-md-9 col-md-offset-1" @submit.prevent="onSubmit">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="game_name" class="col-sm-2 control-label">Tournament Name</label>
                            <div class="col-sm-10">
                                <input type="text" id="tournament_name" name="tournament_name" v-model="tournament.name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-10">
                                <multiselect
                                        v-model="category"
                                        :options="categories"
                                        label="category_name"
                                        placeholder="Select Category"
                                        track-by="category_name">
                                </multiselect>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="game_name" class="col-sm-2 control-label">Game</label>
                            <div class="col-sm-10">
                                <multiselect
                                        v-model="game"
                                        :options="games"
                                        label="game_name"
                                        placeholder="Select Game"
                                        track-by="game_name">
                                </multiselect>                            
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tournament_description" class="col-sm-2 control-label">Tournament Details</label>
                            <div class="col-sm-10">
                                <textarea id="tournament_description" name="tournament_description" v-model="tournament.details"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start_date" class="col-sm-2 control-label">Date of Tournament</label>
                            <div class="col-sm-5">
                                <date-picker v-model="tournament.start_date" :config="config"></date-picker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="team_member_minimum" class="col-sm-2 control-label">Type Of Tournament</label>
                            <div class="col-sm-5">
                                <!-- <label class="radio-inline"><input type="radio" name="optradio" value ="Individual"  v-model="tournament.type">Individual</label> -->
                                <label class="radio-inline"><input type="radio" name="optradio" value="Team" v-model="tournament.type">Team</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="team_member_minimum" class="col-sm-2 control-label">Number of Contestant</label>
                            <div class="col-sm-5">
                                <multiselect
                                        v-model="contestant_number"
                                        :options="contestant_numbers"
                                        label="name"
                                        placeholder="Select Number of Contestant"
                                        track-by="value"
                                        >
                                </multiselect>                            
                            </div>
                        </div>

<!-- 
                         <div class="form-group">
                            <label for="image" class="col-sm-2 control-label">Game Image</label>
                            <div class="col-sm-5">
                                <input type="text" id="image" class="form-control" name="image"
                                       v-model="game.image" placeholder="ex: /uploads/default_avatar.png">
                            </div>
                            <div class="col-sm-5">
                                <img v-if="game.image != null && game.image != ''" :src="game.image" width="41"
                                     height="41">
                                <div class="game-image-upload pull-right">
                                    <a href="javascript:;" class="btn btn-success file">
                                        <span>Upload File</span>
                                        <input id="game-image-upload" type="file" @change="gameImageUploader">
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="form-group">
                        <label for="tournament_image" class="col-sm-2 control-label">Tournament Image</label>
                        <div class="col-sm-5">
                            <input type="text" id="tournament_image" class="form-control" name="tournament_image"
                                   v-model="tournament.image" placeholder="ex: /uploads/default_avatar.png">
                        </div>
                        <div class="col-sm-5">
                            <img v-if="tournament.image != null && tournament.image != ''"
                                 :src="tournament.image" width="41"
                                 height="41">
                            <div class="tournament-image-upload pull-right">
                                <a href="javascript:;" class="btn btn-success file">
                                    <span>Upload File</span>
                                    <input id="tournament-image-upload" type="file" @change="gameImageUploader">
                                </a>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">{{ tournament.id ? 'Edit' : 'Create' }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </vue-form>
</template>

<script>
 // Import required dependencies 
  import 'bootstrap/dist/css/bootstrap.css';
  
  // Import this component
  import datePicker from 'vue-bootstrap-datetimepicker';
  
  // Import date picker css
  import 'eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';
    import Multiselect from 'vue-multiselect'
    import {stack_error} from '../../../helpers/stack_error'
    export default {
        components: {
            Multiselect,
        },
        data() {
            return {
                config: {
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                },       
                categories: [],
                category: [],
                game: [],
                contestant_number: null,
                games: [],
                type: 'Team',
                contestant_numbers: [  
                    {id:1, name: '4 contestants', value: 4 },
                    {id:2, name: '8 contestants', value: 8 },
                    {id:3, name: '12 contestants', value: 12 },
                    {id:4, name: '16 contestants', value: 16 },
                    {id:5, name: '20 contestants', value: 20 },
                    {id:6, name: '24 contestants', value: 24 },
                    {id:7, name: '28 contestants', value: 28 },
                    {id:8, name: '32 contestants', value: 32 }

                ],        
                tournament: [],
                list: []

            }
        },
        watch: {
            category: function() {
                this.games = this.category.games
            }
        },
        mounted() {
            const self = this
            self.loadCategories(self)
        },
        computed: {
            mode() {
                return this.tournament.id ? 'update' : 'create'
            }
        },
        methods: {
            onSubmit() {
                const self = this,
                errorMessage = "Please make sure that all the fields are completed."
                self.contestant_number = (this.contestant_number!== null)? this.contestant_number.value: 0;
                self.tournament.type = this.type;
                let formData = new FormData();

                formData.append('tournament_name',self.tournament.name)
                formData.append('category_id',this.game.category_id);
                formData.append('game_id',this.game.game_id); 
                formData.append('type',this.tournament.type); 
                formData.append('contestant_number',self.contestant_number); 
                formData.append('tournament_description',self.tournament.details); 
                formData.append('image',self.tournament.image); 
                formData.append('start_date',self.tournament.start_date); 
                
                if (self.game.game_id === undefined) {
                    toastr.error(errorMessage)
                    return;
                }

                if (self.game.category_id === undefined) {
                    toastr.error(errorMessage)
                    return;
                }
                if (self.contestant_number === undefined) {
                    toastr.error(errorMessage)
                    return;
                }

                if (self.tournament.start_date === undefined) {
                    toastr.error(errorMessage)
                    return;
                }
                
                if (self.tournament.image === undefined) {
                    toastr.error(errorMessage)
                    return;
                }

                self.$http['post']('tournament', formData)
                    .then((response) => {
                        toastr.success('You created the tournament successfully!')
                        self.$router.push('/admin/dashboard/tournament')
                    }).catch(({response}) => {
                    stack_error(response)
                })
            },
            loadCategories(self) {
                self.$http.get('categories')
                    .then((response) => {
                        self.categories = response.data.data
                    })
            },
            gameImageUploader(event) {
                const self = this
                let files = event.target.files,
                    formData = new FormData()
                formData.append('image', files[0])
                formData.append('strategy', 'cover')
                self.$http.post('file/upload', formData)
                    .then((response) => {
                            toastr.success('Tournament image uploaded successfully!')
                            self.tournament.image = response.data.url
                   }).catch(({response}) => {
                    if (response.data.error) {
                        toastr.error(response.data.error.message)
                    } else {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    }
                })
            },
        }
    }
</script>
<style lang="scss" scoped>
    .game-image-upload {
        display: inline-block;
        .file {
            position: relative;
            margin: 0 auto;
            display: block;
            width: 100px;
            height: 41px;
            line-height: 41px;
            font-size: 12px;
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
            input {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 100px;
                height: 30px;
                opacity: 0;
            }
        }
    }
</style>