<template>
    <vue-form title="Edit Tournament">
        <div slot="buttons">
            <router-link to="/admin/dashboard/tournament" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
             <div class="row">
                <form class="form-horizontal col-md-9 col-md-offset-1" @submit.prevent="onSubmit">
                    
                </form>
            </div>
            <h2>{{tournament.tournament_name}} on {{start_date}}</h2>
            <div class="alert alert-warning" role="alert" v-if="form_error">
                {{error_message}}
            </div>
            <div class="row" v-if="tournament.type==='Team'">
                <h4>List of Teams that wished to join, marked were the teams that was chosen by the admin to compete</h4>    
                    <div class="form-group">
                        <div class="searchable-container" v-for='team in tournament.tournament_applicant'>
                            <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div class="square-box pull-left">
                                        <span class="glyphicon glyphicon-tags glyphicon-lg"></span>
                                    </div>
                                    <div  data-toggle="buttons" class="btn-group bizmoduleselect">
                                        <label :id="'label-'+team.team.team_id" class="btn btn-default" >
                                            <div class="bizcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" v-model="contestant[team.team.team_id]" :value="team.team.team_name" :id="'contestant-'+team.team.team_id" >
                                                <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                <h5>{{team.team.team_name}}</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row" v-if="tournament.type==='Individual'">
                <h4 >List of Players that wished to join, marked were the players that was chosen by the admin to compete</h4>    
                    <div class="form-group">
                        <div class="searchable-container" v-for='player in tournament.tournament_applicant'>
                            <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div class="square-box pull-left">
                                        <span class="glyphicon glyphicon-tags glyphicon-lg"></span>
                                    </div>
                                    <div  data-toggle="buttons" class="btn-group bizmoduleselect">
                                        <label :id="'label-'+player.player.player_id" class="btn btn-default" >
                                            <div class="bizcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" v-model="contestant[player.player.player_id]" :value="player.player.player_nickname" :id="'contestant-'+player.player.player_id" >
                                                <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                <h5>{{player.player.player_nickname}}</h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <br><br>
            <div class="row">
                <h4>Update Tournament Image</h4>
                        <div class="col-sm-5">
                            <input type="text" id="tournament_image" class="form-control" name="tournament_image"
                                   v-model="tournament.image" placeholder="ex: /uploads/default_avatar.png">
                        </div>
                        <div class="col-sm-5">
                            <img v-if="tournament.image != null && tournament.image != ''"
                                 :src="tournament.image" width="41"
                                 height="41">
                            <div class="tournament-image-upload pull-right">
                                <a href="javascript:;" class="btn btn-success file">
                                    <span>Upload File</span>
                                    <input id="tournament-image-upload" type="file" @change="gameImageUploader">
                                </a>
                            </div>
                        </div>
                </div> 
            <br><br>
            <button type="submit" class="btn btn-info"  v-on:click="update()">Update Tournament</button>
            <router-link :to="tournament_url" class="btn btn-success">Edit Tournament Details</router-link>
        </div>
    </vue-form>
</template>

<script>
    // import GameForm from './Form'
    export default{
        // components: {GameForm},
        data: () => {
            return {
                error_message: "Please check the form before submission",
                form_error: false,
                tournament_data: [],
                contestant: [],
                tournament_date:null,
                tournament_image:null
            }
        },
        computed: {
            tournament() {
                return this.tournament_data
            },
            start_date(){
                return this.formatDate(new Date(this.tournament_data.start_date));
            },
            tournament_url () {
               let url = '/admin/dashboard/tournament/'+ this.$route.params.id+ '/edit/details';
               return { name: 'TournamentEdit',url:url, params: {tournamentInfo: this.tournament} }
                 
            }
        },
        mounted() {
            const self = this
            self.loadGame(self)

        },
        methods: {
            loadGame(self) {
                self.$http.get('tournament/' + self.$route.params.id + '/edit')
                    .then((response) => {
                        self.tournament_data = response.data
                        jQuery(document).ready(function(){
    
                            let team_joined = response.data.tournament_contestant;
                            for(let x = 0; x < team_joined.length; x++)
                            {
                                if(response.data.type==='Team')
                                {
                                    jQuery('#label-'+team_joined[x].team_id).addClass('active focus');
                                    jQuery('#contestant-'+team_joined[x].team_id).prop('checked',true);
                                }else{                                    
                                    jQuery('#label-'+team_joined[x].player_id).addClass('active focus');
                                    jQuery('#contestant-'+team_joined[x].player_id).prop('checked',true);
                                }
                            }
                        })
                    })
            },
            gameImageUploader(event) {
                const self = this
                let files = event.target.files,
                    formData = new FormData()
                formData.append('image', files[0])
                formData.append('strategy', 'cover')
                self.$http.post('file/upload', formData)
                    .then((response) => {
                            toastr.success('Tournament image uploaded successfully!')
                            this.tournament_image = response.data.url
                   }).catch(({response}) => {
                    if (response.data.error) {
                        toastr.error(response.data.error.message)
                    } else {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    }
                })
            },
            formatDate(date) {
                let monthNames = [
                    "January", "February", "March",
                    "April", "May", "June", "July",
                    "August", "September", "October",
                    "November", "December"
                ];

                let day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();

                return  monthNames[monthIndex] + ' ' + day + ', ' + year;
            },
            update(){    
                let team_accepted = [],
                team_joined = this.tournament.tournament_applicant;

                for(let x = 0; x < team_joined.length; x++)
                {

                    if(this.tournament.type==='Team' && jQuery('#contestant-'+team_joined[x].team_id).is(":checked"))
                    {
                        team_accepted.push(team_joined[x].team_id);
                    }


                    if(this.tournament.type==='Individual' && jQuery('#contestant-'+team_joined[x].player_id).is(":checked"))
                    {
                        team_accepted.push(team_joined[x].player_id);
                    }
                }

                let data = {
                    team_accepted : team_accepted,
                    type: this.tournament.type,
                    tournament_image: this.tournament_image
                }

                 if(team_accepted.length === 0)
                 {
                    this.form_error = true;
                    this.error_message = "There was no team selected to join the tournament";
                 }
                 
                 else if(team_accepted.length > this.tournament.contestant_number)
                 {
                    this.form_error = true;
                    this.error_message = "Number of applicants is more than the number of contestant that was set";
                 }

                 else{
                    this.form_error = false;

                    this.$http.put('tournament/' + this.$route.params.id + '/update-contestant',data)
                        .then((response) => {
                            self.tournament_data = response.data
                        });

                    this.$http.put('tournament/' + this.$route.params.id + '/update-image',data)
                        .then((response) => {
                            // self.tournament_data = response.data
                        });
                }
            }
        }
    }
</script>
<style>
.searchable-container{margin:20px 0 0 0}
.searchable-container label.btn-default.active{background-color:#007ba7;color:#FFF}
.searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:90%}
.searchable-container .btn span.glyphicon{
    opacity: 0;
}
.searchable-container .btn.active span.glyphicon {
    opacity: 1;
}

</style>
