
<template>
    <div class="row">
        <vue-table title="Tournament" :fields="fields" api-url="tournament" show-paginate @table-action="tableActions">
            <div slot="buttons">
                <router-link to="/admin/dashboard/tournament/create" class="btn btn-success">Create A Tournament</router-link>
            </div>
        </vue-table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                categories: [],
                fields: [
                    {
                        title: 'Id',
                        name: 'tournament_id',
                        titleClass: 'width-5-percent text-center',
                        dataClass: 'text-center'
                    },
                    {
                        title: 'Tournament Name',
                        name: 'tournament_name',
                    },
                    {
                        title: 'Tournament Description',
                        name: 'tournament_description',
                    },
                    {
                        title: 'Date of Tournament',
                        name: 'start_date',
                    },
                    {
                        title: 'Created At',
                        name: 'created_at',
                    },
                    {
                        name: '__actions',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }
                ]
            }
        },
        methods: {
            tableActions(action, data) {
                console.log(data)
                if (action == 'edit-item') {
                   this.$router.push('/admin/dashboard/tournament/' + data.tournament_id + '/edit')
                } else if (action == 'delete-item') {
                    this.$http.delete('tournament/' + data.tournament_id)
                        .then((response) => {
                            toastr.success('You deleted the tournament successfully.')
                            this.$emit('reload')
                        }).catch(({response}) => {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    })
                }
            }
        }
    }
</script>