<template>




    <v-app >

        <div class="background_image">
            <div style="padding:20px;">
                <img src="/images/gt-logo-small.png" class="gt_logo"/>
            </div>

            <v-container fluid text-xs-left >
                <v-layout row wrap justify-center align-center>

                    <v-flex d-flex xs12 sm7 md5 lg3 >



                        <transition name="slide-fade">

                            <v-card class="card--flex-toolbar"  v-if="show" >


                                <v-card-text style="padding:0px;">
                                    <p class="text-xs-center headline">Create an account</p>
                                </v-card-text>

                                <v-form v-model="valid" ref="signup" lazy-validation>




                                    <v-text-field
                                            name="email_add"
                                            label="E-mail"
                                            placeholder="Enter a valid email address"
                                            v-model="user.email"
                                            :rules="emailRules"
                                            @blur = "errorMessage = ''"
                                            required
                                    ></v-text-field>
                                    <v-text-field
                                            name="password"
                                            label="Password"
                                            v-model="user.password"
                                            placeholder="Enter password"
                                            :rules="passwordRules"
                                            :append-icon="pwVisible ? 'visibility' : 'visibility_off'"
                                            :append-icon-cb="() => (pwVisible = !pwVisible)"
                                            :type="pwVisible ? 'text' : 'password'"
                                            required
                                    ></v-text-field>

                                    <v-text-field
                                            label="Firstname"
                                            v-model="user.firstname"
                                            placeholder="Fill in your firstname"
                                            :rules="nameRules"
                                            required
                                    ></v-text-field>
                                    <v-text-field
                                            label="Lastname"
                                            v-model="user.lastname"
                                            placeholder="Fill in your lastname"
                                            :rules="nameRules"
                                            required
                                    ></v-text-field>
                                    <v-text-field
                                            label="Nickname"
                                            v-model="user.nickname"
                                            placeholder="Choose a nickname"
                                            :rules="requiredRule"
                                            required
                                    ></v-text-field>



                                   <v-flex xs6>
                                      <div>
                                          <span  style="margin-top:5px">Choose a Gender</span>
                                      </div>
                                       <v-radio-group v-model="user.gender" :column="false">
                                           <v-radio
                                                   color="primary"
                                                   v-for="gender in genders"
                                                   :key="gender.value"
                                                   :label="gender.text"
                                                   :value="gender.value"
                                           ></v-radio>
                                       </v-radio-group>
                                   </v-flex>
                                    <v-btn
                                            class="primary white--text"
                                            @click="signup()"
                                            :loading="loader"
                                            :disabled="loader"
                                            depressed
                                            block
                                            style="margin-top:-5px;"
                                    >
                                        Sign Up

                                    </v-btn>


                                    <span class="caption" style="margin-top:10px;">
                                        <router-link tag="a" to="/login">
                                            Already have an account?
                                        </router-link>
                                    </span>
                                    <br>
                                    <span class="caption" style="margin-top:10px;" >
                                         By signing up, you agree to Game time's
                                         <router-link tag="a" to="/terms-and-agreement">
                                          Terms and Agreement
                                         </router-link>
                                    </span>

                                </v-form>



                            </v-card>
                        </transition>

                    </v-flex>


                </v-layout>

            </v-container>
        </div>






    </v-app>

</template>

<script>
    export default {
        name: "register",
        data : () => ({
            show: false,
            pwVisible: false,
            checkbox:false,
            loader : false,
            errorMessage : '',
            genders : [
                {text : 'Male', value : 'male'},
                {text : 'Female', value : 'female'}
            ],
            user:{
                email:null,
                nickname:null,
                firstname:null,
                lastname:null,
                password:null,
                gender: 'male'
            },
            valid: true,
            requiredRule: [
                (v) => !!v || 'This field is required',
            ],
            nameRules: [
                (v) => /^[_A-z]*((-|\s)*[_A-z])*$/g.test(v) || 'Numeric and special characters not allowed e.g. ($!@/-%)',
                (v) => !!v || 'This field is required',
            ],
            passwordRules: [
                (v) => !!v || 'Password is required',
                (v) => v && v.length >= 6 || 'Password must be at least more than  6 characters',
                (v) => /^.*(?=.*\d)(?=.*[a-zA-Z]).*$/.test(v) || 'Password must consist of numbers and letters'
            ],

        }),
        mounted() {
            this.show = true;
        },
        beforeDestroy(){
            this.false = false;
        },
        computed : {
            emailRules(){
               if(!this.errorMessage){
                   return [
                       (v) => !!v || 'E-mail is required',
                       (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid',
                   ]
               }else{
                   return [(v) => this.errorMessage]
               }
            },
        },
        methods : {
            signup(){
                const self = this;

                if (this.$refs.signup.validate()) {
                    self.loader = true;
                    this.$store.dispatch('signup', {
                        email: self.user.email,
                        password: self.user.password,
                        firstname: self.user.firstname,
                        lastname: self.user.lastname,
                        nickname: self.user.nickname,
                        gender : self.user.gender
                    }).then(response => {
                        self.loader = false;
                        if(response.data.code == 409){
                            console.log('EMAIL HAS BEEN TAKEN ALREADY');
                            this.errorMessage = response.data.message;
                        }else{
                            this.errorMessage = response.data.message;
                        }
                    }).catch(err => {
                        self.loader = false;
                        this.errorMessage = ''
                        console.log('err', err)
                    });
                }
            }
        }
    }
</script>

<style scoped>

    .gt_logo {
        height : 60px !important;
        width :  195px !important;
    }
    .background_image {
        background: url('http://pixcorners.com/wp-content/uploads/2016/12/Forest-Minimal-Download-Wallpaper-HD.jpg') no-repeat center center fixed;
        background-color: #cccccc;
        background-size: cover;
        height: 100%;
    }


    .card--flex-toolbar {
        padding:40px;
    }
    .custom-loader {
        animation: loader 1s infinite;
        display: flex;
    }
    @-moz-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @-webkit-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @-o-keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes loader {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    div >>> .input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple--active {
        /* -webkit-transform: translate3d(2px, -24px, 0); */
        transform: translate3d(11px, -24px, 0) !important;
    }
    div >>> .input-group.input-group--selection-controls.switch .input-group--selection-controls__ripple:after {
        content: "" !important;
        position: absolute !important;
        display: inline-block !important;
        cursor: pointer !important;
        width: 29px !important;
        border-radius: 50% !important;
        top: 50% !important;
        left: 110% !important;
        -webkit-transform: translate3d(-100%, -50%, 0) !important;
        transform: translate3d(-110%, -50%, 0) !important;
        height: 29px !important;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px rgba(0, 0, 0, .14), 0 1px 10px rgba(0, 0, 0, .12) !important;
    }
    div >>> .input-group.input-group--selection-controls.switch .input-group--selection-controls__toggle {
        background-color: currentColor !important;
        color: inherit !important;
        position: absolute !important;
        height: 23px !important;
        top: 50% !important;
        width: 51px !important;
        border-radius: 100px !important;
        -webkit-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
        margin-left: 10px !important;
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }
</style>