<template>
    <v-content>
        <v-container>
            <v-layout row wrap align-center>
                <v-flex xs12 md10>
                        <v-card class="my-3" hover>
                            <v-img
                                    class="white--text"
                                    height="500px"
                                    :src="announcement.background_image"
                            >
                                <v-container fill-height fluid>
                                    <v-layout>
                                        <v-flex xs12 align-end d-flex>
                                            <span class="headline">{{ announcement.title }}</span>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-img>
                            <v-card-text>
                                <span class="grey--text">{{announcement.created_at}}</span><br>
                                {{ announcement.description }}
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn flat class="blue&#45;&#45;text" @click="redirect(announcement.link)">Check this link for more info</v-btn>
                            </v-card-actions>
                        </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>
<script>
    export default {
        data() {
            return {
                announcement: {}
            }
        },
        methods: {
            getAnnouncementBySlug(slug) {
                const self = this;
                self.$http.get('announcement-by-id/' + slug)
                    .then((response) => {
                        self.announcement = response.data.data;
                    }, response => {
                    });
            },
            redirect(link) {
                this.$router.push(link)
            }
        },
        mounted() {
            this.getAnnouncementBySlug(this.$route.params.name);
        }
    }
</script>