<template>
  <div>
    <b-card :title="match_conclusion.name" sub-title="">
      <b-card-text>
        {{match_conclusion.description}}
      </b-card-text>
      <div role="tablist">
        <b-card no-body class="mb-1" style="margin-bottom:10px;" >
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-1 variant="primary">Match Creator</b-button>
          </b-card-header>
          <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
            <div>
              <b-card :title="match_conclusion.creator_title" :img-src="match_conclusion.creator_image" img-alt="Image" img-top tag="article" style="max-width: 100%;" class="mb-2">
                <b-card-text>
                  {{match_conclusion.creator_statement}}
                </b-card-text>
              </b-card>
            </div>
          </b-collapse>
        </b-card>
        <b-card no-body class="mb-1" style="margin-bottom:10px">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block href="#" v-b-toggle.accordion-2 variant="success">Opponent</b-button>
          </b-card-header>
          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <div>
              <b-card :title="match_conclusion.opponent_title" :img-src="match_conclusion.opponent_image" fluid-grow img-top tag="article" style="max-width: 100%;" class="mb-2">
                <b-card-text>
                  {{match_conclusion.opponent_statement}}
                </b-card-text>
              </b-card>
            </div>
          </b-collapse>
        </b-card>
        <b-alert v-model="showWinner" variant="info" dismissible>
          {{winner}}
        </b-alert>
      </div>
      <b-button @click="submitConclusion('Win')" variant="primary" v-if="!winner">Match Creator Wins!</b-button>
      <b-button @click="submitConclusion('Lose')" variant="success" v-if="!winner">Opponent Wins!</b-button>
      <b-button @click="submitConclusion('Draw')" variant="outline-primary" v-if="!winner">It's a Draw</b-button>
      <b-button @click="showWinner = true" variant="info" v-if="winner">Show the winner of this Match</b-button>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showWinner: false,
    }
  },
  mounted() {},
  computed: {
    match_conclusion() {
      let result = JSON.parse(localStorage.getItem('match-conclusion'));

      if (result.creator_claim == 'Win') {
        result.creator_title = "Match creator claim that they won the game";
      } else if (result.creator_claim == 'Lose') {
        result.creator_title = "Match creator claim that they lose the game";
      } else {
        result.creator_title = "Match creator claim that they lose the game";
      }

      if (result.opponent_claim == 'Win') {
        result.opponent_title = "Opponent claim that they won the game";
      } else if (result.opponent_claim == 'Lose') {
        result.opponent_title = "Opponent claim that they lose the game";
      } else {
        result.opponent_title = "Opponent claim that they lose the game";
      }

      return result;
    },
    winner() {
      let winner = "";      
      console.log(this.match_conclusion.judgement_to_creator)
      if (this.match_conclusion && this.match_conclusion.judgement_to_creator == 'Win') {
        winner = "Match Creator won the game.";
      } else if (this.match_conclusion && this.match_conclusion.judgement_to_creator == 'Draw') {
        winner = "This match is a draw";
      }else if(this.match_conclusion&& this.match_conclusion.judgement_to_creator == 'Lose'){
        winner = "Opponent has won this game."
      }else{
        winner = false;
      }

      return winner;
    }
  },
  methods: {
    submitConclusion(type){
      let formData = {
        judgement_to_creator: type
      }

      this.$http.put('/match-conclusion/'+this.match_conclusion.id, formData).then(response => {
          window.location.reload('/');
       });
    }
  }
}
</script>
