
<template>
    <div class="row">
        <vue-table title="Match Claims" :fields="fields" api-url="match-conclusion" show-paginate @table-action="tableActions">
            <div slot="buttons">
<!--                 <router-link to="/admin/dashboard/tournament/create" class="btn btn-success">Create A Tournament</router-link> -->
            </div>
        </vue-table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                categories: [],
                fields: [
                    {
                        title: 'ID',
                        name: 'id',
                        titleClass: 'width-5-percent text-center',
                        dataClass: 'text-center'
                    },
                    {
                        title: 'Match Name',
                        name: 'name',
                    },
                    {
                        title: 'Description',
                        name: 'description',
                    },
                    {
                        title: 'Match Mode',
                        name: 'match_mode',
                    },

                    {
                        title: 'Match Date',
                        name: 'match_date',
                    },
                    {
                        title: 'Created At',
                        name: 'created_at',
                    },
                    {
                        name: '__actions',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }
                ]
            }
        },
        methods: {
            tableActions(action, data) {
                if (action == 'edit-item') {
                   localStorage.setItem('match-conclusion',JSON.stringify(data));
                   this.$router.push('/admin/dashboard/matches/' + data.id + '/edit')
                }
            }
        }
    }
</script>