
// Public
@import "admin/public";

//Simplemde
@import "vendor/simplemde.min";

@import "_form";
@import "_navbar";
@import "_ibox";
@import "_toastr";
@import "_togglebutton";

@import "~vue-wysiwyg/dist/vueWysiwyg.css";

.width-5-percent {
  width: 5%;
}
.width-10-percent {
  width: 10%;
}
.no-margin {
  margin: 0 !important;
}
.multiselect__content {
  z-index: 2;
}
.avatar {
  width: 50px;
  margin: 0 auto;
}
.editor-toolbar.fullscreen {
  z-index: 1000 !important;
}
.CodeMirror-fullscreen {
  z-index: 1000 !important;
}