<template>
    <div>
        <v-parallax height="570" src="https://www.planwallpaper.com/static/images/FWG_2560x1440.jpg">
            <v-container fluid>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm12 md11 lg9>
                        <v-layout row wrap>
                            <v-flex xs8>
                                <v-card height="400" class="sharp" style="background: rgba(23,20,31,1);">


                                       <slick class="slider1" ref="slick" :options="slickOptions"
                                              v-if="announcements.length > 0">
                                           <template v-for="(announcement, index) in announcements" >
                                               <div :key="index"
                                                    :style="{
                                                    background: `url(${announcement.background_image})`,
                                                    height : '400px',
                                                    backgroundRepeat : 'no-repeat',
                                                    backgroundSize : '100% 100%',
                                                    backgroundPosition : 'center center'
                                                    }"/>
                                           </template>
                                       </slick>

                                </v-card>
                            </v-flex>
                            <v-flex xs4>
                                <v-card height="400" class="sharp" style="background: rgba(23,20,31,.9)">
                                    <v-card-title primary-title>
                                        <div>

                                                                <span class="headline">
                                                                    <a @click="redirectAnnouncement(selectedAnnouncement.id, selectedAnnouncement.title)">
                                                                    {{selectedAnnouncement.title}}</a>
                                                                </span><br>
                                            <span class="white--text caption">{{selectedAnnouncement.description}}</span><br>
                                        </div>
                                    </v-card-title>
                                </v-card>
                            </v-flex>
                        </v-layout>

                        <v-layout row wrap style="margin-top:10px;">
                            <v-flex xs12>
                                <v-card class="sharp" height="110" style="background: rgba(23,20,31,1)">

                                    <slick class="slider2" ref="slick" :options="slickOptions1"
                                           v-if="announcements.length > 0">
                                        <a v-for="announcement in announcements" :key="announcement.id" href="#"
                                           @click="selectedAnnouncement = announcement">

                                            <img :src="announcement.background_image"
                                                 style="height:110px; width:150px; padding:10px; ">
                                        </a>
                                    </slick>

                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                </v-layout>

            </v-container>
        </v-parallax>


    </div>
</template>

<script>
    export default {
        data (){
            return {
                selectedAnnouncement: '',
                announcements: [],
                slickOptions: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    swipe:false,
                    arrows: false,
                    fade: true,
                    autoplay: true,
                    autoplaySpeed: 4000,
                    asNavFor: '.slider2',
                },
                slickOptions1: {
                    asNavFor: '.slider1',
                    infinite:true,
                    focusOnSelect: true,
                    speed: 300,
                    slidesToShow: 5,
                    variableWidth: true,
                    slidesToScroll: 1,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                infinite: true,
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                }
            }
        },
        created(){
            const self = this;
            self.$http.get('announcement')
                .then((response) => {
                    if(response.data.data.length > 0){
                        self.selectedAnnouncement = response.data.data[0];
                        self.announcements = response.data.data;
                        self.reInit();
                    }
                }, response => {
                    
                });

        },

        methods: {
            next() {
                this.$refs.slick.next();
            },
            prev() {
                this.$refs.slick.prev();
            },
            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(function () {
                    this.$refs.slick.reSlick();
                })
            },
            redirectAnnouncement(id, title) {
                let titleLowerDashed = title.replace(/\s+/g, '-').toLowerCase();
                window.location.href = "/announcement/" + id + '-' + titleLowerDashed;
            }
        }
    }
</script>
<style scoped>
    .background {
        background-color: #394263 !important;
    }

    /*div >>> img >> .main_image {*/
        /*max-width:100%;*/
        /*max-height:100%;*/
    /*}*/

    /*img{*/
        /*height:100px;*/
        /*width:150px;*/
        /*padding:10px;*/
    /*}*/

    .sharp {
        border-radius:0px;
    }

    /*div >>> .slick-prev:before {*/
        /*font-family: 'slick';*/
        /*font-size: 30px;*/
        /*line-height: 1;*/
        /*opacity: .75;*/
        /*color: red;*/

        /*-webkit-font-smoothing: antialiased;*/
        /*-moz-osx-font-smoothing: grayscale;*/
    /*}*/

    /*div >>> .slick-next:before {*/
        /*content: ">";*/
        /*color: black;*/
        /*font-size: 30px;*/
        /*background-color:red;*/
    /*}*/

</style>