<template>


    <v-container fluid>

        <v-layout align-center justify-center >

            <v-flex xs12>
                <v-layout align-center justify-center wrap v-if="categories.length > 0">

                        <v-card flat tile  v-for="(category, index) in categories"
                                :key="category.id"
                                v-if="index < 5"
                                height="266px"
                                color="transparent"
                                :to = "/directory/ + category.category_name" style=" width:150px; padding :10px;">
                            <div :style="{ background: `url(${category.category_image})`,
                                                    height : '190px',
                                                    backgroundRepeat : 'no-repeat',
                                                    backgroundSize : 'contain',
                                                    backgroundPosition : 'center center'}">

                            </div>

                            <div style="margin-top:5px;">
                                <span>{{category.category_name}}</span><br>
                                <span class="grey--text caption">{{category.games.length}}{{category.games.length > 1 ? ' Games' : ' Game'}}</span><br>
                            </div>
                        </v-card>


                        <v-card flat tile
                                v-if="categories.length > 5"
                                height="266px"
                                color="transparent"
                                to = "/directory" style=" width:150px; padding :10px;">


                            <div :style="{ background: `url('http://www.shapecollage.com/collages/collage-popart.jpg')`,
                                                    height : '190px',
                                                    backgroundRepeat : 'no-repeat',
                                                    backgroundSize : 'contain',
                                                    backgroundPosition : 'center center'}"/>


                            <div style="margin-top:5px;">
                                <span>More</span><br>
                                <span class="grey--text caption">{{categories.length - 5}}{{categories.length > 1 ? ' Categories' : ' Category'}}</span><br>
                            </div>
                        </v-card>


                </v-layout>

                <v-layout align-center justify-center wrap v-else>
                    <v-card flat tile  style=" width:150px; padding :10px;" color="transparent">
                        <v-progress-circular indeterminate :size="32" color="blue-grey"></v-progress-circular>
                    </v-card>
                </v-layout>

            </v-flex>

        </v-layout>

    </v-container>


    <!--<v-container grid-list-lg text-xs-left>-->
        <!--<v-layout row wrap>-->
            <!--<v-flex  xs8 sm10 md12 lg11 xl7  offset-lg1 offset-xl3 offset-md0 offset-xs2 offset-sm1>-->

                    <!--<v-container fluid grid-list-xs v-if="categories.length > 0">-->
                        <!--<v-layout row wrap>-->
                            <!--<v-flex-->
                                    <!--xs2-->
                                    <!--v-for="(category, index) in categories"-->
                                    <!--:key="category.id"-->
                                    <!--v-if="index < 5"-->
                            <!--&gt;-->
                                <!--<v-card flat tile :to = "/directory/ + category.category_name">-->
                                    <!--<v-img-->
                                            <!--:src="category.category_image"-->
                                            <!--height="250px"-->
                                            <!--width="20px"-->
                                    <!--&gt;-->
                                    <!--</v-img>-->
                                    <!--<v-card-title>-->
                                        <!--<div>-->
                                            <!--<span>Whitehaven Beach</span><br>-->
                                            <!--<span class="grey&#45;&#45;text caption">{{category.games.length}}{{category.games.length > 1 ? ' Games' : ' Game'}}</span><br>-->
                                        <!--</div>-->
                                    <!--</v-card-title>-->
                                <!--</v-card>-->
                            <!--</v-flex>-->
                            <!--<v-flex xs2 v-if = "categories.length > 5">-->
                                <!--<v-card flat tile to = "/directory">-->
                                    <!--<v-img-->
                                            <!--src="http://www.shapecollage.com/collages/collage-popart.jpg"-->
                                            <!--height="250px"-->
                                            <!--width="20px"-->
                                    <!--&gt;-->
                                    <!--</v-img>-->
                                    <!--<v-card-title primary-title>-->
                                        <!--<div>-->
                                            <!--<div>Others</div>-->
                                        <!--</div>-->
                                    <!--</v-card-title>-->
                                <!--</v-card>-->
                            <!--</v-flex>-->
                        <!--</v-layout>-->
                    <!--</v-container>-->
                    <!--<v-container fluid fill-height text-xs-center v-else>-->
                        <!--<v-layout align-center justify-center>-->
                            <!--<v-flex xs12 sm8 md4>-->
                                <!--<v-card height="280px" color="transparent" flat>-->
                                    <!--<v-progress-circular style="margin-top:30%" indeterminate v-bind:size="50" color="blue-grey"></v-progress-circular>-->
                                <!--</v-card>-->
                            <!--</v-flex>-->

                        <!--</v-layout>-->
                    <!--</v-container>-->

            <!--</v-flex>-->

        <!--</v-layout>-->
    <!--</v-container>-->


</template>

<script>
    import CategoriesMixin from '../../mixins/categoriesMixin'
    export default {
        mixins:[CategoriesMixin],
        computed: {
            categories() {
                return this.$store.state.categories;
            }
        },
        mounted() {
            this.getCategories();
        }
    }

</script>


<style>

</style>