<template>
  <v-layout row>
    <v-flex xs12 sm10 order-xs2 style="position: relative;">
      <div class="chat-container" v-if="message_receiver">
        <div>
          <v-subheader >Conversation</v-subheader>
          <div class="message" v-for="message in player_messages" :class="{own: message.player_receiver != player.player_id}">
          <div class="username">{{message.player_sender}}</div>
          <!-- <div class="username" v-if="index == 0">{{message.user}}</div> -->

            <div class="content">
              <div v-html="message.message"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="typer" v-if="message_receiver">
        <input type="text" placeholder="Type here..." v-on:keyup.enter="sendMessage()" v-model="message_input">
      </div>
    </v-flex>
    <v-flex sm2 order-xs4 class="scrollable"  >
      <v-subheader>Recent Messages  <v-btn flat icon @click.stop="write_message = true"> <v-icon>create</v-icon></v-btn> </v-subheader> 
      <v-list v-for="item in player_receives" :key="item.player_id" subheader>
          <v-list-tile color="dark" @click="loadMessage(item)" >
            <v-list-tile-content >
              <v-list-tile-title v-html="item.title" ></v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-badge overlap cdeolor="blue" v-if="item.unread_messages >0" >
               <span slot="badge">{{item.unread_messages}}</span>
               <v-icon :color="item.unread_messages >0 ? 'red' : 'grey'">chat_bubble</v-icon>
              </v-badge>
              <v-icon v-if="item.unread_messages===0" :color="item.unread_messages=== 0 ? 'gray':'grey'">chat_bubble</v-icon>
            </v-list-tile-action>
        </v-list-tile>
      </v-list>

    </v-flex>

     <v-card>
            <v-dialog v-model="write_message">
            <v-card>
                <v-alert :value="error" type="error">
                    {{error_message}}
                </v-alert>
                <v-toolbar color="light-green darken-1">
                    <v-btn icon @click="dialog = false">
                        <v-icon>arrow_back</v-icon>
                    </v-btn>
                    <v-toolbar-title>Create Message</v-toolbar-title>
                    <v-spacer></v-spacer>

                </v-toolbar>
                <v-card-text>
                    <h2 class="subheading mb-5"></h2>
                      <v-select
                      v-model="selected_friend"
                      :items="friends"
                      label="Friends"
                      item-value="value"
                      required
                      >
                      </v-select>
                      <v-text-field
                      v-model="message"
                      :counter="10"
                      label="Message"
                      required>
                      </v-text-field>
                </v-card-text>
            </v-card>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="light-green darken-1" @click.native="closeDialog">Close</v-btn>
                <v-btn color="light-green darken-1" @click="submit">Send A message</v-btn>
            </v-card-actions>
            </v-dialog>
        </v-card>
  </v-layout>
</template>

<script>
  import store from '../../../vuex/mainpage/store.js'
  export default {
    props: ['id'],
    data () {
      return {
        chat_list: [],
        messages: [],
        content: [],
        channel: [],
        message: null,
        selected_friend: null,
        message_input: null,
        write_message: false,
        valid: true,
        name: '',
        select: null,
        friend_list: [],
        items: [],
        error_message: "",
        error:false
      }
    },
    created () {
    },
    computed: {
      user_authenticated() {
          return this.$store.state.user_authenticated;
      },
      channel_id () {
        return this.channel[0]+'-'+this.channel[1]
      },
      player_receives () {
        return this.chat_list  
      },
      player () {
        return this.$store.getters.currentPlayer;
      },
      player_messages() {
         return this.$store.state.messages;
      },      
      message_receiver() {
        return this.$store.state.message_receiver;
      },
      new_messages() {
        return this.$store.getters.getNewMessages;
      },
      friends() {
        return this.friend_list;
      }
    },
    mounted() { 
      this.getChatList(this)
      this.getFriendList();
    },
    methods: {
      getFriendList () {

          let player_id = this.player.player_id;

            this.$http.get('get-friend-list/'+player_id)
              .then((response) => {
                  response.data.filter((data)=>{
                    this.friend_list.push({text: data.name, value: data.id}) 
                  })
              }).catch(({response}) => {}) 

      },
      getChatList (self) {
          let data = {
             player_id : self.player.player_id 
          };

          self.$http.post('player/messages-sender',data)
              .then((response) => {
                  this.chat_list = response.data
              }).catch(({response}) => {
          })
      },
      loadMessage (player_sender) {
        let data = {
             player_id : this.player.player_id, 
             player_sender : player_sender.player_id
          };

          player_sender.unread_messages = 0;

          this.$store.dispatch('setMessageReceiver',player_sender)
          this.channel = [this.player.player_id,player_sender.player_id];
          this.channel.sort();
          this.player_receiver = player_sender;

          this.$http.post('player/messages',data)
              .then((response) => {
                  this.$store.dispatch('setMessages',response.data);
                  this.listenChat()
              }).catch(({response}) => {
          })
      },
      closeDialog () {
        this.write_message = false 
        this.error = false
      },
      listenChat () {
        Echo.channel('player-chat-'+this.channel_id)
        .listen('PlayerMessaged', (e) => {
          console.log(e)
          let divider = { divider: true, inset: true },          
              message = {
                player_sender: e.sender ,
                message : e.message,
                player_receiver : e.receiver_id
              };

          this.$store.dispatch('pushMessages',message)
        });
      },
      sendMessage () {
         let data = {
           player_receiver : this.message_receiver.player_id,
           player_sender: this.player.player_id,
           message : this.message_input
         }

          this.$http.post('player/send-message',data)
              .then((response) => {
                  this.message_input=''
              }).catch(({response}) => {})
      },
      submit () {
         let data = {
           player_receiver : this.selected_friend,
           player_sender: this.player.player_id,
           message : this.message
         }

         if(this.selected_friend !== null){
            this.$http.post('player/send-message',data)
            .then((response) => {
            this.message_input=''
            }).catch(({response}) => {})
          }else{
            this.error_message = 'There was no friend selected'
            this.error = true;
          }
          this.write_message = false;
      },
    },
  }
</script>
<style>
  span.emoji {
    font-size: 20px;
    vertical-align: middle;
    line-height: 2;
  }
  .scrollable {
    overflow-y: auto;
    height: 90vh;
  }
  .typer{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 4.9rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -5px 10px -5px rgba(0,0,0,.2);
  }
  .typer .emoji-panel{
    /*margin-right: 15px;*/
  }
  .typer input[type=text]{
    position: absolute;
    left: 2.5rem;
    padding: 1rem;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
  }
  .chat-container{
    box-sizing: border-box;
    height: calc(100vh - 9.5rem);
    overflow-y: auto;
    padding: 10px;
    background-color: #f2f2f2;
  }
  .message{
    margin-bottom: 3px;
  }
  .message.own{
    margin-right: 15px;
    text-align: right;
  }
  .message.own .content{
    background-color: lightskyblue;
  }
  .chat-container .username{
    font-size: 18px;
    font-weight: bold;
  }
  .chat-container .content{
    padding: 8px;
    background-color: lightgreen;
    border-radius: 10px;
    display:inline-block;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    max-width: 50%;
    word-wrap: break-word;
    }
  @media (max-width: 480px) {
    .chat-container .content{
      max-width: 60%;
    }
  }

</style>
