<template>
    <vue-form title="Create Venue">
        <div slot="buttons">
            <router-link to="/admin/dashboard/venues" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <venue-form></venue-form>
        </div>
    </vue-form>
</template>

<script>
    import VenueForm from './Form'
    export default {
        components: {VenueForm}
    }
</script>