<template>
    <vue-form title="Edit Venue">
        <div slot="buttons">
            <router-link to="/admin/dashboard/venues" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <venue-form :venue="venue"></venue-form>
        </div>
    </vue-form>
</template>

<script>
    import VenueForm from './Form'
    export default{
        components: {VenueForm},
        data: () => {
            return {
                venue: undefined
            }
        },
        mounted() {
            const self = this
            self.loadVenue(self)
        },
        methods: {
            loadVenue(self) {
                self.$http.get('venue/' + self.$route.params.id + '/edit')
                    .then((response) => {
                        self.venue = response.data.data
                    })
            },
        }
    }
</script>