<template>
    <div class="row">
        <form class="form-horizontal col-md-6 col-md-offset-3" @submit.prevent="onSubmit">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="venue_name" id="name" v-model="venue.venue_name"
                           class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea id="editor" name="venue_description" placeholder="Description"
                              v-model="venue.venue_description"
                              class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="capacity" class="col-sm-2 control-label">Capacity</label>
                <div class="col-sm-10">
                    <input type="number" name="capacity" id="capacity" v-model="venue.capacity"
                           class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="venue_image" class="col-sm-2 control-label">Venue Image</label>
                <div class="col-sm-5">
                    <input type="text" id="venue_image" class="form-control" name="venue_image"
                           v-model="venue.venue_image" placeholder="ex: /uploads/default_avatar.png">
                </div>
                <div class="col-sm-5">
                    <img v-if="venue.venue_image != null && venue.venue_image != ''" :src="venue.venue_image" width="41"
                         height="41">
                    <div class="venue-image-upload pull-right">
                        <a href="javascript:;" class="btn btn-success file">
                            <span>Upload File</span>
                            <input id="venue-image-upload" type="file" @change="venueImageUploader">
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Select a Place </label>

                <div class="col-sm-5">
                    <GmapAutocomplete class="form-control" @place_changed="setPlace">
                    </GmapAutocomplete>
                    <!--<button @click.prevent="usePlace">Add</button>-->
                </div>
            </div>
            <br/>

            <GmapMap style="width: 600px; height: 300px;" :zoom="11" :center="{lat: 14.6091, lng: 121.0223}">
                <GmapMarker v-for="(marker, index) in markers"
                            :key="index"
                            :position="marker.position"/>
                <GmapMarker
                        v-if="this.place"
                        label="★"
                        :position="{lat: this.place.geometry.location.lat(),lng: this.place.geometry.location.lng(),}"/>
            </GmapMap>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info">{{ venue.id ? 'Edit' : 'Create' }}</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import {stack_error} from '../../../helpers/stack_error'

    export default {
        props: {
            venue: {
                type: Object,
                default() {
                    return {
                        venue_image: '',
                        id: null,
                        lat: '',
                        long: ''
                    }
                }
            }
        },
        data: () => {
            return {
                markers: [],
                place: null,
                placeAddressComponents: {},
                long: null,
                lat: null
            }
        },
        computed: {
            mode() {
                return this.venue.id ? 'update' : 'create'
            }
        },
        methods: {
            onSubmit() {
                const self = this
                let url = 'venue' + (self.venue.id ? '/' + self.venue.id : ''),
                    method = self.venue.id ? 'patch' : 'post'

                self.$http[method](url, self.venue)
                    .then((response) => {
                        toastr.success('You created a new venue successfully!')
                        self.$router.push('/admin/dashboard/venues')
                    }).catch(({response}) => {
                    stack_error(response.data)
                })
            },
            venueImageUploader(event) {
                const self = this
                let files = event.target.files,
                    formData = new FormData()
                formData.append('image', files[0])
                formData.append('strategy', 'cover')
                console.log(formData)
                self.$http.post('file/upload', formData)
                    .then((response) => {
                        console.log(event)

                        toastr.success('Venue image uploaded successfully!')
                        self.venue.venue_image = response.data.url

                    }).catch(({response}) => {
                    if (response.data.error) {
                        toastr.error(response.data.error.message)
                    } else {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    }
                })
            },
            setDescription(description) {
                this.description = description;
            },
            setPlace(place) {
                const self = this
                self.place = place

                self.markers = []
                self.long = self.place.geometry.location.lng()
                self.lat = self.place.geometry.location.lat()
                self.getCity(self.place)

                if (self.long && self.lat) {
                    self.markers.push({
                        position: {
                            lat: self.lat,
                            lng: self.long,
                        }
                    })
                }

                // locality
                self.venue.city = self.placeAddressComponents.locality
                self.venue.lat = self.lat
                self.venue.long = self.long
                self.venue.address = self.place.formatted_address
                //this.place = null;
            },
            getCity(location) {
                for (var i = 0; i < location.address_components.length; i++) {
                    this.placeAddressComponents[location.address_components[i].types[0]] = location.address_components[i].long_name;
                }

                if (!this.placeAddressComponents['country']) {
                    console.warn('Couldn\'t extract country');
                    return false;
                }

                if (this.placeAddressComponents['locality']) {
                    return [this.placeAddressComponents['locality'], this.placeAddressComponents['country']];
                } else if (this.placeAddressComponents['administrative_area_level_1']) {
                    return [this.placeAddressComponents['administrative_area_level_1'], this.placeAddressComponents['country']];
                } else {
                    console.warn('Couldn\'t extract city');
                    return false;
                }
            }
        }
    }
</script>