<template>
    <div class="row">
        <vue-table title="Venues" :fields="fields" api-url="venue" show-paginate @table-action="tableActions">
            <div slot="buttons">
                <router-link to="/admin/dashboard/venues/create" class="btn btn-success">Create</router-link>
            </div>
        </vue-table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                venues: [],
                fields: [
                    {
                        title: 'Id',
                        name: 'id',
                        titleClass: 'width-5-percent text-center',
                        dataClass: 'text-center'
                    },
                    {
                        title: 'Venue Name',
                        name: 'venue_name',
                    },
                    {
                        title: 'Venue Description',
                        name: 'venue_description',
                    },
                    {
                        title: 'Created At',
                        name: 'created_at',
                    },
                    {
                        name: '__actions',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }
                ]
            }
        },
        methods: {
            tableActions(action, data) {
                if (action === 'edit-item') {
                    this.$router.push('/admin/dashboard/venues/' + data.id + '/edit')
                } else if (action === 'delete-item') {
                    this.$http.delete('venue/' + data.id)
                        .then((response) => {
                            toastr.success('You deleted the venue successfully.')
                            this.$emit('reload')
                        }).catch(({response}) => {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    })
                }
            }
        }
    }
</script>