<template>
  <v-dialog v-model="view" max-width="750px" max-height="500px">
    <v-card>
      <v-toolbar color="light-green darken-1">
        <v-btn icon @click="view = false">
          <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-toolbar-title>Team Details Edit</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-title>
      </v-card-title>
      <v-card-text>
        <template>
<!--           <v-form v-model="team_form">
            <v-text-field label="Team Name" v-model="team.team_name" persistent-hint></v-text-field>
            <v-text-field label="Team Description" v-model="team.team_description" persistent-hint></v-text-field>
            <v-text-field label="Game Category" disabled v-model="category_name" persistent-hint></v-text-field>
            <v-text-field label="Game" disabled v-model="game_name" persistent-hint></v-text-field>
            <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
              <img :src="imageUrl" height="150" v-if="imageUrl" />
              <v-text-field label="Select Image" @click="$refs.image.click ()" v-model='imageName' prepend-icon='attach_file'></v-text-field>
              <input type="file" style="display: none" ref="image" accept="image/*" @change="onFilePicked">
            </v-flex>
            <v-checkbox v-model="team.accept_request" label="Accept request for joining the team?" hide-details></v-checkbox>
          </v-form> -->
        </template>
      </v-card-text>
      <v-card-actions center>
        <v-spacer></v-spacer>
        <v-btn color="light-green darken-1" @click.native="view = false">Close</v-btn>
        <v-btn color="light-green darken-1" @click="">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default {
  props: ['view'],
  data() {
  return {
    teams: [],
    transparent: 'rgba(255, 255, 255, 0)',
    hide_buttons: false,
    tabs_color: 'green',
    activeTab: null,
    player_information: [],
    friends: [],
    pending: {},
    friendRequestPending: false
  }
},
}
</script>
