<template>
        <div style="margin-right:10px;">
            <v-toolbar-items class="hidden-sm-and-down">
                <v-icon >fa-calendar</v-icon> <span style="font-size: 13px;"> {{ date_text }} </span>
                <v-icon >fa-clock-o</v-icon> <span style="font-size: 13px;"> {{ time_text }} </span>
            </v-toolbar-items>
        </div>
</template>

<script>
    import moment from 'moment'

    export default {
        data() {
            return {
                date_text: ' Retrieving Informations Needed..',
                time_text: ' Retrieving Informations Needed..'
            }
        },
        methods: {
            time() {
                this.time_text = ' ' + moment().format('hh:mm:ss A');
            },
            date() {
                this.date_text = ' ' + moment().format('dddd, MMMM D, YYYY');
            }
        },
        created () {
            this.date();
            this.time();
            setInterval(this.time, 1200);
        }
    }
</script>

<style/>
