<template>
	<v-dialog v-model="message_dialog" width="1000px" height="320px" >
		<v-layout row>
			<v-flex xs12 sm10 order-xs2 style="position: relative;">
			<div class="chat-container">
				<div>
					<div class="username">Send message to {{set_conversation.receiver_nickname}}</div>
				</div>
			</div>
			<div class="typer">
				<input type="text" placeholder="Type here..." v-on:keyup.enter="sendMessage()" v-model="message_input">
			</div>
			</v-flex>
		</v-layout>
	</v-dialog>
</template>
<script type="text/javascript">
	    import store from '../../../../../vuex/mainpage/store.js'
	    export default {
	    	data() {
				return {
					message_input: "",
				}
	    	},
	    	computed: {
    			set_conversation () {
    				return this.$store.state.conversation;
    			},
	            player () {
                	return this.$store.getters.currentPlayer;
            	},
            	message_dialog () {
            		return this.$store.state.message_dialog;
            	}
	    	},
	    	methods: {
				sendMessage () {
					let data = {
						player_receiver : this.set_conversation.receiver_id,
						player_sender: this.player.player_id,
						message : this.message_input
					}

					this.$http.post('player/send-message',data)
					.then((response) => {
						this.message_input=''
						this.$store.dispatch('toggleMessageDialog',false)
					}).catch(({response}) => {})
				},
	    	}
	    }

</script>
<style type="text/css">
	  span.emoji {
    font-size: 20px;
    vertical-align: middle;
    line-height: 2;
  }
  .scrollable {
    overflow-y: auto;
    height: 90vh;
  }
  .typer{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 4.9rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -5px 10px -5px rgba(0,0,0,.2);
  }
  .typer .emoji-panel{
    /*margin-right: 15px;*/
  }
  .typer input[type=text]{
    position: absolute;
    left: 2.5rem;
    padding: 1rem;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
  }
  .chat-container{
    box-sizing: border-box;
    height: calc(100vh - 9.5rem);
    overflow-y: auto;
    padding: 10px;
    background-color: #f2f2f2;
  }
  .message{
    margin-bottom: 3px;
  }
  .message.own{
    margin-right: 15px;
    text-align: right;
  }
  .message.own .content{
    background-color: lightskyblue;
  }
  .chat-container .username{
    font-size: 25px;
    color: green;
    font-weight: bold;
  }
  .chat-container .content{
    padding: 8px;
    background-color: lightgreen;
    border-radius: 10px;
    display:inline-block;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    max-width: 50%;
    word-wrap: break-word;
    }
  @media (max-width: 480px) {
    .chat-container .content{
      max-width: 60%;
    }
  }

</style>