<template>
    <v-toolbar-items class="hidden-sm-and-down">
            <v-btn icon small to="/message">
                <v-badge overlap cdeolor="red" v-if="message_count.length>0">
                    <span slot="badge">{{message_count.length}}</span>
                    <v-icon>chat</v-icon>
                </v-badge>
                <v-icon v-else>chat</v-icon>
            </v-btn>

            <!--Team Notifs -->
            <!--         <v-btn icon small @click="handleTeamNotification">
                        <v-badge overlap cdeolor="red" >
                            <span slot="badge">{{team_notif_count.length}}</span>
                            <v-icon>fa-users</v-icon>
                        </v-badge>
                    </v-btn> -->

            <v-menu
                    :close-on-content-click="false"
                    :nudge-width="500"
                    v-model="team"
                    :position-x="1340"
                    :position-y="50"
            >
                <v-card>
                    <v-list>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Team Notification</v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <v-btn
                                        icon
                                        @click="fav = !fav"
                                >
                                    <!--<v-icon>settings</v-icon>-->
                                </v-btn>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list>

                    <v-divider style="margin-top:-12px;"></v-divider>


                    <div style="max-height: 350px"
                         class="scroll-y"
                         id="scroll-target">

                        <!--                <v-list
                                               v-scroll="{
                                                   target: '#scroll-target',
                                                     callback: this.onScroll
                                                   }"
                                               two-line
                                               style="margin-top:-15px;height: 350px">
                                           <template v-for="notification in team_notifications">
                                               <v-divider style=" margin-top:1px;  margin-bottom:1px"
                                                          v-bind:inset="notification.inset"></v-divider>
                                               <v-list-tile avatar v-bind:key="notification.id" @click="">
                                                   <v-list-tile-avatar>
                                                       <img v-bind:src="notification.profile_picture">
                                                   </v-list-tile-avatar>
                                                   <v-list-tile-content>
                                                       <v-list-tile-title>

                                                           <span class='grey--text text--darken-2'>{{notification.name}}</span>
                                                           — {{notification.title}}

                                                       </v-list-tile-title>
                                                       <v-list-tile-sub-title v-html="notification.message"></v-list-tile-sub-title>
                                                   </v-list-tile-content>
                                               </v-list-tile>

                                           </template>
                                           <v-list-tile v-if="loader">
                                               <v-progress-circular indeterminate color="green" class="progress_bar"></v-progress-circular>
                                           </v-list-tile>
                                       </v-list> -->
                    </div>

                    <div class="text-xs-center">
                        <v-card flat>
                            <v-card-text>
                                <v-btn large to="/notifications" color="primary" dark>See All</v-btn>
                            </v-card-text>
                        </v-card>
                    </div>
                </v-card>
            </v-menu>


            <!--Notifications  -->
            <v-btn icon small @click="handlesShownNotifications">
                <v-badge overlap color="red" v-model="show">
                    <span slot="badge" v-if="count.length > 0">{{count.length}}</span>
                    <v-icon>notifications</v-icon>
                </v-badge>
            </v-btn>

            <v-menu
                    :close-on-content-click="false"
                    :nudge-width="500"
                    v-model="menu"
                    :position-x="1340"
                    :position-y="50"
            >
                <v-card>
                    <v-list>
                        <v-list-tile avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>Notifications</v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <v-btn
                                        icon
                                        @click="fav = !fav"
                                >
                                    <!--<v-icon>settings</v-icon>-->
                                </v-btn>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list>

                    <v-divider style="margin-top:-12px;"></v-divider>


                    <div style="max-height: 350px"
                         class="scroll-y"
                         id="scroll-target">

                        <v-list
                                v-scroll="{
                                target: '#scroll-target',
                                  callback: this.onScroll
                                }"
                                two-line
                                style="margin-top:-15px;height: 350px">
                            <template v-for="notification in notifications">
                                <v-divider style=" margin-top:1px;  margin-bottom:1px"
                                           v-bind:inset="notification.inset"></v-divider>
                                <v-list-tile avatar v-bind:key="notification.id" @click="">
                                    <v-list-tile-avatar>
                                        <img v-bind:src="notification.profile_picture">
                                    </v-list-tile-avatar>
                                    <v-list-tile-content>
                                        <v-list-tile-title>

                                            <span class='grey--text text--darken-2'>{{notification.name}}</span>
                                            — {{notification.title}}

                                        </v-list-tile-title>
                                        <v-list-tile-sub-title v-html="notification.message"></v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>

                            </template>
                            <v-list-tile v-if="loader">
                                <v-progress-circular indeterminate color="green"
                                                     class="progress_bar"></v-progress-circular>
                            </v-list-tile>
                        </v-list>

                    </div>

                    <div class="text-xs-center">
                        <v-card flat>
                            <v-card-text>
                                <v-btn large to="/notifications" color="primary" dark>See All</v-btn>
                            </v-card-text>
                        </v-card>
                    </div>
                </v-card>
            </v-menu>
    </v-toolbar-items>
</template>

<script>
    import store from '../../../../../vuex/mainpage/store.js'

    export default {
        data() {
            return {
                menu: false,
                team: false,
                fav: false,
                show: true,

            }
        },
        mounted() {
            const self = this
            self.getActiveUserNotifications(self)
            // self.getNewMessages(self)
        },
        computed: {
            user_authenticated() {
                return this.$store.state.user_authenticated;
            },
            // team_notifications() {
            //     return this.$store.state.team_notifications;
            // },
            notifications() {
                return this.$store.state.notifications;
            },
            loader() {
                return this.$store.state.loader;
            },
            count() {
                return this.$store.getters.getNotificationCount;
            },
            tokens() {
                return this.$store.state.tokens
            },
            message_count() {
                return this.$store.getters.getNewMessageCount;
            },
            // team_notif_count () {
            //     return this.$store.getters.getTeamNotifCount;
            // },
            player() {
                return store.getters.currentPlayer
            },
        },
        watch: {
            notifications() {
                this.$store.dispatch('toggleLoader', false);
            }
        },
        methods: {
            onScroll(e) {
                /* if ((e.target.scrollTop + e.target.offsetHeight) == e.target.scrollHeight) {
                     this.$store.dispatch('toggleLoader', true);

                     setTimeout(() => {
                         this.$store.dispatch('pushNotifications',
                             {
                                 id: Math.random(),
                                 shown: false,
                                 inset: true,
                                 name: "Test",
                                 divider: true,
                                 title: 'New Record?',
                                 message: 'Here is a new record for you :)',
                                 profile_picture: 'https://avatars0.githubusercontent.com/u/9064066?v=4&s=460'
                             }
                         )
                         this.show = true;
                     }, 1000);
                 }*/
            },
            getActiveUserNotifications(self) {
                let notifications = [];
                let new_messages = [];
                let team_notifs = [];

                self.$http.post('/get-active-user-notifs')
                    .then((response) => {

                        response.data.forEach(function (value, index) {
                            if (value.data.friend_request_sent !== undefined) {
                                notifications.push(value.data.friend_request_sent);
                                // self.$store.dispatch('pushNotifications', value.data.friend_request_sent);
                            }

                            if (value.data.message_sent !== undefined) {
                                new_messages.push(value.data.message_sent);
                                // self.$store.dispatch('pushNotifications', value.data.message_sent);              
                            }


                            if (value.data.team_message_sent !== undefined) {
                                notifications.push(value.data.team_message_sent);
                                // self.$store.dispatch('pushNotifications', value.data.message_sent);              
                            }

                        });
                        self.$store.dispatch('setNotifications', notifications);
                        self.$store.dispatch('setNewMessages', new_messages);
                        // self.$store.dispatch('setTeamMessages', team_notifs);
                    }).catch(({response}) => {
                })
            },
            handlesShownNotifications() {
                this.menu = !this.menu;
                this.show = false;
            },
            handleTeamNotification() {
                let data = {
                    player_id: this.player.player_id,
                }

                this.$http.post('/team/read-chat-notif', data)
                    .then((response) => {
                    });

                this.team = true;
            }
        }
    }

</script>

<style scoped>
    .progress_bar {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>