<template>
<div>

        <v-text-field
                light
                single-line
                clearable
                prepend-icon="search"
                placeholder="Search"
                @keyup="onKeyUp"
                @focus="onKeyUp"
                v-model="search_value"
                style="margin-top: 13px"
        ></v-text-field>
        <div>
                <v-menu
                        :close-on-content-click="false"
                        :nudge-width="400"
                        v-model="menu"
                        :position-x = "290"
                        :position-y = "43"
                >
                        <v-card flat style="border-radius: 0px !important;">
                                <div v-if="loader" style="height:350px; width:100%;">
                                        <div class="align-center">
                                                <v-progress-circular indeterminate color="green"></v-progress-circular>
                                        </div>
                                </div>
                                <div v-else-if="games.length > 0 ||  categories.length > 0 ||  players.length > 0 || teams.length> 0">

                                        <div style="max-height: 350px"
                                             class="scroll-y"
                                             id="scroll-target">

                                                <div v-if="games.length > 0">
                                                        <v-divider ></v-divider>
                                                        <v-list dense>
                                                                <v-list-tile avatar>

                                                                        <v-list-tile-content>
                                                                                <v-list-tile-title>
                                                                                        <v-icon>videogame_asset</v-icon>
                                                                                        {{games.length == 1 ? 'Game' : 'Games'}}
                                                                        </v-list-tile-title>
                                                                        </v-list-tile-content>
                                                                        <v-list-tile-action>
                                                                                {{games.length}}
                                                                </v-list-tile-action>
                                                                </v-list-tile>
                                                        </v-list>
                                                        <v-divider ></v-divider>
                                                        <v-list
                                                                v-scroll="{target: '#scroll-target'}"
                                                                two-line
                                                                style="margin-top:-15px;height: 100%">
                                                                <template v-for="game in games">
                                                                        <v-divider style=" margin-top:1px;  margin-bottom:1px"></v-divider>
                                                                        <v-list-tile avatar v-bind:key="game.game_id" :to="'/directory/' + game.category.category_name +'/'+ game.game_id">
                                                                                <v-list-tile-avatar>
                                                                                        <v-avatar tile>
                                                                                                <img  v-bind:src="game.image">
                                                                                        </v-avatar>
                                                                                </v-list-tile-avatar>
                                                                                <v-list-tile-content>
                                                                                        <v-list-tile-title>

                                                                                                <span class='grey--text text--darken-2'>{{game.game_name}}</span>
                                                                                                : {{game.game_description}}

                                                                                </v-list-tile-title>
                                                                                        <v-list-tile-sub-title>
                                                                                                <span class="caption">Game Code : {{game.game_id}}</span>
                                                                                        </v-list-tile-sub-title>
                                                                                </v-list-tile-content>
                                                                        </v-list-tile>

                                                                </template>
                                                        </v-list>
                                                </div>


                                                <div v-if="categories.length > 0">
                                                        <v-divider ></v-divider>
                                                        <v-list dense>
                                                                <v-list-tile avatar>
                                                                        <v-list-tile-content>
                                                                                <v-list-tile-title>
                                                                                        <v-icon>dashboard</v-icon>
                                                                                        {{categories.length == 1 ? 'Category' : 'Categories'}}
                                                                        </v-list-tile-title>
                                                                        </v-list-tile-content>
                                                                        <v-list-tile-action>
                                                                                {{categories.length}}
                                                                </v-list-tile-action>
                                                                </v-list-tile>
                                                        </v-list>

                                                        <v-list
                                                                v-scroll="{target: '#scroll-target'}"
                                                                two-line
                                                                style="margin-top:-15px; height: 100%">
                                                                <template v-for="category in categories">
                                                                        <v-list-tile avatar v-bind:key="category.category_id" :to="'/directory/' + category.category_name">
                                                                                <v-list-tile-avatar>
                                                                                        <v-avatar tile>
                                                                                                <img  v-bind:src="category.category_image">
                                                                                        </v-avatar>
                                                                                </v-list-tile-avatar>
                                                                                <v-list-tile-content>
                                                                                        <v-list-tile-title>
                                                                                                <span class='grey--text text--darken-2'>{{category.category_name}}</span>
                                                                                        </v-list-tile-title>
                                                                                        <v-list-tile-sub-title>
                                                                                                <span class="caption">{{category.category_description}}</span>
                                                                                        </v-list-tile-sub-title>
                                                                                </v-list-tile-content>
                                                                        </v-list-tile>

                                                                </template>
                                                        </v-list>
                                                </div>

                                                <v-divider ></v-divider>
                                                <div v-if="players.length > 0">

                                                        <v-list dense >
                                                                <v-list-tile avatar>
                                                                        <v-list-tile-content>
                                                                                <v-list-tile-title>
                                                                                        <v-icon>perm_identity</v-icon>
                                                                                        {{players.length == 1 ? 'Player' : 'Players'}}
                                                                        </v-list-tile-title>
                                                                        </v-list-tile-content>
                                                                        <v-list-tile-action>
                                                                                {{players.length}}
                                                                </v-list-tile-action>
                                                                </v-list-tile>
                                                        </v-list>

                                                        <v-list
                                                                v-scroll="{target: '#scroll-target'}"
                                                                two-line
                                                                style="margin-top:-15px;height: 100%">
                                                                <template v-for="player in players">

                                                                        <v-list-tile avatar v-bind:key="player.player_id" :to="'/profile/' + player.player_id">
                                                                                <v-list-tile-avatar>
                                                                                        <v-avatar tile>
                                                                                                <img  v-bind:src="player.profile_picture">
                                                                                        </v-avatar>
                                                                                </v-list-tile-avatar>
                                                                                <v-list-tile-content>
                                                                                        <v-list-tile-title>
                                                                                                <span class='grey--text text--darken-2'>{{ player.player_nickname }}</span>
                                                                                                : {{ player.player_details }}
                                                                                 </v-list-tile-title>



                                                                                        <v-list-tile-sub-title>Player ID : {{ player.player_id }}</v-list-tile-sub-title>
                                                                                </v-list-tile-content>
                                                                        </v-list-tile>
                                                                </template>
                                                        </v-list>
                                                </div>

                                                <div v-if="teams.length > 0">

                                                        <v-list dense >
                                                                <v-list-tile avatar>
                                                                        <v-list-tile-content>
                                                                                <v-list-tile-title>
                                                                                        <v-icon>perm_identity</v-icon>
                                                                                        {{teams.length == 1 ? 'Team' : 'Teams'}}
                                                                        </v-list-tile-title>
                                                                        </v-list-tile-content>
                                                                        <v-list-tile-action>
                                                                                {{teams.length}}
                                                                </v-list-tile-action>
                                                                </v-list-tile>
                                                        </v-list>

                                                        <v-list
                                                                v-scroll="{target: '#scroll-target'}"
                                                                two-line
                                                                style="margin-top:-15px;height: 100%">
                                                                <template v-for="team in teams">

                                                                        <v-list-tile avatar v-bind:key="team.team_id" :to="'/teams/' + team.team_id">
                                                                                <v-list-tile-avatar>
                                                                                        <v-avatar tile>
                                                                                                <img  v-bind:src="'http://steamavatars.co/wp-content/uploads/2016/01/blue_soldier_steam_avatars.png'">
                                                                                        </v-avatar>
                                                                                </v-list-tile-avatar>
                                                                                <v-list-tile-content>
                                                                                        <v-list-tile-title>
                                                                                                <span class='grey--text text--darken-2'>{{ team.team_name }}</span>
                                                                                        </v-list-tile-title>
                                                                                </v-list-tile-content>
                                                                        </v-list-tile>
                                                                </template>
                                                        </v-list>
                                                </div>






                                        </div>
                                </div>
                                <div v-else style="height:350px; width:100%;">
                                        <div class="align-center ">
                                        <span class="headline text-xs-center">
                                                 <v-icon>visibility_off</v-icon>
                                                  <span class='grey--text text--darken-2'>Nothing found</span>
                                        </span>
                                        </div>
                                </div>


                        </v-card>
                </v-menu>
        </div>

</div>


</template>


<script>
    export default{
        data(){
            return {
                menu:false,
                search_value: '',
                timer: null,
                games:[],
                categories:[],
                players:[],
                teams:[],
                loader:false
            }
        },
        methods:{
            onKeyUp(){
                const self = this;
                clearTimeout(self.timer);

                if(self.search_value == '' || self.search_value == null){
                    self.menu = false
                }else{
                    self.loader = true;
                    self.timer = setTimeout(function () {
                        self.menu = true;
                        self.games = [];
                        self.categories = [];
                        self.players = [];
                          self.$http.get('search/'+self.search_value)
                            .then(function(response){
                                self.loader = false;
                                console.log(response)
                                self.games = (response.data.hasOwnProperty('games')) ? response.data.games : [];
                                self.categories =  (response.data.hasOwnProperty('categories')) ? response.data.categories : [];
                                self.players = (response.data.hasOwnProperty('players')) ? response.data.players : [];
                                self.teams = (response.data.hasOwnProperty('teams')) ? response.data.teams : [];

                            },function(response) {
                                self.loader = false;
                            });

                    }, 300);
                }
            }
        }
    }
</script>

<style scoped>
    .align-center{
            text-align: center;
            vertical-align: middle;
            padding-top: 40%;
    }

    div >>> .input-group.input-group--solo .input-group__input {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0px 16px;
    }

</style>