<template>


    <div>
        <v-btn icon small @click="menu = !menu">
            <v-avatar class="red" size="28px">
                <span class="white--text headline caption">{{profileLetter}}</span>
            </v-avatar>
        </v-btn>

        <v-menu
                :nudge-width="300"
                v-model="menu"
                :position-x="1650"
                :position-y="50"
        >
            <v-card>
                <v-list>
                    <v-list-tile avatar>
                        <v-avatar class="red" size="40px">
                            <span class="white--text headline">{{profileLetter}}</span>
                        </v-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>{{user_authenticated.name}}</v-list-tile-title>
                            <v-list-tile-sub-title>{{user_authenticated.email}}</v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-btn icon @click="viewProfile">
                                <v-icon color="grey">settings</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list>

                <v-divider></v-divider>

                <v-list dense>

                    <v-list-tile :to="'/profile/' + user_authenticated.player.player_id">
                        <v-list-tile-action>
                            <v-icon>people_outline</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>My Network</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>

                    <v-list-tile @click="log_out()">
                        <v-list-tile-action>
                            <v-icon>settings</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Sign out</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>


                </v-list>

            </v-card>

        </v-menu>


        <v-dialog v-model="dialog" max-width="500px">
            <v-card style="border:1px solid black;">
                <v-card-title>

                    <v-avatar
                            size="105px"
                            class="grey lighten-4"
                    >
                        <img src="https://s3-eu-west-1.amazonaws.com/lynks-blog/wp-content/uploads/2016/10/11153439/rsz_1shutterstock_325243652.jpg"
                             alt="avatar">
                    </v-avatar>
                    <a href="#" class="profile-pic" style="text-align:center; border:1px solid black;">
                        <div class="profile-pic"
                             style="background-image: url('https://s3-eu-west-1.amazonaws.com/lynks-blog/wp-content/uploads/2016/10/11153439/rsz_1shutterstock_325243652.jpg')">

                            <span><v-icon>settings</v-icon></span>
                            <span>

                                Change Image
                            </span>

                        </div>
                    </a>
                    <!--<v-flex xs12 sm12>
                        <v-chip label>Favorite Games</v-chip>
                        <v-select
                                label="Select preferred games, up to 5"
                                chips
                                tags
                                solo
                                prepend-icon="filter_list"
                                append-icon=""
                                clearable
                                v-model="selectedGames"
                                :items="games.data"
                                item-text="game_name"
                                item-value="id"
                                max-height="auto"
                                return-object
                                hide-selecteed
                                dense
                        >
                        </v-select>
                    </v-flex>-->
                </v-card-title>
                <v-card-text>
                    <v-btn color="primary" dark @click.stop="dialog = !dialog">Open Dialog 3</v-btn>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialog=false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'

    export default {
        data() {
            return {
                menu: false,
                fav: false,
                dialog: false,
                games: null,
                selectedGames: []
            }
        },
        props: ['user_authenticated'],
        methods: {
            log_out() {
                const self = this;
                self.$store.commit('UNAUTHENTICATE_USER');
                localStorage.clear();
                self.$router.push(self.$store.state.last_route);
            },
            viewProfile() {
                const self = this;
                self.dialog = true;
            },
            getGameDetails(self) {
                self.$http.get('games/')
                    .then(response => {
                        self.games = response.data;
                    }, response => {
                    });
            },

        },
        computed: {
            ...mapGetters([
                'getProfileLetter'
            ]),
            profileLetter(){
                if(this.user_authenticated.player.player_nickname!==undefined){
                    return this.user_authenticated.player.player_nickname.charAt(0)
                }
                return '';
            }
        },
        mounted() {
            const self = this
            self.getGameDetails(self)
            self.$store.dispatch('populateUserFirstLetter', self.user_authenticated.player.player_nickname)
        },
        watch: {
            selectedGames(newVal) {
            }
        }
    }
</script>

<style scoped>
    .account-name {
        font-size: 20px !important;
        text-align: center;
        margin-top: 20px;
    }

    .profile-pic {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        background-size: cover;
        background-position: center;
        background-blend-mode: multiply;
        vertical-align: middle;
        text-align: center;
        color: transparent;
        transition: all .3s ease;
        text-decoration: none;
    }

    .profile-pic:hover {
        background-color: rgba(0, 0, 0, .5);
        z-index: 10000;
        color: #fff;
        transition: all .3s ease;
        text-decoration: none;
    }

    .profile-pic span {
        display: inline-block;
        padding-top: 4.5em;
        padding-bottom: 4.5em;
    }
</style>
