<template>
    <div>

        <v-toolbar
                color="primary"
                dark
                app
                flat
                dense
                clipped-left
                clipped-right
                fixed
        >
            <v-toolbar-side-icon v-if="isUserAuthenticated" @click.stop="drawer = !drawer"></v-toolbar-side-icon>

            <router-link  to="/"> <img src="/images/gt-logo-small.png" alt="Brand Logo"  width="125" height="30" style="margin-left: 10px;"> </router-link>


            <v-btn flat to = "/directory" style="text-transform: capitalize !important;">Browse</v-btn>


            <search-box></search-box>
            <v-spacer/>
            <v-btn flat to="/login"  v-if="!isUserAuthenticated" style="text-transform: capitalize !important;">Login</v-btn>

            <!--isUserAuthenticated computed property available in drawerMixin.js-->
            <message-player v-if="isUserAuthenticated"/>
            <notifications v-if="isUserAuthenticated" />
            <user-profile v-if="isUserAuthenticated"  :user_authenticated = "user_authenticated" />



        </v-toolbar>

    </div>
</template>

<script>
    import DrawerMixin from '../../../../mixins/drawerMixin.js'
    import DateTime from './subcomponents/DateTime.vue'
    import UserProfile from './subcomponents/UserProfile.vue'
    import Notifications from './subcomponents/Notifications.vue'
    import Messages from './subcomponents/Messages.vue'
    import MessagePlayer from './subcomponents/MessagePlayer.vue'
    import SearchBox from './subcomponents/SearchBox.vue';
    export default {
        components : {
          'date-time' : DateTime,
          'user-profile' : UserProfile,
          'notifications' : Notifications,
          'messages' : Messages,
          'message-player' : MessagePlayer,
          'search-box' : SearchBox
        },
        mixins: [DrawerMixin],
        data() {
           return {
             show: null
           }
        }
    }
</script>

<style>
    .navigation_burger_button{
        margin-left:-1px !important;
    }
</style>