<template>
  <v-app>
    <side-bar></side-bar>
    <nav-bar></nav-bar>
    <v-dialog v-model="game_selection" max-width="500px">
      <v-card>
        <v-card-title>
          Create Match
        </v-card-title>
        <v-card-text>
          <v-select label="Games Category/Criteria" :items="options" item-value="text" v-model="match.category_name"></v-select>
          <v-select :items="games" label="Select game to create match" v-model="match.game" item-value="value"></v-select>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" flat @click.stop="game_selection=false;disable_float_button = false">Close</v-btn>
          <v-btn color="primary" flat @click.stop="createMatchRedirect()">Create a Match</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="create_team">
      <v-card>
        <v-toolbar color="light-green darken-1">
          <v-btn icon @click="create_team = false">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          <v-toolbar-title>Create Team</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <h1 class="title">Team Details and Statistics</h1>
          <h2 class="subheading mb-5"></h2>
          <v-text-field label="Team Name" v-model="team.name" persistent-hint></v-text-field>
          <v-text-field label="Team Description" v-model="team.description" persistent-hint></v-text-field>
          <v-select label="Games Category/Criteria" :items="options" v-model="team.category_id"></v-select>
          <v-select label="Games" :items="games" v-model="team.game_id"></v-select>
          <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
            <img :src="imageUrl" height="150" v-if="imageUrl" />
            <v-text-field label="Select Image" @click="$refs.image.click ()" v-model='imageName' prepend-icon='attach_file'></v-text-field>
            <input type="file" style="display: none" ref="image" accept="image/*" @change="onFilePicked">
          </v-flex>
          <v-checkbox v-model="team.accept_request" label="Accept request for joining the team?" hide-details></v-checkbox>
        </v-card-text>
      </v-card>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="light-green darken-1" @click.native="create_team = false; float_button=true;disable_float_button = false">Close</v-btn>
        <v-btn color="light-green darken-1" @click="createTeam">Create Team</v-btn>
      </v-card-actions>
    </v-dialog>
    <div class="float-button" v-if="!disable_float_button">
      <span class="height-fix">
                         <v-speed-dial
                          class="container"
                          v-model="fab"
                          :top="top"
                          :bottom="bottom"
                          :right="right"
                          :left="left"
                          :direction="direction"
                          :open-on-hover="hover"
                          :transition="transition"
                        >
                          <v-btn
                            slot="activator"
                            color="green"
                            dark
                            fab
                            hover
                            v-model="fab"
                          >
                            <v-icon>add</v-icon>
                            <v-icon>close</v-icon>
                          </v-btn>
                          <v-tooltip right>
                          <v-btn
                            fab
                            slot="activator"
                            dark
                            small
                            @click.stop ="create_team = true; float_button=false; disable_float_button=true"
                            color="green"
                          >
                          <v-icon>fa-users</v-icon>
                          </v-btn>
                          <span>Create Team</span>
      </v-tooltip>
      <v-tooltip right>
        <v-btn slot="activator" fab dark small @click.stop="game_selection = true" color="indigo">
          <v-icon>fa-gamepad</v-icon>
        </v-btn>
        <span>Create Match</span>
      </v-tooltip>
      </v-speed-dial>
      </span>
    </div>
    <main-section></main-section>
    <!--<footer-section></footer-section>-->
  </v-app>
</template>

<script>
import Footer from '../../../components/home/partials/Footer.vue'
import Navbar from '../../../components/home/partials/Navbar/Navbar.vue'
import SideBar from '../../../components/home/partials/Sidebar.vue'
import MainSection from '../../../components/home/partials/Main.vue'
import CategoriesMixin from '../../../mixins/categoriesMixin'
import store from '../../../vuex/mainpage/store.js'

export default {
  data() {
    return {
      imageName: null,
      imageUrl: null,
      disable_float_button: false,
      direction: 'top',
      team: [],
      float_button: true,
      match: [],
      game_list: [],
      create_team: false,
      game_selection: false,
      fab: false,
      fling: false,
      hover: false,
      tabs: null,
      top: false,
      right: true,
      bottom: true,
      left: false,
      transition: 'slide-y-reverse-transition'
    }
  },
  mixins: [CategoriesMixin],
  components: {
    'footer-section': Footer,
    'nav-bar': Navbar,
    'side-bar': SideBar,
    'main-section': MainSection
  },
  computed: {
    player_id() {
      if (store.getters.currentUser.player !== undefined) {
        return store.getters.currentUser.player.player_id
      }
      return 0
    },
    options() {
      return $.map(store.getters.getCategories, function(info, index) {
        return [{ text: info.category_name, value: info.id }];
      });
    },
    games() {
      if(
        (Object.keys(this.team).length === 0  && !this.team.category_id) &&
          (Object.keys(this.match).length === 0  && !this.match.category_name)

      ) {
        return store.getters.getGames.map(function(game){
          return { text: game.game_name, value: game.id }
        })

      } else if(this.team.category_id != null) {
        return store.getters.getGames.filter(game => {
          return game.category_id === this.team.category_id
        }).map(function(game){
          return { text: game.game_name, value: game.id }
        });
      } else{
        return store.getters.getGames.filter(game => {
          return game.category_name === this.match.category_name
        }).map(function(game){
          return { text: game.game_name, value: game.id }
        });
      }

    }
  },
  watch: {
    'match.category_name' () {
      const fetchGames = this.$store.getters.getGames;
      this.game_list = [];
      for(let index = 0; index < fetchGames.length; index++) {
        if(fetchGames[index].category_name == this.match.category_name){
          this.game_list.push(fetchGames[index]);
        }
      }
    },
    '$route' (to, from) {
      if (to.name !== 'MatchPage') {
        this.disable_float_button = false;
      } else {
        this.disable_float_button = true;
      }
      this.$store.commit('RECORD_LAST_ROUTE', to.fullPath);
    },
  },
  created() {
    if (JSON.parse(localStorage.getItem('vuex')).user_authenticated.player === undefined) {
      this.float_button = false
    }

    store.dispatch('generateGames');
  },
  methods: {
    onFilePicked(event) {
      const files = event.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        this.teamImageUploader(event)
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },
    filterGames() {
      console.log(this.match.category_name)
    },
    teamImageUploader(event) {
      const self = this
      let files = event.target.files,
        formData = new FormData()
      formData.append('image', files[0])
      formData.append('strategy', 'cover')
      self.$http.post('file/upload', formData)
        .then((response) => {
          toastr.success('Team image uploaded successfully!')
          self.team.image = response.data.url
        }).catch(({ response }) => {
          if (response.data.error) {
            toastr.error(response.data.error.message)
          } else {
            toastr.error(response.status + ' : Resource ' + response.statusText)
          }
        })
    },
    createTeam() {
      let data = {
        team_name: this.team.name,
        team_description: this.team.description,
        category_id: this.team.category_id,
        team_leader: this.player_id,
        game_id: this.team.game_id,
        accept_request: this.team.accept_request,
        image: this.team.image
      };

      axios.post('api/team', data)
        .then(response => {
          this.messageAlert = 'You successfully Created ' + this.team.name
          this.float_button = true
          this.disable_float_button = false
          this.create_team = false
          this.alert = true;
          this.teams.push(this.team)
          this.team = []
          this.$router.push('/teams');
        })
        .catch(response => {
          this.messageAlert = 'Internal Server Error '
          this.dialog = false
          this.alert = true;
          reject({ error: 2, body: response })
        })
    },
    createMatchRedirect() {
      this.$router.push('/directory/' + this.match.category_name + '/' + this.match.game + '/create-match');
      this.game_selection = false;
    }
  },
  mounted() {
          axios.get('http://localhost:8000/api/event').then(response=>{
        console.log(response)
      })

    if (this.$router.currentRoute.name === 'MatchPage') {
      this.disable_float_button = true
    } else {
      this.disable_float_button = false;
    }
    const _self = this;
    // store.dispatch('generateCategories')
    store.dispatch('generateGames')
    _self.$store.commit('RECORD_LAST_ROUTE', _self.$route.fullPath);
    _self.getCategories();
    Echo.channel('friend-request')
      .listen('FriendRequest', e => {
        _self.$store.dispatch('pushNotifications', e.data)
      })
  }
}
</script>

<style>
#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  border-radius: 4px;
  background: transparent;
  transition: all 0.3s ease;
}

::-webkit-scrollbar:hover {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #777779;
  border-radius: 4px;
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 50px;
  background: $warning;
  position: fixed;
  bottom: 20px;
  /* Adjust to where you want it */
  right: 08%;
  /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

i.v-icon.material-icons.theme--dark {
    margin-top: -10px;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: -10%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  /* Note, this must be half the font size */
  color: $light;
}

.v-btn--floating .v-btn__content>:not(:only-child):first-child, .v-btn--floating .v-btn__content>:not(:only-child):last-child {
    -webkit-backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 25px;
}

</style>
