<template>
    <div>
        <advertisements ></advertisements>
        <categories></categories>

    </div>
</template>

<script>
    import Advertisements from '@components/home/Advertisements.vue'
    import Categories from '@components/home/Categories.vue'
    import Footer from '@components/home/partials/Footer.vue'
    export default {
        data()  {
            return {
                icons: ['fa-facebook', 'fa-twitter', 'fa-google-plus', 'fa-linkedin', 'fa-instagram']
            }
        },
        components: {
            'advertisements': Advertisements,
            'categories': Categories,
            'app-footer' : Footer
        }
    }
</script>

<style/>