<template>
  <div>
    <div class="float-button" style="margin-top: 100px!important" v-if="user_authenticated.player !== undefined">
      <span class="height-fix">
       <v-speed-dial
        class="container"
        v-model="fab"
        :top="false"
        :bottom="true"
        :right="true"
        :left="false"
        :open-on-hover="false"
        :transition="'slide-y-reverse-transition'"
      >
        <v-btn
          slot="activator"
          style="background:rgb(78, 140, 255)"
          dark
          fab
          hover
          v-model="fab"
        >
          <v-icon>chat</v-icon>
          <v-icon :color="'red'">close</v-icon>
        </v-btn>
       </v-speed-dial>
      </span>
    </div>
    <div class="sc-chat-window"  v-if="fab">
      <!--HEADER  -->
      <div class="sc-header" style="background: rgb(78, 140, 255); color: rgb(255, 255, 255);">
        <img class="sc-header--img" src="" alt="" />
        <div class="sc-header--title"> Match Chat </div>
        <v-btn small flat style="background:rgb(78, 140, 255)" @click="fab=false">
          <v-icon>close</v-icon>
        </v-btn>
      </div>
      <!--HEADER  -->
      <!-- Message LIST -->
      <div class="mdl-navigation" style="height:100%">
      <v-list dense>
        <v-list-tile v-for="message in messages" :key="message.id" @click="">
          <v-list-tile-content>
            <v-list-tile-title>
              <span class="primary--text">{{message.player.player_nickname}} </span> {{message.message}}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      </div>
      <v-spacer></v-spacer>
      <v-footer height="auto" style="padding:19px;" v-if="user_authenticated.player">
        <v-layout justify-center>
          <v-flex xs12>
            <v-text-field name="input-1" label="Send a message" v-model="chat_message" v-on:keyup.enter="sendMessage()" solo v-if="is_chat_enabled" flat>
            </v-text-field>
            <div v-if="!is_chat_enabled">You can't join the chat because you are not part of the match</div>
            <v-btn small :disabled="!is_chat_enabled" @click="sendMessage()" v-if="is_chat_enabled">Send</v-btn>
          </v-flex>
        </v-layout>
      </v-footer>
      <!-- MESSAGE LIST -->
    </div>
  </div>
</template>

<script>
import MatchChat from '@views/MainPage/Matches/MatchChat.vue';
import MatchTimer from '@components/home/partials/Match/MatchTimer.vue'

export default {
  computed: {},
  components: {},
  props: ['matchId'],
  data() {
    return {
      player_receiver: null,
      message_input: null,
      match_chat: null,
      chat_message: null,
      isSendingMessage: false,
      is_chat_enabled: false,
      fab: false,
      chatBox: {
        type: Boolean,
        default: () => false
      },
      colors: {
        type: Object,
        required: true
      },
      open: {
        type: Function,
        required: true
      },
      close: {
        type: Function,
        required: true
      },
      isOpen: {
        type: Boolean,
        default: () => false
      },
    }
  },
  mounted() {
    this.loadMatchMessages();
    this.listenMatchChat();
    this.scrollToEnd();
  },
  computed: {
    user_authenticated() {
      return this.$store.state.user_authenticated;
    },
    player() {
      return this.$store.getters.currentPlayer;
    },
    tokens() {
      return this.$store.state.tokens
    },
    messages() {
      return this.match_chat
    },
  },

  methods: {
    scrollToEnd() {
      let container = document.querySelector(".sc-chat-window");
      let scrollHeight = container.scrollHeight;
      container.scrollTop = scrollHeight;
    },

    loadMatchMessages() {
      let data = {
        match_id: this.matchId,
        player_id: this.player.player_id
      };

      this.$http.post('/match/' + this.matchId + '/is-chat-enabled', data)
        .then((response) => {
          this.is_chat_enabled = response.data.is_chat_enabled
          self.scrollToEnd();
        }).catch(({ response }) => {})

      this.$http.post('/match/chat', data)
        .then((response) => {
          this.match_chat = response.data
          self.scrollToEnd();
        }).catch(({ response }) => {})
    },
    sendMessage() {
      const self = this;
      let data = {
        match_id: this.matchId,
        player_id: this.player.player_id,
        message: this.chat_message
      };

      self.isSendingMessage = true;

      this.$http.post('/match/message', data)
        .then(response => {
          let message = {
            message: self.chat_message,
            player: {
              player_nickname: self.user_authenticated.player.player_nickname
            }
          };

          self.messages.push(message);

          self.chat_message = ''
          self.isSendingMessage = false;
          self.scrollToEnd();
        })
        .catch(response => {
          self.isSendingMessage = false;
        })

    },
    listenMatchChat() {
      const self = this;
      Echo.channel('match-chat-' + self.matchId)
        .listen('MatchChatEvent', (e) => {
          let message = {
            message: e.message,
            player: {
              player_nickname: e.player_nickname
            }
          };
          self.messages.push(message)
          self.scrollToEnd();
        });

    }

  }
}
</script>

<style scoped>
.right-sidebar {
  width: 340px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.mdl-navigation {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 82%;
}
.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 340px;
  bottom: 0;
}

.sc-chat-window {
  width: 390px;
  height: calc(100% - 120px);
  max-height: 550px;
  position: fixed;
  right: 25px;
  bottom: 60px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.1);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 90px;
}

.sc-message--me {
  text-align: right;
}

.sc-message--them {
  text-align: left;
}

@media (max-width: 450px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }
  .sc-chat-window.closed {
    bottom: 0px;
  }
}

.sc-header {
  min-height: 75px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.sc-header--img {
  border-radius: 50%;
  align-self: center;
  padding: 10px;
}

.sc-header--title {
  align-self: center;
  padding: 10px;
  flex: 1;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}

.sc-header--title:hover {
  box-shadow: 0px 2px 5px rgba(0.2, 0.2, 0.5, .1);
}

.sc-header--close-button {
  width: 40px;
  align-self: center;
  height: 40px;
  margin-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}

.sc-header--close-button:hover {
  box-shadow: 0px 2px 5px rgba(0.2, 0.2, 0.5, .1);
}

.sc-header--close-button img {
  width: 100%;
  height: 100%;
  padding: 13px;
  box-sizing: border-box;
}

@media (max-width: 450px) {
  .sc-header {
    border-radius: 0px;
  }
}

.sc-launcher {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.sc-launcher:before {
  content: '';
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: box-shadow 0.2s ease-in-out;
}

.sc-launcher .sc-open-icon,
.sc-launcher .sc-closed-icon {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
}

.sc-launcher .sc-closed-icon {
  transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
  width: 60px;
  height: 60px;
}

.sc-launcher .sc-open-icon {
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
}

.sc-launcher.opened .sc-open-icon {
  transform: rotate(-90deg);
  opacity: 1;
}

.sc-launcher.opened .sc-closed-icon {
  transform: rotate(-90deg);
  opacity: 0;
}

.sc-launcher.opened:before {
  box-shadow: 0px 0px 400px 250px rgba(148, 149, 150, 0.2);
}

.sc-launcher:hover {
  box-shadow: 0 0px 27px 1.5px rgba(0, 0, 0, 0.2);
}

.sc-new-messsages-count {
  position: absolute;
  top: -3px;
  left: 41px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: #ff4646;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 12px;
  font-weight: 500;
}

.float-button {
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  border-radius: 30%;
  width: 25px;
  padding: 25px;
  font-size: 30px;
  background: $warning;
  position: fixed;
  bottom: 70px;
  /* Adjust to where you want it */
  right: 4%;
  /* Adjust to where you want it */
  z-index: 9999;
  margin-bottom: -110px;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -70px;
  /* Note, this must be half the font size */
  color: $light;
}
</style>
