<template>
  <v-container>
    <v-layout>
      <v-flex>
        <v-stepper v-model="formProgress" vertical>
          <v-stepper-step step="1" :complete="formProgress > 1" editable>
            Match Details
          </v-stepper-step>
          <v-stepper-content step="1">
            <v-form data-vv-scope="formOne">
              <v-card class="mb-5">
                <v-container>
                  <v-layout row wrap>
                    <v-flex xs12 sm12>
                      <v-text-field label="Match Name" v-model="match.matches.match_name" v-validate="'required|max:20'" :error-messages="errors.first('formOne.match_name')" :counter="100" data-vv-name="match_name" required></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-text-field label="Match Description" v-validate="'required'" :error-messages="errors.first('formOne.match_description')" data-vv-name="match_description" v-model="match.matches.match_description"></v-text-field>
                    </v-flex>
                    <!-- <v-spacer></v-spacer> -->
                    <v-flex xs12 sm12 class="text-xs-right">
                      <v-subheader class="grey&#45;&#45;text text&#45;&#45;lighten-1">
                        <v-switch label="Toggle for Venue Search" class="text-xs-left" v-model="customVenueSelect"></v-switch>
                      </v-subheader>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-select v-if="!match.matches.custom_venue" v-model="match.matches.match_venue" :items="venues" placeholder="Select A Venue" item-text="venue_name" item-value="id" v-validate="'required'" :error-messages="errors.first('formOne.match_venue')" data-vv-name="match_venue" required></v-select>
                      <v-card flat v-else>
                        <vuetify-google-autocomplete id="map" append-icon="search" :disabled="false" classname="form-control" placeholder="Search Google Map" country="ph" v-on:placechanged="getAddressData">
                        </vuetify-google-autocomplete>
                        <br/>
                      </v-card>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-subheader class="grey&#45;&#45;text text&#45;&#45;lighten-1">Match Mode</v-subheader>
                      <v-chip label outline color="info" v-if="match.match_mode === 'Team Mode' && gameMinimum > 0">
                        Minimum of {{gameMinimum}} members per team can participate in this match
                      </v-chip>
                      <v-chip label outline color="info" v-if=" gameMinimum === 0">
                        No minimum number of members per team
                      </v-chip>
                      <v-select :disable="disableMatchModeSelection" v-model="match.matches.match_mode" :items="matchModeSelect" placeholder="Select Match Mode" required></v-select>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs12 sm8>
                      <v-dialog v-model="dateModal" lazy full-width width="290px">
                        <v-text-field slot="activator" label="Match Date" v-model="match.matches.match_date" v-validate="'required'" :error-messages="errors.first('formOne.match_date')" data-vv-name="match_date" prepend-icon="event" readonly></v-text-field>
                        <v-date-picker v-model="match.matches.match_date" scrollable actions>
                          <template slot-scope="{ save, cancel }">
                            <v-card-actions>
                              <v-spacer></v-spacer>
                            </v-card-actions>
                          </template>
                        </v-date-picker>
                      </v-dialog>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
              <v-btn color="primary" @click.native="submitStepper('formOne')">Continue</v-btn>
              <v-btn flat>Cancel</v-btn>
            </v-form>
          </v-stepper-content>
          <v-stepper-step step="2" :complete="formProgress > 2" editable>Match Rules</v-stepper-step>
          <v-stepper-content step="2">
            <v-form data-vv-scope="formTwo">
              <v-card class="mb-5" height="200px">
                <v-container>
                  <v-layout row wrap>
                    <v-flex xs12 sm5>
                      <v-slider color="teal accent-4" label="Minimum Age" hint="Select minimum age for participants" min="7" max="80" thumb-label v-model="match.match_rules.min_age" v-validate="{required: true, isSmaller: match.match_rules.max_age}" :error-messages="errors.first('formTwo.min_age')" data-vv-name="min_age" ref="min_age"></v-slider>
                    </v-flex>
                    <v-flex xs12 sm1>
                      <v-subheader>{{match.match_rules.min_age}}</v-subheader>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs12 sm5>
                      <v-slider color="teal accent-4" label="Maximum Age" hint="Select maximum age for participants" min="7" max="80" thumb-label v-model="match.match_rules.max_age" v-validate="{required: true, isBigger: match.match_rules.min_age}" :error-messages="errors.first('formTwo.max_age')" data-vv-name="max_age" ref="max_age"></v-slider>
                    </v-flex>
                    <v-flex xs12 sm1>
                      <v-subheader>{{match.match_rules.max_age}}</v-subheader>
                    </v-flex>
                    <v-flex xs12 sm3>
                      <v-checkbox label="Set to Public Match" v-model="match.matches.is_public" v-validate="'required'" :error-messages="errors.first('formOne.is_public')" data-vv-name="is_public"></v-checkbox>
                    </v-flex>
                    <v-flex xs12 sm7 offset-lg2>
                      <v-select label="Allowed Gender" v-model="match.match_rules.gender_rule" :items="[{gender_type : 'Male'},{gender_type: 'Female'},{ gender_type: 'Any'}]" item-text="gender_type" item-value="gender_type" v-validate="'required'" :error-messages="errors.first('formTwo.gender_type')" data-vv-name="gender_type" required></v-select>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
              <v-btn color="primary" @click.native="submitStepper('formTwo')">Continue</v-btn>
              <v-btn flat>Cancel</v-btn>
            </v-form>
          </v-stepper-content>
          <v-stepper-step step="3" :complete="formProgress > 3" editable>
            Invite {{ gameMinimum > 2 ? 'Team' : 'Players'}}
          </v-stepper-step>
          <v-stepper-content step="3">
            <v-form data-vv-scope="formThree">
              <match-participants-selector :match-mode="match.matches.match_mode" :current-player-id="currentPlayerId" :game-id="gameId"></match-participants-selector>
              <v-btn color="primary" @click.native="submitStepper('formThree')">Continue</v-btn>
              <v-btn flat>Cancel</v-btn>
            </v-form>
          </v-stepper-content>
          <v-stepper-step step="4" :complete="formProgress > 4">Match Summary</v-stepper-step>
          <v-stepper-content step="4">
            <v-layout row>
              <v-flex xs12 sm6 sm10 offset-sm1>
                <v-slide-y-transition>
                  <v-card flat>
                    <v-img :src="gameBg" height="200px">
                    </v-img>
                    <v-card-title primary-title>
                      <div>
                        <div class="headline">Match Name : {{match.matches.match_name}}</div>
                        <span class="grey--text">Match Description: {{match.matches.match_description}}</span>
                        <v-container>
                          <v-layout row wrap>
                            <v-flex sm12>
                              <span>Match Details</span>
                            </v-flex>
                            <v-flex xs12 sm6>
                              <span class="">Venue: {{match.matches.match_venue}}</span>
                            </v-flex>
                            <v-flex xs12 sm6>
                              <span class="">Public: {{(match.matches.is_public === true)? 'YES':'NO'}}</span>
                            </v-flex>
                            <v-flex xs12 sm6>
                              <span class="">Match Mode: {{match.matches.match_mode}}</span>
                            </v-flex>
                            <v-flex xs12 sm6>
                              <span class="">Date: {{match.matches.match_date}}</span>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </div>
                    </v-card-title>
                  </v-card>
                </v-slide-y-transition>
              </v-flex>
            </v-layout>
            <v-btn color="primary" @click.native="submit">Submit</v-btn>
            <v-btn flat>Cancel</v-btn>
          </v-stepper-content>
        </v-stepper>
      </v-flex>
    </v-layout>
    <snack-bar :showSnackBar="recordSave">Record Added</snack-bar>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import VuetifyGoogleAutocomplete from 'vuetify-google-autocomplete'
import MatchParticipantsSelector from './MatchParticipants.vue'

export default {
  $_veeValidate: {
    validator: 'new'
  },
  props: ['gameId', 'gameBg', 'categoryId', 'gameMinimum'],
  components: { MatchParticipantsSelector, VuetifyGoogleAutocomplete },
  data: () => ({
    autocompleteOptions: {
      componentRestrictions: {
        country: [
          'ph',
        ],
      },
    },
    dictionary: {
      custom: {
        match_name: {
          required: () => 'Match name can not be empty',
          max: 'The Match name field may not be greater than 100 characters'
        },
        match_description: {
          required: 'Match description can not be empty'
        },
        match_venue: {
          required: 'Match venue can not be empty'
        },
        match_date: {
          required: 'Match date can not be empty'
        },
        gender_type: {
          required: 'Gender can not be empty'
        },
        min_age: {
          isSmaller: 'Min age should be lower or equivalent to max age.'
        },
        max_age: {
          isBigger: 'Max age should be higher or equivalent to min age.'
        }
      }
    },
    formProgress: 1,
    showInviteSection: false,
    valid: true,
    selectVenue: null,
    venues: [],
    checkbox: false,
    match: {
      match_rules: {
        min_age: 7,
        max_age: 7,
        gender_rule: null
      },
      matches: {
        match_mode: '',
        custom_venue: false,
        is_public: false,
      },
      match_participants: {
        ally: {},
        foe: {}
      },
      match_venue: {
        venue_name: null,
        long: null,
        lat: null,
        vicinity: null
      }
    },
    matchModeModel: false,
    dateModal: false,
    markers: [],
    place: null,
    recordSave: false,
    recordAdded: false,
    address: null,
    disableMatchModeSelection: false
  }),
  mounted() {
    const self = this
    self.getVenues(self)
    self.$validator.localize('en', self.dictionary)
  },
  watch: {
    matchMemberState() {
      this.match.match_participants.ally = this.matchMemberState
    },
    matchOpponentsState() {
      this.match.match_participants.foe = this.matchOpponentsState
    },
    gameMinimum() {
      const self = this
      if (self.gameMinimum > 2) self.match.matches.match_mode = 'Team Mode'
    }
  },
  computed: {
    matchModeSelect() {
      let list = ['Team Mode'];

      if (parseInt(this.gameMinimum) <= 1) {
        list = ['Team Mode', 'Solo Mode']
        this.match.matches.match_mode  = 'Team Mode';
        this.disableMatchModeSelection = true; 
      }

      return list;
    },
    customVenueSelect: {
      get() {
      return this.match.matches.custom_venue
    },
      set() {
        const self = this
        return self.match.matches.custom_venue = !self.match.matches.custom_venue
      }
    },
    matchMode() {
      if (this.gameMinimum > 1) {
        return 'team'
      } else {
        return 'solo'
      }
    },
    currentPlayerId() {
      return this.$store.getters.currentPlayer.player_id;
    },
    ...mapGetters({
      teams: 'getTeams',
      matchDetailsState: 'getMatchDetails',
      matchParticipantsState: 'getMatchParticipantDetails',
      matchMemberState: 'getMatchMembersState',
      matchOpponentsState: 'getMatchOpponentsState'
    })
  },
  methods: {
    reset() {
      this.formProgress = 1
      this.showInviteSection = false
      this.valid = true
      this.selectVenue = null
      this.venues = []
      this.checkbox = false
      this.match = {
        match_rules: {
          min_age: 7,
          max_age: 7,
          gender_rule: null
        },
        matches: {
          match_mode: 'Solo',
          custom_venue: false,
          is_public: false,
        },
        match_participants: {
          ally: {},
          foe: {}
        },
        match_venue: {
          venue_name: null,
          long: null,
          lat: null,
          vicinity: null
        }
      }
      this.matchModeModel = false
      this.dateModal = false
      this.markers = []
      this.place = null
      this.recordSave = false
      this.recordAdded = false
      this.address = null
      this.disableMatchModeSelection = false
    },
    submitStepper(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          this.formProgress++;
        }
      });
    },
    getAddressData(addressData, placeResultData, id) {
      const self = this
      setTimeout(function() {
        self.address = addressData
        self.match.match_venue.venue_name = addressData.name;
        self.match.match_venue.long = addressData.longitude;
        self.match.match_venue.lat = addressData.latitude;
        self.match.match_venue.vicinity = addressData.locality;
      }, 300);
    },
    submit() {
      const self = this
      self.recordSave = !self.recordSave

      for (let index = 0; index < this.venues.length; index++) {
        if (this.venues[index].id === self.match.matches.match_venue) {
          self.match.match_venue = this.venues[index];
        }
      }

      self.match.player_id = self.currentPlayerId
      self.match.matches.created_by = self.currentPlayerId
      self.match.matches.category_id = self.categoryId
      self.match.matches.game_id = self.gameId
      self.$http.post('match-create', self.match)
        .then((response) => {
          self.recordSave = !self.recordSave
          self.recordAdded = !self.recordAdded
          this.$router.push('/directory/'+this.$route.params.category+'/'+this.$route.params.gameID+'/global-matches');
          self.reset()
        }).catch(({ response }) => {
          self.recordSave = !self.recordSave
          self.recordAdded = !self.recordAdded
        })
    },
    getVenues(self) {
      self.$http.get('venues')
        .then(response => {
          self.venues = response.data.data;
        }, response => {
          this.$router.push("/404");
        });
    },
    clear(e) {
      e.preventDefault()
      this.$refs.form.reset()
    },
    setPlace(place) {
      const self = this
      self.place = place

      self.markers = []

      if (this.match.matches.custom_venue !== false) {
        self.match.match_venue = self.place.name
        self.match.matches.match_venue = self.place.name
        self.match.venue_name = self.place.name
        self.match.long = self.long
        self.match.lat = self.lat
        self.match.vicinity = self.place.vicinity
        self.match.name = self.place.vicinity
      }

      self.markers.push({
        position: {
          lat: self.place.geometry.location.lat(),
          lng: self.place.geometry.location.lng(),
        }
      })

    },
    searchPlayer() {
      const self = this;
      clearTimeout(self.timer);

      if (self.search_value == '' || self.search_value == null) {
        self.menu = false
      } else {
        self.loader = true;
        self.timer = setTimeout(function() {
          self.menu = true;
          self.games = [];
          self.categories = [];
          self.players = [];
          self.$http.get('search/' + self.search_value)
            .then((response) => {
              self.loader = false;
              self.games = response.data.games;
              self.categories = response.data.categories;
              self.players = response.data.players;
              self.teams = response.data.teams;
            }, response => {
              self.loader = false;
            });

        }, 300);
      }
    }
  }
}
</script>
