<template>
  <v-container fluid grid-list-xl>
    <v-layout center wrap justify-space-around>
      <v-flex v-for="team in teams" :key="team.team_info.team_id" xs12 sm4>
        <v-card color="transparent" hover>
          <v-img :src="team.team_info.image">
          </v-img>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">{{team.team_info.team_name}}</h3>
              <div>
                <v-chip small outline label v-if="team.type === 'Approved' && team.invite_mode !='invited'" color="green">{{team.type}}</v-chip>
                <v-chip small outline label v-if="team.type === 'Approved' && team.invite_mode =='invited'" color="green">Accepted invite</v-chip>

                <v-chip small outline label v-if="team.type !== 'Rejected' && !alreadyAccepted" color="blue">{{team.type}}</v-chip>
                <v-chip small outline label v-if="alreadyAccepted && team.type !== 'Approved'" color="red">{{team.type}}</v-chip>
                <v-chip small outline label v-if="team.type === 'Rejected' && !alreadyAccepted" color="red">{{team.type}}</v-chip>
              </div>
            </div>
          </v-card-title>
          <v-card-actions v-if="team.invite_mode !== 'invited' && alreadyAccepted === false && team.type !== 'Rejected'">
            <v-btn color="blue" flat dark @click="updateInviteStatus('Approved',team.match_id,team.team_id)">Accept</v-btn>
            <v-btn color="green" flat dark @click="updateInviteStatus('Reject',team.match_id,team.team_id)">Reject</v-btn>
          </v-card-actions>
<!--           <v-card-actions v-if="team.invite_mode !== 'invited' && alreadyAccepted === false &&">
            <v-btn color="blue" flat dark @click="updateInviteStatus('remove',team.match_id,team.team_id)">Cancel Invitation</v-btn>
          </v-card-actions> -->
        </v-card>
      </v-flex>
      <v-dialog v-model="result_dialog" max-width="290">
        <v-card>
          <v-card-title class="headline">{{message_header}}</v-card-title>
          <v-card-text>
            {{message_content}}
          </v-card-text>
          <v-card-actions>
            <v-btn color="green darken-1" @click="result_dialog = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ['teamList', 'alreadyAccepted'],
  data() {
    return {
      message_content: '',
      message_header: '',
      result_dialog: false
    }
  },
  methods: {
    updateInviteStatus(status, match_id, team_id) {
      this.$http.put('/match/invite-status/update', { match_id: match_id, type: status, team_id: team_id, player_id: 0 })
        .then(response => {

          this.result_dialog = true;
          this.message_header = 'You ' + status + ' this team request';
          // this.$router.push('/');
          window.location.reload()
        })
        .then(function() {})
    },
  },
  computed: {
    teams() {
      let teams = [];

      if (this.teamList !== undefined) {


        for (let index = 0; index < this.teamList.length; index++) {
          let team = this.teamList[index];

          if (team.type === 'Pending' && team.invite_mode === 'requested_to_join' && !this.alreadyAccepted) {
            team.type = 'Waiting for opponent to accept the match';
          }

          if (team.type === 'Pending' && this.alreadyAccepted) {
            team.type = 'Deferred';
          }

          if (team.type === 'Reject') {
            team.type = 'Rejected'
          }

          teams.push(team);
        }
      }

      return teams;
    }
  }
}
</script>

<style scoped type="text/css">
.router-link-active {
  text-decoration: none;
  color: white;
}

.text:hover {
  text-decoration: underline;
}

.sharp {
  border-radius: 0px;
}

.flex {
  flex-grow: 0;
}

.flex-empty {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  div {
    width: 150px;
  }
}
</style>
