<template>
  <v-card flat>
    <v-container fill-height fluid>
      <v-layout align-center justify-center>
        <v-flex xs6>
          <v-layout row>
            <v-flex xs6>
              <v-card dark>
                <v-img class="white--text" height="250px" src="http://www.drodd.com/images14/black15.jpg">
                  <v-container fill-height fluid style="border:1px solid black;">
                    <v-layout align-center justify-center>
                      <v-flex xs12>
                        <v-card dark style="background: rgba(23,20,31,.9); padding:20px;">
                          <div style="text-align:center !important;">
                            <div>
                              <v-avatar tile size="80px">
                                <img src="//cdn.shopify.com/s/files/1/1571/5685/products/BBK3.png?v=1499075447" alt="">
                              </v-avatar>
                              <div class="headline">{{match.team_creator.team_name}}</div>
                              <!-- <div> {{match.team_creator.team_name}} </div> -->
                            </div>
                          </div>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-img>
                <v-list>
                  <v-list-tile avatar v-for="member in teamOneMembers" :key="member.player_id" @click="">
                    <v-list-tile-content>
                      <v-list-tile-title v-text="member.player_nickname"></v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-avatar>
                      <img :src="member.profile_picture" />
                    </v-list-tile-avatar>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
            <v-flex xs6>
              <v-card dark>
                <v-img class="white--text" height="250px" src="http://www.drodd.com/images14/black15.jpg">
                  <v-container fill-height fluid style="border:1px solid black;">
                    <v-layout align-center justify-center>
                      <v-flex xs12>
                        <v-card dark style="background: rgba(23,20,31,.9); padding:20px;">
                          <div style="text-align:center !important;">
                            <div>
                              <v-avatar tile size="80px">
                                <img src="//cdn.shopify.com/s/files/1/1571/5685/products/BBK3_PAIR.png?v=1499075446" alt="">
                              </v-avatar>
                              <div class="headline"> {{opponent.team_name}}</div>
                              <!-- <div>Rating # 3</div> -->
                            </div>
                          </div>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-img>
                <v-list>
                  <v-list-tile avatar v-for="member in teamTwoMembers" :key="member.player_id" @click="">
                    <v-list-tile-content>
                      <v-list-tile-title v-text="member.player_nickname"></v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-avatar>
                      <img :src="member.profile_picture" />
                    </v-list-tile-avatar>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: ['match_details','opponent'],
  data() {
    return {
      teamOneMembers: [],
      teamTwoMembers: [],
    }
  },
  computed: {
    match() {
      return this.match_details
    }
  }
}
</script>
