<template>
  <content>
  </content>
</template>

<script>
export default {
  props: ['matchId'],
  data() {
    return {
    }
  },
  mounted() {
  },
  computed: {
  },

  methods: {
  }
}
</script>
</style>
