<template>
  <v-img class="grey--text" height="300px" v-show="true" :src="gameDetails.background_image">
    <v-container fill-height fluid>
      <v-layout align-center justify-center>
        <v-flex xs10>
          <v-card dark style="background: rgba(23,20,31,.9); padding:20px; padding-bottom:50px; ">
            <v-layout wrap row text-xs-center>
              <v-flex xs6 offset-xs3 style="padding:20px;">
                <span class="headline">{{match.match_name}} - {{gameDetails.game_name}} </span>
                <v-divider></v-divider>
              </v-flex>
            </v-layout>
            <v-layout row text-xs-center>
              <v-flex xs4>
                <v-layout row>
                  <v-flex xs8>
                    <div style="text-align:left !important;">
                      <div>
                        <div class="headline blue--text">
                          {{match.team_creator.team_name}}
                        </div>
                        <div class="mb-3 blue--text">
                          Team Leader - {{match.team_creator.team_leader.player_nickname}}
                        </div>
                      </div>
                    </div>
                  </v-flex>
                  <v-flex xs4>
                    <div style="text-align:right !important;">
                      <v-avatar tile size="80px">
                        <img :src="match.team_creator.image" alt="">
                        <!-- <img src="//cdn.shopify.com/s/files/1/1571/5685/products/BBK3.png?v=1499075447" alt=""> -->
                      </v-avatar>
                    </div>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs4>
                <div style="margin-top:12px; text-align:center !important;">
                  <div>
                    <div class="mb-2 white--text">
                      <v-chip outline color="red" label>{{match.match_status}}</v-chip>
                    </div>
                  </div>
                  <span class="mb-3 white--text"> Match Date :  {{match.match_date_formatted}} </span>
                  <br>
                </div>
              </v-flex>
              <v-flex xs4>
                <v-layout row>
                  <v-flex xs4>
                    <div style="text-align:left !important;">
                      <v-avatar tile size="80px">
                        <img :src="opponent.image" alt="">
                      </v-avatar>
                    </div>
                  </v-flex>
                  <v-flex xs8>
                    <div style="text-align:right !important;" v-if="opponent.team_name !== ''">
                      <div>
                        <div class="headline red--text">{{opponent.team_name}}
                        </div>
                        <div class="mb-3 red--text">Team Leader - {{opponent.team_leader.player_nickname}}</div>
                      </div>
                    </div>
                    <div style="text-align:right !important;" v-else>
                      <div>
                        <div class="headline">N/A
                        </div>
                        <div class="mb-3 red--text">Team Leader : N/A</div>
                      </div>
                    </div>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-img>
</template>

<script>
export default {
  props: ['match_details', 'opponent', 'game_details'],
  data() {
    return {
      teamOneMembers: [],
      teamTwoMembers: [],
    }
  },
  computed: {
    match() {
      return this.match_details
    },
    gameDetails() {
    	return this.game_details
    }
  }
}
</script>
