<template>
    <v-container>
        <v-layout row>
            <v-flex xs12 sm6 v-if="matchMode === 'Team Mode'">

                <v-autocomplete
                        label="Select from your teams"
                        chips
                        tags
                        solo
                        append-icon=""
                        clearable
                        v-model="matchMembers"
                        :items="playerInvite.selectData.allySelection"
                        item-text="name"
                        item-value="id"
                        return-object
                        :menu-props="{maxHeight:'auto'}"
                        hide-selecteed
                        dense
                        v-validate="'required'"
                        :error-messages="errors.collect('opponent-selection')"
                        data-vv-name="opponent-selection"
                        required
                >
                    <template slot="selection" slot-scope="data">
                        <v-chip
                                close
                                @input="removePlayerFromSelection('friend',data.item.id)"
                                :selected="data.selected">
                            <v-avatar
                                    class="accent white--text"
                                    v-text="data.item.name.slice(0, 1).toUpperCase()"
                            ></v-avatar>
                            {{ data.item.name }}
                        </v-chip>
                    </template>
                </v-autocomplete>
            </v-flex>

            <v-flex xs12 sm6>

                <v-autocomplete
                        label="Search for opponent"
                        chips
                        tags
                        solo
                        append-icon=""
                        clearable
                        v-model="matchOpponents"
                        :items="playerInvite.selectData.opponentSelection"
                        item-text="name"
                        item-value="id"
                        return-object
                        :menu-props="{maxHeight:'auto'}"
                        hide-selecteed
                        dense
                        multiple
                        v-validate="'required'"
                        :error-messages="errors.collect('opponent-selection')"
                        data-vv-name="opponent-selection"
                        required
                >
                    <template slot="selection" slot-scope="data">
                        <v-chip
                                close
                                @input="removePlayerFromSelection('opponent',data.item)"
                                :selected="data.selected">
                            <v-avatar
                                    class="accent white--text"
                                    v-text="data.item.name.slice(0, 1).toUpperCase()"
                            ></v-avatar>
                            {{ data.item.name }}
                        </v-chip>
                    </template>
                </v-autocomplete>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        props: ['matchMode', 'currentPlayerId', 'gameId'],
        data: () => ({
            matchTeamTemp: false,
            opponentTeamTemp: false,
            playerInvite: {
                ally: {
                    singular: [],
                    teams: [],
                },
                opponent: {
                    singular: [],
                    teams: []
                },
                selectData: {
                    allySelection: [],
                    opponentSelection: [],
                    opponentItemValue: null
                }
            },
            matchOpponents: [],
            matchMembers: []
        }),
        mounted() {
            const self = this
        },
        watch: {
            matchMode() {

                const self = this

                self.getPossibleMatchParticipants(self)

            },
            matchMembers() {
                this.$store.dispatch('setMatchMembers', this.matchMembers)
            },
            matchOpponents() {
                this.$store.dispatch('setMatchOpponents', this.matchOpponents)
            }
            /*matchTeamTemp() {
                if (this.matchTeamTemp && this.matchMode === 'Team') {
                    this.playerInvite.selectData.allySelection = this.playerInvite.ally.singular
                    this.$store.dispatch('setMatchMembersTempIndicator', this.matchTeamTemp)
                } else {
                    this.playerInvite.selectData.allySelection = this.playerInvite.ally.teams
                    this.$store.dispatch('setMatchMembersTempIndicator', this.matchTeamTemp)
                }
            },
            opponentTeamTemp() {
                if (this.opponentTeamTemp && this.matchMode === 'Team') {
                    this.playerInvite.selectData.opponentSelection = this.playerInvite.opponent.singular
                    this.$store.dispatch('setMatchOpponentTempIndicator', this.opponentTeamTemp)
                } else {
                    this.playerInvite.selectData.opponentSelection = this.playerInvite.opponent.teams
                    this.$store.dispatch('setMatchOpponentTempIndicator', this.opponentTeamTemp)
                }
            },
            matchMode() {
                if (this.matchMode === 'Solo') {
                    this.playerInvite.selectData.allySelection = this.playerInvite.ally.singular
                    this.playerInvite.selectData.opponentSelection = this.playerInvite.opponent.singular
                } else if (this.matchMode === 'Team') {
                    this.playerInvite.selectData.allySelection = this.playerInvite.opponent.teams
                    this.playerInvite.selectData.opponentSelection = this.playerInvite.opponent.teams
                }
            },
            matchMembers() {
                this.$store.dispatch('setMatchMembers', this.matchMembers)
            },
            matchOpponents() {
                this.$store.dispatch('setMatchOpponents', this.matchOpponents)
            }*/
        },
        computed: {
            /*...mapGetters({
                matchTeamTemp : 'getMatchTeamTempValue',
                matchOpponentTemp : 'getMatchTeamTempValue'
            })*/
        },
        methods: {
            getPossibleMatchParticipants(self) {
                self.$http.get('match-possible-participants', {
                    params: {
                        player_id: self.currentPlayerId,
                        game_id: self.gameId,
                        match_mode: self.matchMode
                    }
                })
                    .then(response => {
                        // set friend list
                        if (self.matchMode === 'Team Mode') {
                            self.playerInvite.selectData.allySelection = response.data.player_consumption.teams
                            self.playerInvite.selectData.opponentSelection = response.data.opponent_consumption.teams
                        } else {
                            self.playerInvite.selectData.allySelection = response.data.player_consumption.singular
                            self.playerInvite.selectData.opponentSelection = response.data.opponent_consumption.singular
                        }

                        console.log(self.playerInvite.selectData.opponentSelection)
                    });
            }
        },
        removePlayerFromSelection(option, item) {
            const self = this
            if (option === 'friend') {
                self.match.match_participants.friendInviteChips.players.splice(self.match.match_participants.friendInviteChips.players.indexOf(item), 1)
                self.match.match_participants.friendInviteChips.players = [...self.match.match_participants.friendInviteChips.players]
            } else if (option === 'opponent') {
                self.match.match_participants.opponentInviteChips.players.splice(self.match.match_participants.opponentInviteChips.players.indexOf(item), 1)
                self.match.match_participants.opponentInviteChips.players = [...self.match.match_participants.opponentInviteChips.players]
            }
        },
    }
</script>