<template>
  <v-card flat>
    <v-list two-line>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Match Name</v-list-tile-title>
          <v-text-field v-model="match.match_name" label="Match Name"></v-text-field>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Match Date</v-list-tile-title>
          <v-menu v-model="datePicker" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
          <template v-slot:activator="{ on }">
            <v-text-field v-model="match.match_date" label="Match Date" prepend-icon="event" readonly v-on="on"></v-text-field>
          </template>
          <v-date-picker v-model="match.match_date" @input="datePicker = false"></v-date-picker>
        </v-menu>        
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Match Mode</v-list-tile-title>
          <v-list-tile-sub-title>{{match.match_mode}}
          </v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-content>
          <v-list-tile-title>Match Status</v-list-tile-title>
          <v-list-tile-sub-title>{{match.match_status}}
          </v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile avatar ripple @click="">
        <v-list-tile-content>
          <v-list-tile-title>Gender Rule</v-list-tile-title>
          <v-list-tile-sub-title>
            {{match.match_rules.gender_rule}}
          </v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile avatar ripple @click="">
        <v-list-tile-content>
          <v-list-tile-title>Max-Min Age</v-list-tile-title>
          <v-list-tile-sub-title>
            {{match.match_rules.min_age}} - {{match.match_rules.max_age}}
          </v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: ['match_details'],
  computed: {
  	match(){
  		return this.match_details
  	}
  }
}
</script>
