<template>
  <content>
    <v-toolbar flat dense>
      <v-toolbar-title>
        <span class="body-1">Match Chat</span>
      </v-toolbar-title>
    </v-toolbar>
    <div class="mdl-navigation" style="height:100%">
      <v-btn to="/login" v-if="user_authenticated.player === undefined">LOGIN TO ACCESS CHAT</v-btn>
      <v-list v-else dense>
        <v-list-tile v-for="message in messages" :key="message.id" @click="">
          <v-list-tile-content>
            <v-list-tile-title>
              <span class="primary--text">{{message.player.player_nickname}} </span> {{message.message}}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </div>
    <v-footer height="auto" style="padding:10px;" v-if="user_authenticated.player">
      <v-layout justify-center>
        <v-flex xs12>
          <v-text-field name="input-1" label="Send a message" v-model="chat_message" v-on:keyup.enter="sendMessage()" solo v-if="is_chat_enabled" flat>
          </v-text-field>
          <div v-if="!is_chat_enabled">You can't join the chat because you are not part of the match</div>
          <v-btn small :disabled="is_chat_enabled" @click="sendMessage()" v-if="is_chat_enabled">Send</v-btn>
        </v-flex>
      </v-layout>
    </v-footer>
  </content>
</template>

<script>
export default {
  props: ['matchId'],
  data() {
    return {
      // player_messages: [
      //  { header: 'Today' },
      //  { avatar: '/static/doc-images/lists/1.jpg', title: 'Brunch this weekend?', subtitle: "<span class='grey--text text--darken-2'>Ali Connors</span> &mdash; I'll be in your neighborhood doing errands this weekend. Do you want to hang out?" },
      //  { divider: true, inset: true },
      //  { avatar: '/static/doc-images/lists/2.jpg', title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>', subtitle: "<span class='grey--text text--darken-2'>to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I'm out of town this weekend." },
      //  { divider: true, inset: true },
      //  { avatar: '/static/doc-images/lists/3.jpg', title: 'Oui oui', subtitle: "<span class='grey--text text--darken-2'>Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?" }
      // ],
      player_receiver: null,
      message_input: null,
      match_chat: null,
      chat_message: null,
      isSendingMessage: false,
      is_chat_enabled: false
    }
  },
  mounted() {
    this.loadMatchMessages();
    this.listenMatchChat();
    this.scrollToEnd();
  },
  computed: {
    user_authenticated() {
      return this.$store.state.user_authenticated;
    },
    player() {
      return this.$store.getters.currentPlayer;
    },
    tokens() {
      return this.$store.state.tokens
    },
    messages() {
      return this.match_chat
    },
  },

  methods: {
    scrollToEnd() {
      let container = document.querySelector(".mdl-navigation");
      let scrollHeight = container.scrollHeight;
      container.scrollTop = scrollHeight;
    },

    loadMatchMessages() {
      let data = {
        match_id: this.matchId,
        player_id: this.player.player_id
      };

      this.$http.post('/match/' + this.matchId + '/is-chat-enabled', data)
        .then((response) => {
          this.is_chat_enabled = response.data.is_chat_enabled
          self.scrollToEnd();
        }).catch(({ response }) => {})

      this.$http.post('/match/chat', data)
        .then((response) => {
          this.match_chat = response.data
          self.scrollToEnd();
        }).catch(({ response }) => {})
    },
    sendMessage() {
      const self = this;
      let data = {
        match_id: this.matchId,
        player_id: this.player.player_id,
        message: this.chat_message
      };

      self.isSendingMessage = true;

      axios.post('/api/match/message', data)
        .then(response => {
          let message = {
            message: self.chat_message,
            player: {
              player_nickname: self.user_authenticated.player.player_nickname
            }
          };

          // self.messages.push(message);

          self.chat_message = ''
          self.isSendingMessage = false;
          self.scrollToEnd();
        })
        .catch(response => {
          self.isSendingMessage = false;
        })

    },
    listenMatchChat() {
      const self = this;
      Echo.channel('match-chat-' + self.matchId)
        .listen('MatchChatEvent', (e) => {
          let message = {
            message: e.message,
            player: {
              player_nickname: e.player_nickname
            }
          };
          self.messages.push(message)
          self.scrollToEnd();
        });

    }

  }
}
</script>

<style scoped>
.mdl-navigation {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 82%;
}
</style>
