
<template>
  <v-card style="height:100%;">
    <v-dialog v-model="result_dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">{{message_header}}</v-card-title>
        <v-card-text>
          {{message_content}}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click="result_dialog = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="claim_object.dialog" persistent max-width="800px">
      <v-card>
        <v-card-title>
          <span class="headline">{{claim_object.message_header}}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <p><span style="font-size: 18px; font-style: oblique; color:grey">{{claim_object.message_content}}</span></p>
              </v-flex>
              <v-flex xs12>
                <v-textarea required name="statement" label="Statement for claim" value="" v-model="claim_object.statement"></v-textarea>
              </v-flex>
              <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                <img :src="claim_object.imageUrl" height="150" v-if="claim_object.imageUrl" />
                <v-text-field label="Image Proof" @click="$refs.image.click ()" v-model='claim_object.imageName' prepend-icon='attach_file'></v-text-field>
                <input type="file" style="display: none" ref="image" accept="image/*" @change="onFilePicked">
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="clearClaimForm()">Cancel</v-btn>
          <v-btn color="blue darken-1" flat @click="submitClaim()">Sent to Admin</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--     <v-dialog v-model="claim_object.dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">{{claim_object.message_header}}</v-card-title>
        <v-card-text style="font-color:green;">
          {{claim_object.message_content}}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click="submitClaim">
            Send
          </v-btn>
          <v-btn color="red darken-1" flat="flat" @click="claim_object.dialog = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog> -->
    <v-dialog v-model="cancel_dialog" max-width="500px">
      <v-card>
        <v-card-title class="headline">
          Match Cancellation
        </v-card-title>
        <v-card-text>
          Are you sure you want to cancel the match? This will remove the current selected opponent and list of invitation and requests will be set to pending.
        </v-card-text>
        <v-card-actions>
          <v-btn color="red" flat @click.stop="cancel_dialog = false; confirmMatch('cancel')">Proceed to cancel</v-btn>
          <v-btn color="primary" flat @click.stop="cancel_dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="action_dialog" max-width="500px">
      <v-card>
        <v-card-title class="headline">
          Set Match
        </v-card-title>
        <v-menu v-model="datePicker" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
          <template v-slot:activator="{ on }">
            <v-text-field v-model="match.match_date" label="Match Date" prepend-icon="event" readonly v-on="on"></v-text-field>
          </template>
          <v-date-picker v-model="match.match_date" @input="datePicker = false"></v-date-picker>
        </v-menu>
        <v-card-actions>
          <v-btn color="red" flat @click.stop="action_dialog = false; confirmMatch('cancel')">Cancel</v-btn>
          <v-btn color="primary" flat @click.stop="startMatch">Set Match</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <match-dashboard :match_details="match" v-if="match.match_mode!='Solo'" :opponent="opponent" :game_details="gameDetails"> </match-dashboard>
    <match-solo-dashboard :match_details="match" v-else :opponent="opponent" :game_details="gameDetails"> </match-solo-dashboard>
    <v-tabs centered dark color="primary">
      <v-tabs-slider color="yellow"></v-tabs-slider>
      <v-tab href="#tab-1">
        <!-- <v-icon>fas fa-list</v-icon> -->
        Overview
      </v-tab>
      <v-tab href="#tab-2">
        <!-- <v-icon>fas fa-gamepad</v-icon> -->
        Match Details
      </v-tab>
      <v-tab href="#tab-3" v-if="false">
        <!-- <v-icon>fas fa-users</v-icon> -->
        Team Roster
      </v-tab>
      <v-tab href="#tab-4" v-if="isMatchAdmin">
        <!-- <v-icon>fas fa-user</v-icon> -->
        Pending Invites & Requests
      </v-tab>
      <v-tab-item value="tab-1">
        <v-card flat>
          <v-card-title primary-title>
            <div>
              <div class="headline" style="color:blue" v-if="isMatchAdmin">
                {{match.match_name}}
              </div>
              <div class="headline" style="color:red" v-else-if="isOpponent">
                {{match.match_name}}
              </div>
              <div class="headline" style="color:green" v-else>
                {{match.match_name}}
              </div>
              <div class="mb-3 grey--text" style="margin-top:10px">
                
                <v-chip color="blue" v-if="match.match_conclusion 
                && match.match_conclusion.judgement_to_creator=='Win'">
                  Match Creator has won this game!
                </v-chip>

                <v-chip color="red" v-if="match.match_conclusion 
                && match.match_conclusion.judgement_to_creator=='Lose'">
                  Opponent has won this game!
                </v-chip>

                <v-chip color="green" v-if="match.match_conclusion 
                && match.match_conclusion.judgement_to_creator=='Draw'">
                  This game match is a draw and no one wins.
                </v-chip>

                <!-- Creator -->
                <v-chip color="yellow" v-if="match.match_conclusion && (isMatchAdmin && 
                (match.match_conclusion.creator_claim !==null && match.match_conclusion.creator_claim !=='Draw' )
                && match.match_conclusion.judgement_to_creator==null
                )">
                  You are claiming that you {{match.match_conclusion.creator_claim}} this match. And it still being reviewed by us at the moment.
                </v-chip>
                <v-chip color="yellow" v-if="match.match_conclusion && (isMatchAdmin && (match.match_conclusion.creator_claim!==null && match.match_conclusion.creator_claim=='Draw') && match.match_conclusion.judgement_to_creator==null)">
                  You claiming that this match is a draw and it is being reviewed by us at the moment.
                </v-chip>
                <!-- Opponent -->
                <v-chip color="yellow" v-if="match.match_conclusion && (isOpponent && match.match_conclusion.opponent_claim!==null && match.match_conclusion.opponent_claim!=='Draw') && match.match_conclusion.judgement_to_creator==null">
                  You are claiming that you {{match.match_conclusion.opponent_claim}} this match. And it still being reviewed by us at the moment.
                </v-chip>
                <v-chip color="yellow" v-if="match.match_conclusion && (isOpponent && match.match_conclusion.opponent_claim!==null && match.match_conclusion.opponent_claim=='Draw') && match.match_conclusion.judgement_to_creator==null">
                  You are claiming that this match is a draw and it is being reviewed by us at the moment.
                </v-chip>
              </div>
              <div class="mb-3 grey--text" style="margin-top:10px">{{match.match_description}}</div>
              <div class="mb-3 grey--text">
                {{match.match_venue_details.venue_name}} - {{match.match_venue_details.vicinity}} </div>
              <div class="mb-3 grey--text">
                {{match.match_date_formatted}}
              </div>
              <div>
                <v-chip medium outline label :color="chipContent.color">
                  {{chipContent.message}}
                </v-chip>
              </div>
            </div>
          </v-card-title>
          <v-card-actions align-center justify-center v-if="(isMatchAdmin && opponent.player_id !== 0 && 
            opponent.team_name !=='') && match.match_status !== 'Match Set' && match.match_status !== 'Match Over'">
            <v-btn flat color="red" :disabled="!match.match_confirmation || 
              (match.match_confirmation && match.match_confirmation.opponent_status === 'no_confirmation')" @click="cancel_dialog = true">Cancel Match</v-btn>
            <v-btn flat color="blue" @click="action_dialog =true" :disabled="!match.match_confirmation ||(match.match_confirmation && match.match_confirmation.opponent_status === 'no_confirmation')">Confirm Match</v-btn>
          </v-card-actions>
          <!-- Opponent Button for accepting invitation -->
          <v-card-actions align-center justify-center v-else-if="isInvitedOpponent && !isOpponent">
            <v-btn flat color="green" :disabled="isInvitedOpponentIsNotTheAcceptedOpponent || invitedOpponent.type === 'Reject'" @click="updateInviteStatus('Approved')">Accept Invitation</v-btn>
            <v-btn flat color="red" @click="updateInviteStatus('Reject')" :disabled="isInvitedOpponentIsNotTheAcceptedOpponent || invitedOpponent.type === 'Reject'">
              Refuse Match
            </v-btn>
          </v-card-actions>
          <!-- Opponent confirmation to proceed to match -->
          <v-card-actions align-center justify-center v-if="isOpponent && match.match_confirmation && match.match_confirmation.opponent_status === 'no_confirmation'">
            <v-btn flat color="green" @click="confirmMatch('confirmed')">Confirm match and proceed</v-btn>
            <v-btn flat color="red" @click="confirmMatch('cancel')">Cancel Match</v-btn>
          </v-card-actions>
          <!-- Match Over Claiming Win or Lose-->
          <v-card-actions align-center justify-center 
            v-if="(match.match_status ==='Match Over') && 
            ((isOpponent ) || ( isMatchAdmin ) && !match.match_conclusion
            )">
            <v-btn flat color="green" @click="initialClaim('won')"> We Win</v-btn>
            <v-btn flat color="red" @click="initialClaim('lose')"> We Lose</v-btn>
            <v-btn flat color="grey" @click="initialClaim('draw')"> It's a Draw</v-btn>
          </v-card-actions>
        </v-card>
      </v-tab-item>
      <!-- Match Rules  -->
      <v-tab-item value="tab-2">
        <match-details :match_details="match" :is_admin="isMatchAdmin"></match-details>
      </v-tab-item>
      <!--  -->
      <v-tab-item value="tab-3">
        <match-roster :match_details="match" :opponent="opponent"></match-roster>
      </v-tab-item>
      <!-- Teams/Players Invitation and Requested List -->
      <v-tab-item value="tab-4">
        <invitation-list :alreadyAccepted="alreadyAccepted" :teamList="this.match.match_invites"></invitation-list>
      </v-tab-item>
    </v-tabs>
    <chat-box :matchId="match_id"></chat-box>
  </v-card>
</template>

<script>
import MatchDashboard from '@views/MainPage/Matches/MatchDashboard.vue';
import MatchRoster from '@views/MainPage/Matches/MatchRoster.vue';
import MatchDetails from '@views/MainPage/Matches/MatchDetails.vue';
import ChatBox from '@views/MainPage/Matches/ChatBox.vue';
import MatchChat from '@views/MainPage/Matches/MatchChat.vue';
import MatchTimer from '@components/home/partials/Match/MatchTimer.vue'
import InvitationList from '@views/MainPage/Matches/InvitationList.vue';
import MatchSoloDashboard from '@views/MainPage/Matches/MatchSoloDashboard.vue';
export default {
  components: {
    'match-solo-dashboard': MatchSoloDashboard,
    'match-dashboard': MatchDashboard,
    'match-roster': MatchRoster,
    'chat-box': ChatBox,
    'match-chat': MatchChat,
    'invitation-list': InvitationList,
    'match-details': MatchDetails,
    MatchTimer

  },
  props: ['match_id'],
  data() {
    return {
      claim_object: {
        status: '',
        imageFile: '',
        imageName: '',
        imageUrl: '',
        dialog: false,
        checkbox: false,
        statement: '',
        message_header: 'Send your Claim on this Match',
        message_content: ''
      },
      cancel_dialog: false,
      datePicker: false,
      message_content: '',
      message_header: '',
      action_dialog: false,
      result_dialog: false,
      id: this.match_id,
      showResult: false,
      alreadyAccepted: false,
      gameDetails: {},
      isMatchAdmin: false,
      match: {
        match_rules: {

        },
        team_creator: {
          team_leader: {
            player_nickname: ''
          }
        },
        match_venue_details: {},
        match_invites: [],
        match_confirmations: {},
      },
      teamOneMembers: [],
      teamTwoMembers: [],
      opponent: {
        team_name: '',
        player_id: 0,
        team_id: 0,
        team_leader: {
          player_nickname: '',
          player_id: 0
        },
        respond: '',
      },
    }
  },
  mounted() {
    const self = this
    self.getMatchDetails(self)
  },
  methods: {
    getMatchDetails(self) {
      this.$http.post('/match/details', { match_id: this.match_id })
        .then(response => {
          console.log(response.data)
          this.gameDetails = response.data.game_details
          this.match = response.data

          if (this.match.match_mode != 'Solo' && this.match.team_creator.team_leader.player_id === this.player_id) {
            this.isMatchAdmin = true
          }

          if (this.match.match_mode == 'Solo' && this.match.player_creator.player_id === this.player_id) {
            this.isMatchAdmin = true
          }

          for (let index = 0; index < this.match.match_invites.length; index++) {
            if (this.match.match_invites[index].type === 'Approved') {
              this.opponent = this.match.match_invites[index].team_info;

              if (!this.opponent.image) {
                this.opponent.image = '//cdn.shopify.com/s/files/1/1571/5685/products/BBK3_PAIR.png?v=1499075446';
              }

              this.alreadyAccepted = true;
              break;
            }
          }

          if (this.match.match_mode != 'Solo' && !this.match.team_creator.image) {
            this.match.team_creator.image = '//cdn.shopify.com/s/files/1/1571/5685/products/BBK3.png?v=1499075447';
          }

        });
    },
    initialClaim(status) {
      this.claim_object.status = status;
      this.claim_object.dialog = true;
      if (status != 'draw') {
        this.claim_object.message_content = 'You are claiming that you ' + status + ' this match. Attach your proof and statement below for this claim to proceed and will be reviewed by our game administrator. Thank you';
      } else {
        this.claim_object.message_content = 'You are claiming that this match is a draw. Attach your proof and statement for this claim to proceed and will be reviewed by our game administrator. Thank you!';
      }


    },
    clearClaimForm() {
      this.claim_object = {
        imageFile: '',
        imageName: '',
        imageUrl: '',
        dialog: false,
        checkbox: false,
        statement: '',
        message_header: 'Send your Claim on this Match',
        message_content: ''
      };

    },
    submitClaim() {
      let formData = {
        match_id: this.match.match_id
      };

      if (this.isOpponent) {
        let status = this.claim_object.status == 'won' ? 'Win' : this.claim_object.status;

        formData.opponent_claim = status;
        formData.opponent_image_attachment = this.claim_object.imageUrl;
        formData.opponent_statement = this.claim_object.statement;
      }

      if (this.isMatchAdmin) {
        let status = this.claim_object.status == 'won' ? 'Win' : this.claim_object.status;

        formData.creator_claim = status;
        formData.creator_image_attachment = this.claim_object.imageUrl;
        formData.creator_statement = this.claim_object.statement;
      }
      if(this.match.match_conclusion && this.match.match_conclusion.id){
        this.$http.put('/match-conclusion/'+this.match.match_conclusion.id, formData).then(response => {
          window.location.reload();
          this.clearClaimForm();
        });
      }else{
        this.$http.post('/match-conclusion', formData).then(response => {
          window.location.reload();
          this.clearClaimForm();
        });
      }


    },
    startMatch() {
      if (this.opponent.team_name === '') {
        this.result_dialog = true;
        this.message_header = "Unable yet";
        this.message_content = "There is no opponent yet to start the match";
      } else {

        this.$http.put('/match/' + this.match_id, {
            match_status: 'Match Set',
            match_date: this.match.match_date
          })
          .then(response => {
            this.result_dialog = true;
            this.message_header = "Match Set";
            this.message_content = "The match will be held on " + this.match.match_date + " at " + this.match.match_venue_details.venue_name;

            setInterval(function() {
              window.location.reload()
              this.action_dialog = false;
              this.result_dialog = false;

            }, 2500);

          })

      }
    },
    onFilePicked(event) {
      const files = event.target.files
      if (files[0] !== undefined) {
        this.claim_object.imageName = files[0].name
        if (this.claim_object.imageName.lastIndexOf('.') <= 0) {
          return
        }
        this.statementImageUpload(event)
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.claim_object.imageUrl = fr.result
          this.claim_object.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.claim_object.imageName = ''
        this.claim_object.imageFile = ''
        this.claim_object.imageUrl = ''
      }
    },
    statementImageUpload(event) {
      const self = this
      let files = event.target.files,
        formData = new FormData()
      formData.append('image', files[0])
      formData.append('strategy', 'cover')
      self.$http.post('file/upload', formData)
        .then((response) => {
          self.claim_object.imageUrl = response.data.url
          toastr.success('Statement image successfully uploaded!')
        }).catch(({ response }) => {
          if (response.data.error) {
            toastr.error(response.data.error.message)
          } else {
            toastr.error(response.status + ' : Resource ' + response.statusText)
          }
        })
    },
    updateInviteStatus(status) {
      this.$http.put('/match/invite-status/update', {
          match_id: this.match.match_id,
          type: status,
          team_id: this.invitedOpponent.team_id,
          player_id: this.invitedOpponent.player_id
        })
        .then(response => {
          this.result_dialog = true;
          this.message_header = 'You ' + status + ' this team request';
          window.location.reload()
        })
        .then(function() {})
    },
    confirmMatch(respond) {
      let data = {
        match_id: this.match.match_id,
        opponent: {},
        ally: {}
      };

      if (this.isOpponent) {
        data.opponent = {
          team_id: this.opponent.team_id,
          player_id: this.player_id,
          respond: respond
        }
      } else {
        data.ally = {
          team_id: this.match.team_creator.team_id,
          player_id: this.match.player_creator,
          respond: respond
        }
      }

      this.$http.put('/match/confirmation/update', data)
        .then(response => {

          this.result_dialog = true;
          this.message_header = 'You ' + respond + ' the match';

          setInterval(function() {
            window.location.reload()
          }, 1000);

        })

    }
  },
  computed: {
    chipContent() {

      let message = '',
        color = 'blue';

      if (this.isMatchAdmin && this.opponent.player_id === 0 && this.opponent.team_name === '') {
        message = 'No Opponent Yet';
        color = 'blue';
      }
      if (this.isMatchAdmin && this.isMatchAdmin && this.match.match_confirmation && this.match.match_confirmation.opponent_status == 'no_confirmation') {
        message = 'Waiting for the opponent to confirm the match';
        color = 'blue';
      }

      if (this.isMatchAdmin &&
        this.match.match_confirmation &&
        this.match.match_confirmation.opponent_status === 'confirmed' &&
        this.match.match_status != 'Match Set' && this.match.match_status != 'Match Over'
      ) {
        message = 'The opponent already confirmed in this match.';
        color = 'blue'
      }

      if (
        this.match.match_confirmation &&
        this.match.match_confirmation.opponent_status === 'confirmed' &&
        this.match.match_status == 'Match Set') {
        message = 'Match is set and will be held on ' + this.match.match_date_formatted + " at " + this.match.match_venue_details.venue_name;;
        color = 'green';
      }

      if(this.isInvitedOpponent && !this.isOpponent){
        message = 'Waiting for your confirmation';
        color = 'blue';
      }

      if (this.isOpponent && this.match.match_confirmation && this.match.match_confirmation.opponent_status === 'no_confirmation') {
        message = 'Waiting for your confirmation';
        color = 'blue';
      }

      if (this.isOpponent &&
        this.match.match_confirmation &&
        this.match.match_confirmation.opponent_status === 'confirmed' &&
        this.match.match_status != 'Match Set') {

        message = 'You already confirmed in this match. Waiting for the match creator to set the match';
        color = 'green'
      }

      if (this.isOpponent &&
        this.match.match_confirmation &&
        this.match.match_confirmation.opponent_status === 'confirmed' &&
        this.match.match_status == 'Match Set') {

        message = 'Match is set and will be held on ' + this.match.match_date_formatted + " at " + this.match.match_venue_details.venue_name;;
        color = 'green';
      }

      if (this.invitedOpponent.type === 'Reject') {
        message = 'Either you were rejected or you refuse the match';
        color = 'red';
      }

      if (
        this.isMatchOver &&
        this.match.match_confirmation
      ) {
        message = 'Match is over and was held on ' + this.match.match_date_formatted + " at " + this.match.match_venue_details.venue_name;;
        color = 'red';

        // Update status if not yet updated
        if (this.match.match_status == 'Match Set') {
          this.$http.put('/match/' + this.match_id, {
              match_status: 'Match Over',
            })
            .then(response => {
              this.match.match_status = 'Match Over'
            })
        }
      }

      return { message: message, color: color };
    },
    match_data() {
      return this.match
    },
    player_id() {
      if (this.$store.getters.currentUser.player !== undefined) {
        return this.$store.getters.currentUser.player.player_id
      }
      return 0
    },
    dateToday() {
      let today = new Date();
      let dd = String(today.getDate()).padStart(2, '0');
      let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
      let yyyy = today.getFullYear();

      return yyyy + '-' + mm + '-' + dd;
    },
    isMatchOver() {
      let matchDate = Date.parse(this.match.match_date),
        dateToday = Date.parse(this.dateToday);

      return (matchDate < dateToday);
    },
    invitedOpponent() {
      let invites = this.match.match_invites.filter(invite => invite.invite_mode === 'invited');

      for (let index = 0; index < invites.length; index++) {
        let invite = invites[index];

        if (invite.team_id && invite.team_info.team_leader.player_id === this.player_id) {
          return invite;
        }

        if (invite.player_id && invite.player_id === this.player_id) {
          return invite;
        }
      }

      return [];
    },
    isInvitedOpponent() {
      let invites = this.match.match_invites.filter(invite => invite.invite_mode === 'invited');


      for (let index = 0; index < invites.length; index++) {

        let team = (invites[index].team_id) ? invites[index].team_info : null;
        let opponent_player_id = (invites[index].player_id) ? invites[index].player_id : 0;

        if (team && team.team_leader.player_id === this.player_id) {
          return true;
        }

        if (opponent_player_id && opponent_player_id === this.player_id) {
          return true;
        }
      }

      return false;
    },
    isOpponent() {

      if (this.opponent && this.opponent.team_leader.player_id === this.player_id) {
        return true;
      }

      return false;
    },
    isInvitedOpponentIsNotTheAcceptedOpponent() {
      let invites = this.match.match_invites.filter(invite => invite.invite_mode === 'invited');


      for (let index = 0; index < invites.length; index++) {

        let team = (invites[index].team_id) ? invites[index].team_info : null;
        let opponent_player_id = (invites[index].player_id) ? invites[index].player_id : 0;

        if (this.isInvitedOpponent && team && this.opponent.team_leader.player_id === team.team_leader.player_id) {
          return true;
        }

        if (this.isInvitedOpponent && opponent_player_id && this.opponent.player_id === opponent_player_id) {
          return true;
        }

      }

      return false;
    }
  },
}
</script>

<style scoped>
.right-sidebar {
  width: 340px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>
