<template>
  <div>
    <div style=" position:relative;">
      <v-flex>
        <v-layout row wrap style="padding:10px">
          <v-flex s3>
            <v-subheader>List of Global Matches</v-subheader>
          </v-flex>
        </v-layout>
        <MatchList :matchList="globalMatches" :showActionButton="true" :type="'global-matches'"></MatchList>
      </v-flex>
    </div>
  </div>
</template>

<script>
import MatchList from '@views/MainPage/Directory/subroutes/MatchList.vue'
// import DrawerMixin from '../../../../mixins/drawerMixin.js'

export default {
  components: { MatchList },
  // mixins: [DrawerMixin],
  data() {
    return {
      globalMatches: {},
    }
  },
  computed: {
  },
  mounted() {
    const self = this
    self.getMatches(self)
  },
  methods: {
    getMatches(self) {

      self.$http.get('/matches')
        .then(response => {
          self.globalMatches = response.data;
        }, response => {});
    },
    joinMatch(matchId) {
      const self = this

      self.$http.post('/match-join', {
          'match_id': matchId,
          'player_id': self.$store.getters.currentPlayer.player_id
        })
        .then(response => {
          self.playerMatches = response.data.data;
        }, response => {
          self.$router.push("/404");
        });
    },
  }
}
</script>

<style scoped>
.router-link-active {
  text-decoration: none;
  color: white;
}

.text:hover {
  text-decoration: underline;
}

.sharp {
  border-radius: 0px;
}
</style>
