<template>
        <v-card flat style="height:100%;">




            <div class="right-sidebar" >
                <match-chat :matchId = "match_id"></match-chat>
            </div>


            <div class="main">


                <!--<code>-->
                    <!--{{match}}-->

                    <!--TEAM1{{team1}}-->
                    <!--TEAM2{{team2}}-->
                <!--</code>-->




                <v-img
                        class="white--text"
                        height="500px"
                        v-show="match.match_details.length > 0"
                        :src="match.match_details.data.game_details[0].background_image">


                    <v-container fill-height >
                        <v-layout align-center justify-center>
                            <v-flex xs10>


                                <v-card dark style="background: rgba(23,20,31,.7); padding:20px; padding-bottom:50px; " >

                                    <v-layout wrap row text-xs-center>
                                        <v-flex xs6 offset-xs3 style="padding:20px;">

                                            <span class="title">{{match.match_details.data.match_name}} - {{match.match_details.data.match_venue}}</span>
                                            <v-divider></v-divider>



                                            <span class="subheading">{{match.match_details.data.match_description}}</span><br>
                                            <span class="body-2">{{match.match_details.data.game_details[0].game_name}}</span>
                                        </v-flex>
                                    </v-layout>

                                    <v-layout row text-xs-center>

                                        <v-flex xs4>
                                            <v-layout row>
                                                <v-flex xs8>
                                                    <div style="text-align:left !important; margin-top:20px;">
                                                        <div>
                                                            <div class="title">{{team1.player_nickname}}</div>
                                                            <div>Rating {{team1.player_rating}}</div>
                                                        </div>
                                                    </div>
                                                </v-flex>
                                                <v-flex xs4>
                                                    <div style="text-align:right !important;">
                                                        <v-avatar tile size="80px">
                                                            <img :src="team1.profile_picture" alt="img not found">
                                                        </v-avatar>
                                                    </div>
                                                </v-flex>
                                            </v-layout>


                                        </v-flex>

                                        <v-flex xs4>



                                          <div style="margin-top:12px;">
                                              <match-timer v-if="match.match_details && match.match_details.data.match_status == 'Match Set'" :match_details="match.match_details"></match-timer>


                                              <div v-else-if="match.match_details.data.match_status == 'Match Cancelled'" style="text-align:center !important;">
                                                  <v-chip outline color="white" label>{{match.match_details.data.match_status}}</v-chip>
                                              </div>

                                              <div v-else style="text-align:center !important;">
                                                  <v-btn v-if="!showResult" @click="showResult = !showResult"> show result</v-btn>
                                                  <div v-else>
                                                      <div class="title">Score{{match.match_details.data.match_score}}</div>
                                                  </div>
                                              </div>


                                              <span>{{match.match_details.data.match_date_formatted}}</span><br>
                                              <!--<v-chip outline color="white" label>{{match.match_details.data.match_status}}</v-chip>-->

                                          </div>

                                        </v-flex>


                                        <v-flex xs4>
                                            <v-layout row>

                                                <v-flex xs4>
                                                    <div style="text-align:left !important; ">
                                                        <v-avatar tile size="80px">
                                                            <img :src="team2.profile_picture" alt="img not found">
                                                        </v-avatar>
                                                    </div>
                                                </v-flex>

                                                <v-flex xs8>
                                                    <div style="text-align:right !important; margin-top:20px;">
                                                        <div>
                                                            <div class="title">{{team2.player_nickname}}</div>
                                                            <div>Rating {{team2.player_rating}}</div>
                                                        </div>
                                                    </div>
                                                </v-flex>
                                            </v-layout>


                                        </v-flex>

                                    </v-layout>


                                </v-card>

                            </v-flex>

                        </v-layout>

                    </v-container>


                </v-img>

                <v-tabs centered dark color="primary">
                    <v-tabs-slider color="yellow"></v-tabs-slider>
                    <v-tab href="#tab-1">
                        Match Details
                    </v-tab>
                    <v-tab href="#tab-2">
                        Match Rules
                    </v-tab>
                    <v-tab-item id="tab-1">

                        <v-container fill-height >
                            <v-layout align-center justify-center>
                                <v-flex xs5>
                                    <v-card dark>
                                        <v-list two-line>
                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Match Mode</v-list-tile-title>
                                                    <v-list-tile-sub-title>{{match.match_details.data.match_mode}}</v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                            <v-list-tile>
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Match Status</v-list-tile-title>
                                                    <v-list-tile-sub-title>{{match.match_details.data.match_status}}</v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                            <v-divider></v-divider>
                                        </v-list>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>



                    </v-tab-item>

                    <v-tab-item id="tab-2">


                        <v-container fill-height >
                            <v-layout align-center justify-center>
                                <v-flex xs5>
                                    <v-card dark>
                                        <v-list two-line>
                                            <v-list-tile
                                                    avatar
                                                    ripple
                                                    @click=""
                                            >
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Gender Rule</v-list-tile-title>
                                                    <v-list-tile-sub-title
                                                            v-html="match.match_rules.gender_rule"></v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                            <v-list-tile
                                                    avatar
                                                    ripple
                                                    @click=""
                                            >
                                                <v-list-tile-content>
                                                    <v-list-tile-title>Max-Min Age</v-list-tile-title>
                                                    <v-list-tile-sub-title>
                                                        {{match.match_rules.min_age}} - {{match.match_rules.max_age}}
                                                    </v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                            <v-divider
                                            ></v-divider>
                                        </v-list>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-container>




                    </v-tab-item>
                </v-tabs>








            </div>






        </v-card>
</template>

<script>
    import MatchChat from '@views/MainPage/Matches/MatchChat.vue';
    import MatchTimer from '@components/home/partials/Match/MatchTimer.vue'
    import moment from 'moment'
    export default {
        components: {
            MatchChat,
            MatchTimer
        },
        props: ['match_id'],
        data() {
            return {
                match: {match_details: {}, match_participants: {}, match_rules: {}},
                showResult: false,
                drawer : true,
                dialog: null,
                notifications: false,
                sound: true,
                widgets: false,
                team1: {
                    player_nickname : 'TBD',
                    profile_picture : 'https://d1u5p3l4wpay3k.cloudfront.net/lolesports_gamepedia_en/1/14/TBD.png?version=5a319a1805755a6cc713e5bd48c73152',
                    player_rating : 'TBD'
                },
                team2: {
                    player_nickname : 'TBD',
                    profile_picture : 'https://d1u5p3l4wpay3k.cloudfront.net/lolesports_gamepedia_en/1/14/TBD.png?version=5a319a1805755a6cc713e5bd48c73152',
                    player_rating : 'TBD'
                }
            }
        },
        mounted() {
            const self = this

            self.getMatchDetailsById(self)
            self.getMatchParticipants(self)
            self.getMatchRules(self)
        },
        methods: {
            getMatchDetailsById(self) {
                self.$http.get('match/' + self.match_id)
                    .then(response => {
                        self.match.match_details = response.data;
                    }, response => {
                    });
            },
            getMatchParticipants(self) {
                self.$http.get('match-participants/' + self.match_id)
                    .then(response => {
                        self.match.match_participants = response.data;

                        if(response.data.length > 0){
                            response.data.map((participant, index) => {
                                self.getTeamMembers(self, participant.team_id, index + 1)
                            })
                        }

                    }).catch(err => {
                        console.log('An error occured fetching match participants', err);
                    });
            },
            getMatchRules(self) {
                self.$http.get('match-rules/' + self.match_id)
                    .then(response => {
                        self.match.match_rules = response.data[0];
                    }, response => {
                    });
            },
            getTeamMembers(self, teamId, teamNumber) {
                console.log('TEAM NUMBER HERE ' + teamNumber, teamId);

                    self.$http.get('get-team-members/' + teamId)
                    .then(response => {
                        console.log('RESULTA', response);
                        //Populate the team1 or team2 variable based on the teamNumber
                        //Expects teamNumber values 1-2 only
                        if(teamNumber < 3){
                            /* Check if the number of players in the team.
                             * Solo match only accepts one player per team
                             * if greater than one, then only get the first record from the data*/

                            //variable self.team1 or self.team2
                            self['team' + teamNumber] = response.data[0];
                        }

                    }).catch(err => {
                        console.log('An error occured fetching team members', err);
                    });
            }
        }
    }
</script>


<style scoped>

    .right-sidebar {
        width: 340px;
        position: absolute;
        top: 0;
        right: 0;
        bottom:0;
    }

    .main {
        position: absolute;
        top: 0;
        left: 0;
        right: 340px;
        bottom: 0;
    }



</style>