<template>
    <v-card style="height:100%;">


        <div class="right-sidebar" style="border-style:ridge" >
            <match-chat :matchId="match_id"></match-chat>
        </div>


        <div class="main">
            <!--<code>-->
            <!--{{match}}-->
            <!--{{team1Members}}-->
            <!--{{team2Members}}-->
            <!--</code>-->
            <v-img
                    class="white--text"
                    height="280px"
                    v-show="match.match_details.length > 0"
                    :src="match.match_details.data.game_details[0].background_image">
                <v-container fill-height fluid>
                    <v-layout align-center justify-center>
                        <v-flex xs10>
                            <v-card dark style="background: rgba(23,20,31,.9); padding:20px; padding-bottom:50px; ">

                                <v-layout wrap row text-xs-center>
                                    <v-flex xs6 offset-xs3 style="padding:20px;">
                                        <span class="title">{{match.match_details.data.match_name}} - {{match.match_details.data.match_venue}}</span>
                                        <v-divider></v-divider>
                                        <span class="subheading">{{match.match_details.data.match_description}}</span><br>
                                        <span class="body-2">{{match.match_details.data.game_details[0].game_name}}</span>
                                    </v-flex>
                                </v-layout>


                                <v-layout row text-xs-center>

                                    <v-flex xs4>
                                        <v-layout row>
                                            <v-flex xs8>
                                                <div style="text-align:left !important;">
                                                    <div>
                                                        <div class="title">{{match.match_participants[0].team_name}}
                                                        </div>
                                                        <div>Rating #{{match.match_participants[0].team_rating}}</div>
                                                    </div>
                                                </div>
                                            </v-flex>
                                            <v-flex xs4>
                                                <div style="text-align:right !important;">
                                                    <v-avatar tile size="60px">
                                                        <img src="http://liquipedia.net/commons/images/thumb/d/d6/Natus_Vincere.png/600px-Natus_Vincere.png"
                                                             alt="">
                                                    </v-avatar>
                                                </div>
                                            </v-flex>
                                        </v-layout>


                                    </v-flex>


                                    <v-flex xs4>
                                        <div style="margin-top:12px;">
                                            <match-timer
                                                    v-if="match.match_details && match.match_details.data.match_status == 'Match Set'"
                                                    :match_details="match.match_details"></match-timer>
                                            <div v-else-if="match.match_details.data.match_status == 'Match Cancelled'"
                                                 style="text-align:center !important;">
                                                <v-chip outline color="white" label>
                                                    {{match.match_details.data.match_status}}
                                                </v-chip>
                                            </div>
                                            <div v-else style="text-align:center !important;">
                                                <v-btn v-if="!showResult" @click="showResult = !showResult">
                                                    show result
                                                </v-btn>
                                                <div v-else>
                                                    <div class="title">Score{{match.match_details.data.match_score}}
                                                    </div>
                                                </div>
                                            </div>
                                            <span>{{match.match_details.data.match_date_formatted}}</span><br>
                                            <!--<v-chip outline color="white" label>{{match.match_details.data.match_status}}</v-chip>-->
                                        </div>
                                    </v-flex>


                                    <v-flex xs4>

                                        <v-layout row>
                                            <v-flex xs4>
                                                <div style="text-align:left !important;">
                                                    <v-avatar tile size="60px">
                                                        <img src="http://liquipedia.net/commons/images/thumb/1/1a/EG.png/600px-EG.png"
                                                             alt="">
                                                    </v-avatar>
                                                </div>
                                            </v-flex>
                                            <v-flex xs8 v-if="match.match_participants[1]">
                                                <div style="text-align:right !important; ">
                                                    <div>
                                                        <div class="title">{{match.match_participants[1].team_name}}
                                                        </div>
                                                        <div>Rating #{{match.match_participants[1].team_rating}}</div>
                                                    </div>
                                                </div>
                                            </v-flex>
                                        </v-layout>


                                    </v-flex>
                                </v-layout>

                            </v-card>
                        </v-flex>

                    </v-layout>

                </v-container>


            </v-img>

            <v-tabs centered dark color="primary" v-if="Object.keys(match.match_details).length > 0">
                <v-tabs-slider color="yellow"></v-tabs-slider>
                <v-tab href="#tab-1">
                    Match Details
                </v-tab>
                <v-tab href="#tab-2">
                    Match Rules
                </v-tab>
                <v-tab href="#tab-3">
                    Team Roster
                </v-tab>
                <v-tab-item id="tab-1">
                    <v-card flat>
                        <v-list two-line>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Match Mode</v-list-tile-title>
                                    <v-list-tile-sub-title>{{match.match_details.data.match_mode}}
                                    </v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Match Status</v-list-tile-title>
                                    <v-list-tile-sub-title>{{match.match_details.data.match_status}}
                                    </v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-divider></v-divider>
                        </v-list>


                    </v-card>
                </v-tab-item>

                <v-tab-item id="tab-2">
                    <v-card flat>
                        <v-list two-line>
                            <v-list-tile
                                    avatar
                                    ripple
                                    @click=""
                            >
                                <v-list-tile-content>
                                    <v-list-tile-title>Gender Rule</v-list-tile-title>
                                    <v-list-tile-sub-title
                                            v-html="match.match_rules.gender_rule"></v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile
                                    avatar
                                    ripple
                                    @click=""
                            >
                                <v-list-tile-content>
                                    <v-list-tile-title>Max-Min Age</v-list-tile-title>
                                    <v-list-tile-sub-title>
                                        {{match.match_rules.min_age}} - {{match.match_rules.max_age}}
                                    </v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-divider
                            ></v-divider>
                        </v-list>
                    </v-card>
                </v-tab-item>


                <v-tab-item id="tab-3">
                    <v-card flat>

                        <v-container fill-height fluid>
                            <v-layout align-center justify-center>
                                <v-flex xs6>

                                    <v-layout row>
                                        <v-flex xs6>
                                            <v-card dark flat>

                                                <v-img
                                                        class="white--text"
                                                        height="250px"
                                                        src="http://www.drodd.com/images14/black15.jpg">

                                                    <v-container fill-height fluid style="border:1px solid black;">
                                                        <v-layout align-center justify-center>
                                                            <v-flex xs12>


                                                                <v-card dark color="gray">
                                                                    <div style="text-align:center !important;">
                                                                        <div>
                                                                            <v-avatar tile size="60px">
                                                                                <img src="http://liquipedia.net/commons/images/thumb/d/d6/Natus_Vincere.png/600px-Natus_Vincere.png"
                                                                                     alt="">
                                                                            </v-avatar>
                                                                            <div class="title">
                                                                                {{match.match_participants[0].team_name}}
                                                                            </div>
                                                                            <div>
                                                                                Rating #{{match.match_participants[0].team_rating}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </v-card>
                                                            </v-flex>

                                                        </v-layout>

                                                    </v-container>

                                                </v-img>

                                                <v-list>
                                                    <v-list-tile avatar v-for="member in team1Members"
                                                                 :key="member.player_id"
                                                                 @click="">
                                                        <v-list-tile-action>
                                                            <!--<v-icon v-if="item.icon" color="pink">star</v-icon>-->
                                                        </v-list-tile-action>
                                                        <v-list-tile-content>
                                                            <v-list-tile-title
                                                                    v-text="member.player_nickname"></v-list-tile-title>
                                                        </v-list-tile-content>
                                                        <v-list-tile-avatar>
                                                            <img :src="member.profile_picture"/>
                                                        </v-list-tile-avatar>
                                                    </v-list-tile>
                                                </v-list>


                                            </v-card>

                                        </v-flex>
                                        <v-flex xs6>
                                            <v-card dark flat>

                                                <v-img
                                                        class="white--text"
                                                        height="250px"
                                                        src="http://www.drodd.com/images14/black15.jpg">

                                                    <v-container fill-height fluid style="border:1px solid black;">
                                                        <v-layout align-center justify-center>
                                                            <v-flex xs12>
                                                                <v-card dark color="gray">
                                                                    <div style="text-align:center !important;">
                                                                        <div v-if="match.match_participants[1]">
                                                                            <v-avatar tile size="60px">
                                                                                <img src="http://liquipedia.net/commons/images/thumb/1/1a/EG.png/600px-EG.png"
                                                                                     alt="">
                                                                            </v-avatar>
                                                                            <div class="title">
                                                                                {{match.match_participants[1].team_name}}
                                                                            </div>
                                                                            <div>
                                                                                Rating #{{match.match_participants[1].team_rating}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </v-card>
                                                            </v-flex>
                                                        </v-layout>


                                                    </v-container>

                                                </v-img>


                                                <v-list>
                                                    <v-list-tile avatar v-for="member in team2Members"
                                                                 :key="member.player_id"
                                                                 @click="">
                                                        <v-list-tile-content>
                                                            <v-list-tile-title
                                                                    v-text="member.player_nickname"></v-list-tile-title>
                                                        </v-list-tile-content>
                                                        <v-list-tile-avatar>
                                                            <img :src="member.profile_picture"/>
                                                        </v-list-tile-avatar>
                                                    </v-list-tile>
                                                </v-list>


                                            </v-card>
                                        </v-flex>

                                    </v-layout>

                                </v-flex>


                            </v-layout>

                        </v-container>

                    </v-card>
                </v-tab-item>
            </v-tabs>


        </div>


    </v-card>
</template>

<script>
    import MatchChat from '@views/MainPage/Matches/MatchChat.vue';
    import MatchTimer from '@components/home/partials/Match/MatchTimer.vue'

    export default {
        components: {
            'match-chat': MatchChat,
            MatchTimer
        },
        props: ['match_id'],
        data() {
            return {
                id: this.match_id,
                showResult: false,
                match: {match_details: {}, match_participants: {}, match_rules: {}},
                team1Members: null,
                team2Members: null
            }
        },
        mounted() {
            const self = this
            self.getMatchDetailsById(self)
            self.getMatchParticipants(self)
            self.getMatchRules(self)
        },
        methods: {
            getMatchDetailsById(self) {
                self.$http.get('match/' + self.match_id)
                    .then(response => {
                        self.match.match_details = response.data;
                    }, response => {
                    });
            },
            getMatchParticipants(self) {
                self.$http.get('match-participants/', {
                    params: {
                        match_id: self.match_id, match_mode: 'Team'
                    }
                })
                    .then(response => {
                        self.match.match_participants = response.data;

                        if (response.data.length > 0) {
                            response.data.map((participant, index) => {
                                self.getTeamMembers(self, participant.team_id, index + 1)
                            })
                        }

                    }, response => {
                    });
            },
            getMatchRules(self) {
                self.$http.get('match-rules/' + self.match_id)
                    .then(response => {
                        self.match.match_rules = response.data[0];
                    }, response => {
                    });
            },
            getTeamMembers(self, teamId, teamNumber) {
                self.$http.get('get-team-members/' + teamId)
                    .then(response => {
                        console.log('RESULTA NG GET TEAM MEMBERS', response);
                        //Populate the team1 or team2 variable based on the teamNumber
                        //Expects teamNumber values 1-2 only
                        if (teamNumber < 3) {
                            //variable self.team1 or self.team2
                            self['team' + teamNumber + 'Members'] = response.data;
                        }
                    }, response => {
                    });
            }
        }
    }
</script>

<style scoped>

    .right-sidebar {
        width: 340px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .main {
        position: absolute;
        top: 0;
        left: 0;
        right: 340px;
        bottom: 0;
    }


</style>