<template>
    <vue-form title="Create Category">
        <div slot="buttons">
            <router-link to="/admin/dashboard/categories" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <category-form></category-form>
        </div>
    </vue-form>
</template>

<script>
    import CategoryForm from './Form'
    export default {
        components: {CategoryForm}
    }
</script>