<template>
    <vue-form title="Edit Category">
        <div slot="buttons">
            <router-link to="/admin/dashboard/categories" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <category-form :category="category"></category-form>
        </div>
    </vue-form>
</template>

<script>
    import CategoryForm from './Form'
    export default{
        components: {CategoryForm},
        data: () => {
            return {
                category: undefined
            }
        },
        mounted() {
            const self = this
            self.loadCategory(self)
        },
        methods: {
            loadCategory(self) {
                self.$http.get('category/' + self.$route.params.id + '/edit')
                    .then((response) => {
                        self.category = response.data.data
                    })
            },
        }
    }
</script>