<template>
    <div class="row">
        <form class="form-horizontal col-md-6 col-md-offset-3" @submit.prevent="onSubmit">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" name="category_name" id="name" v-model="category.category_name"
                           class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="editor" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea id="editor" name="category_description" placeholder="Description"
                              v-model="category.category_description"
                              class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="category_image" class="col-sm-2 control-label">Category Image</label>
                <div class="col-sm-5">
                    <input type="text" id="category_image" class="form-control" name="category_image"
                           v-model="category.category_image" placeholder="ex: /uploads/default_avatar.png">
                </div>
                <div class="col-sm-5">
                    <img v-if="category.category_image != null && category.category_image != ''" :src="category.category_image" width="41"
                         height="41">
                    <div class="category-image-upload pull-right">
                        <a href="javascript:;" class="btn btn-success file">
                            <span>Upload File</span>
                            <input id="category-image-upload" type="file" @change="categoryImageUploader">
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="background_image" class="col-sm-2 control-label">Category Background Image</label>
                <div class="col-sm-5">
                    <input type="text" id="background_image" class="form-control" name="background_image"
                           v-model="category.background_image" placeholder="ex: /uploads/default_avatar.png">
                </div>
                <div class="col-sm-5">
                    <img v-if="category.background_image != null && category.background_image != ''" :src="category.background_image" width="41"
                         height="41">
                    <div class="category-image-upload pull-right">
                        <a href="javascript:;" class="btn btn-success file">
                            <span>Upload File</span>
                            <input id="background-image-upload" type="file" @change="categoryImageUploader">
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info">{{ category.id ? 'Edit' : 'Create' }}</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import {stack_error} from '../../../helpers/stack_error'

    export default {
        props: {
            category: {
                type: Object,
                default() {
                    return {
                        category_image: '',
                        background_image: '',
                        id: null
                    }
                }
            }
        },
        computed: {
            mode() {
                return this.category.id ? 'update' : 'create'
            },
        },
        methods: {
            onSubmit() {
                const self = this
                let url = 'category' + (self.category.id ? '/' + self.category.id : ''),
                    method = self.category.id ? 'patch' : 'post'

                self.$http[method](url, self.category)
                    .then((response) => {
                        toastr.success('You created a new category successfully!')
                        self.$router.push('/admin/dashboard/categories')
                    }).catch(({response}) => {
                    stack_error(response.data)
                })
            },
            categoryImageUploader(event) {
                const self = this
                let files = event.target.files,
                    formData = new FormData()
                formData.append('image', files[0])
                formData.append('strategy', 'cover')
                self.$http.post('file/upload', formData)
                    .then((response) => {
                        if(event.target.id === 'category-image-upload'){
                            toastr.success('Category image uploaded successfully!')
                            self.category.category_image = response.data.url
                        }else if(event.target.id === 'background-image-upload'){
                            toastr.success('Background image uploaded successfully!')
                            self.category.background_image = response.data.url
                        }

                    }).catch(({response}) => {
                    if (response.data.error) {
                        toastr.error(response.data.error.message)
                    } else {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    }
                })
            },
        }
    }
</script>