<template>
    <div class="row">
        <vue-table title="Announcements" :fields="fields" api-url="announcement" show-paginate
                   @table-action="tableActions">
            <div slot="buttons">
                <router-link to="/admin/dashboard/announcements/create" class="btn btn-success">Create</router-link>
            </div>
        </vue-table>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {
                announcement: [],
                fields: [
                    {
                        title: 'Id',
                        name: 'id',
                        titleClass: 'width-5-percent text-center',
                        dataClass: 'text-center'
                    },
                    {
                        title: 'Announcement Name',
                        name: 'title',
                    },
                    {
                        title: 'Announcement Description',
                        name: 'description',
                    },
                    {
                        title: 'Created At',
                        name: 'created_at',
                    },
                    {
                        name: '__actions',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }
                ]
            }
        },
        methods: {
            tableActions(action, data) {
                const self = this
                if (action == 'edit-item') {
                    self.$router.push('/admin/dashboard/announcements/' + data.id + '/edit')
                } else if (action == 'delete-item') {
                    self.$http.delete('announcements/' + data.id)
                        .then((response) => {
                            toastr.success('You deleted the announcement successfully.')
                            self.$emit('reload')
                        }).catch(({response}) => {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    })
                }
            }
        }
    }
</script>