<template>
    <vue-form title="Announcements">
        <div slot="buttons">
            <router-link to="/admin/dashboard/announcements" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <announcement-form></announcement-form>
        </div>
    </vue-form>
</template>

<script>
    import AnnouncementForm from './Form'
    export default {
        components: { AnnouncementForm },
    }
</script>