<template>
    <vue-form title="Edit Announcement">
        <div slot="buttons">
            <router-link to="/admin/dashboard/announcements" class="btn btn-default" exact>Back</router-link>
        </div>
        <div slot="content">
            <announcement-form :announcement="announcement"></announcement-form>
        </div>
    </vue-form>
</template>

<script>
    import AnnouncementForm from './Form'
    export default{
        components: {AnnouncementForm},
        data: () => {
            return {
                announcement: undefined
            }
        },
        mounted() {
            const self = this
            self.loadAnnouncement(self)
        },
        methods: {
            loadAnnouncement(self) {
                self.$http.get('announcement/' + self.$route.params.id + '/edit')
                    .then((response) => {
                        self.announcement = response.data.data
                    })
            },
        }
    }
</script>