<template>
    <div class="row">
        <form class="form-horizontal col-md-9 col-md-offset-1" @submit.prevent="onSubmit">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" id="title" name="title" v-model="announcement.title"
                               class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea id="description" name="description" v-model="announcement.description"
                                  class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="link" class="col-sm-2 control-label">Link to this Announcement</label>
                <div class="col-sm-10">
                    <input type="text" id="link" name="link" v-model="announcement.link"
                    class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="background_image" class="col-sm-2 control-label">BG Image</label>
                <div class="col-sm-5">
                    <input type="text" id="background_image" class="form-control" name="background_image"
                           v-model="announcement.background_image" placeholder="ex: /uploads/default_avatar.png">
                </div>
                <div class="col-sm-5">
                    <img v-if="announcement.background_image != null && announcement.background_image != ''"
                         :src="announcement.background_image" width="41"
                         height="41">
                    <div class="announcement-image-upload pull-right">
                        <a href="javascript:;" class="btn btn-success file">
                            <span>Upload File</span>
                            <input id="background-image-upload" type="file" @change="announcementImageUploader">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">{{ announcement.id ? 'Edit' : 'Create' }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'
    import {stack_error} from '../../../helpers/stack_error'

    export default {
        components: {
            Multiselect,
        },
        data() {
            return {
                options: [],
                selected: null
            }
        },
        props: {
            announcement: {
                type: Object,
                default() {
                    return {
                        background_image: '',
                        id: null
                    }
                }
            }
        },
        computed: {
            mode() {
                return this.announcement.id ? 'update' : 'create'
            },
        },
        watch: {
            announcement() {
                if (this.announcement.id) {
                    this.selected = this.announcement.category.data
                }
            }
        },
        methods: {
            onSubmit() {
                const self = this
                let url = 'announcement' + (self.announcement.id ? '/' + self.announcement.id : ''),
                    method = self.announcement.id ? 'patch' : 'post'


                self.$http[method](url, self.announcement)
                    .then((response) => {
                        toastr.success('You ' + self.mode + 'd the announcement successfully!')
                        self.$router.push('/admin/dashboard/announcements')
                    }).catch(({response}) => {
                    stack_error(response)
                })
            },
            announcementImageUploader(event) {
                const self = this
                let files = event.target.files,
                    formData = new FormData()
                formData.append('image', files[0])
                formData.append('strategy', 'cover')
                self.$http.post('file/upload', formData)
                    .then((response) => {
                        toastr.success('Background image uploaded successfully!')
                        self.announcement.background_image = response.data.url
                    }).catch(({response}) => {
                    if (response.data.error) {
                        toastr.error(response.data.error.message)
                    } else {
                        toastr.error(response.status + ' : Resource ' + response.statusText)
                    }
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .announcement-image-upload {
        display: inline-block;
        .file {
            position: relative;
            margin: 0 auto;
            display: block;
            width: 100px;
            height: 41px;
            line-height: 41px;
            font-size: 12px;
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
            input {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                width: 100px;
                height: 30px;
                opacity: 0;
            }
        }
    }
</style>