<template>
  <v-layout wrap justify-space-around style="margin-top:10px;padding:10px">
    <v-flex v-for='game in games' :key="game.game_id" xs12 sm4>
      <v-card tile hover :to="'/directory/'+ category.category_name +'/'+ game.game_id+ '/global-matches'" width="350px!important" style="padding:20px">
        <v-img :src="game.image" height="200px">
        </v-img>
        <v-card-title>
          <h3 class="headline mb-3">{{game.game_name}}</h3>
        </v-card-title>
        <v-card-text>
          {{game.game_description}} 
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      games: [],
      active: null,
      loader: true,
      category: {},
      tabs: ['Games']
    }
  },
  methods: {
    getCategoryByName() {
      const self = this;
      self.$http.get('/category/' + self.$route.params.name + '/name')
        .then((response) => {
          self.loader = false
          self.category = response.data.data;
          self.games = self.category.games
        })
      self.loader = false
    }
  },
  mounted() {
    this.getCategoryByName();
  }
}
</script>

<style scoped>
.router-link-active {
  text-decoration: none;
  color: white;
}

.text:hover {
  text-decoration: underline;
}
</style>
