<template>
  <div>
    <div style=" position:relative;">
      <v-parallax height="150" :src="games.background_image"></v-parallax>
      <v-card :color="tabs_color">
        <v-tabs v-model="activeGameTab" style="margin-left:125px; " :color="tabs_color" slider-color="yellow">
          <v-tabs-slider color="yellow"></v-tabs-slider>
          <v-tab :class="tabs_color" :href="'#global-matches'" @click="tabs_color = 'green'" ripple>
            Global Matches
          </v-tab>
          <v-tab :class="tabs_color" :href="'#player-matches'" @click="tabs_color = 'teal darken-2'" ripple v-if="isUserAuthenticated">Your Matches
          </v-tab>
          <v-tab :class="tabs_color" :href="'#match-invites'" @click="tabs_color = 'teal darken-3'" ripple v-if="isUserAuthenticated">Request/Invitation List
          </v-tab>
          <v-tab :class="tabs_color" :href="'#create-match'" @click="tabs_color = 'teal darken-2'" ripple class="sharp text-xs-right" v-if="isUserAuthenticated"> Create a match
          </v-tab>
        </v-tabs>
      </v-card>
      <v-card flat tile style=" width:90px; padding :2px; position:absolute; bottom:0px; margin-left:17px; margin-bottom:10px; vertical-align:middle">
        <v-img :src="games.image" height="100px">
        </v-img>
      </v-card>
      <div style="height:100px; width:100px; position: absolute; bottom:0px; margin-left:125px; margin-bottom:25px;">
        <div>
          <v-icon color="white" style="font-size:20px;">keyboard_arrow_left</v-icon>
          <span class="white--text caption text" style="margin-left:-5px; ">
                            <router-link :to="'/directory/' + $route.params.category"> Browse Games </router-link>
                        </span>
        </div>
        <div style="margin-top:-1px; margin-left:6px;">
          <div class="headline white--text">{{games.game_name}}</div>
          <div class="white--text caption" style="margin-top:-2px;">
            {{globalMatches.length}}{{globalMatches.length > 1 ? ' Matches' : ' Match'}}
          </div>
        </div>
      </div>
    </div>
    <v-tabs-items v-model="activeGameTab">
      <v-tab-item value="global-matches">
        <v-flex>
          <v-layout row wrap style="padding:10px">
            <v-flex s3>
              <v-subheader>List of Global Matches</v-subheader>
            </v-flex>
          </v-layout>
        <MatchList :matchList="allMatches" :showActionButton="true" :type="'global-matches'" ></MatchList>
        </v-flex>
      </v-tab-item>
      <v-tab-item value="match-invites" v-if="isUserAuthenticated">
        <MatchList :matchList="matchesPlayerTeamInvitesOrRequests" :showActionButton="true"  :type="'invitation'"></MatchList>
      </v-tab-item>
      <v-tab-item value="player-matches" v-if="isUserAuthenticated">
        <v-flex xs7>
          <v-layout row wrap style="padding:10px">
            <v-flex s3>
              <v-subheader>List of Your Matches</v-subheader>
            </v-flex>
          </v-layout>
        </v-flex>
        <MatchList :matchList="playerMatches" :showActionButton="false" :type="'player-matches'"></MatchList>
      </v-tab-item>
      <v-tab-item value="create-match" v-if="isUserAuthenticated">
        <match-form :game-id="gameID" :game-bg="games.image" :category-id="games.category_id" :game-minimum="games.team_member_minimum"></match-form>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import MatchForm from '../../Matches/Form'
import MatchList from '../../Directory/subroutes/MatchList'
import DrawerMixin from '../../../../mixins/drawerMixin.js'

export default {
  props: ['gameID', 'category', 'tab'],
  components: { MatchForm, MatchList },
  mixins: [DrawerMixin],
  data() {
    return {
      matchesFilterItems: [],
      actionButton: [
        {name:'Join Match'},
        {name:'Check Match'},
      ],
      filterItems: [
        { text: 'Categories' },
        { text: 'Games' },
        { text: 'Players' },
        { text: 'Matches' },
        { text: 'Teams' }

      ],
      games: [],
      globalMatches: [],
      playerMatches: [],
      matchesPlayerInvitesOrRequests: [], 
      matchesTeamInvitesOrRequests: [], 
      matchExpand: false,
      dialog: false,
      tabs_color: 'green',
      loader: true
    }
  },
  computed: {
    activeGameTab: {
      get() {
      if (this.tab === undefined || this.tab === null || this.tab === "") {
        return 'global-matches'
      } else {
        return this.tab
      }
    },
      set(newValue) {
        this.$router.push('/directory/' + this.category + '/' + this.gameID + '/' + newValue)
      }

    },
    matchesPlayerTeamInvitesOrRequests(){
      return this.matchesPlayerInvitesOrRequests.concat(this.matchesTeamInvitesOrRequests); 
    },
    allMatches() {
      let results = [];
      let all_matches = this.globalMatches;
      let player_matches = this.playerMatches.filter( match => {
        match.isCurrentPlayerMatch = true;
        return match;
      });

      console.log('player matches',all_matches)

      return all_matches.concat(player_matches);
    }
  },
  mounted() {
    const self = this
    self.getMatchListByGameId(self)
    self.getGameDetailsById(self)
    self.getTeamPlayerMatchesInvitedOrRequested(self)
  },
  methods: {
    getGameDetailsById(self) {
      self.$http.get('game-details-by-id/' + self.gameID)
        .then(response => {
          self.games = response.data;
        }, response => {});
    },
    joinMatch(matchId) {
      const self = this

      self.$http.post('/match-join', {
          'match_id': matchId,
          'player_id': self.$store.getters.currentPlayer.player_id
        })
        .then(response => {
          self.playerMatches = response.data.data;
        }, response => {
          self.$router.push("/404");
        });
    },
    getMatchListByGameId(self) {
      self.$http.get('matches/',{
          params: {
            'player_id': self.$store.getters.currentPlayer.player_id,
            'game_id': self.gameID
          }
      })
      .then(response => {
        console.log(response.data)
        self.globalMatches = response.data.data.global_matches;
        self.playerMatches = response.data.data.player_matches;
        self.loader = false
      }, response => {
        self.loader = false
      });
    },
    getMatchListByPlayer(self) {
      self.$http.get('matches-by-player-game', {
          params: {
            'player_id': self.$store.getters.currentPlayer.player_id,
            'game_id': self.gameID
          }
        })
        .then(response => {
          self.playerMatches = response.data.data;
          self.loader = false
        }, response => {
          self.loader = false
            //                        self.$router.push("/404");
        });
    },
    getTeamPlayerMatchesInvitedOrRequested(self) {
      self.$http.get('matches/player/request-or-invite',{
          params: {
            'player_id': self.$store.getters.currentPlayer.player_id,
            'game_id': self.gameID
          }
      })
      .then(response => {
        self.matchesPlayerInvitesOrRequests = response.data.data, 
        self.loader = false
      });

      self.$http.get('matches/team/request-or-invite',{
          params: {
            'player_id': self.$store.getters.currentPlayer.player_id,
            'game_id': self.gameID
          }
      })
      .then(response => {
        self.matchesTeamInvitesOrRequests = response.data.data, 
        self.loader = false
      });
    },
    setActiveTab(e) {
      this.activeGameTab = e.target.offsetParent.id === 'match-create' ? 'player-matches' : 'global-matches';
      this.matchExpand = true
    }
  }
}
</script>

<style scoped>
.router-link-active {
  text-decoration: none;
  color: white;
}

.text:hover {
  text-decoration: underline;
}

.sharp {
  border-radius: 0px;
}
</style>
