<template>
  <v-container fluid grid-list-xl>
    <v-dialog v-model="result_dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">{{message_header}}</v-card-title>
        <v-card-text>
        	{{message_content}}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click="result_dialog = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="action_dialog" max-width="500px">
      <v-card>
        <v-card-title>
          Select Team you want to used to join this match
        </v-card-title>
        <v-card-text>
          <v-select label="Teams You Lead" :items="player_teams" item-value="value" v-model="teamSelected"></v-select>
          <!-- <v-select :items="games" label="Select game to create match" v-model="match.game" item-value="value"></v-select> -->
        </v-card-text>
        <v-card-actions>
          <v-btn color="red" flat @click.stop="action_dialog = false">Cancel</v-btn>
          <v-btn color="primary" flat @click.stop="sendRequest">Send Request</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-layout wrap justify-space-around>
      <v-flex v-for="match in matches" :key="match.id" xs12 sm4>
        <v-card tile color="transparent" hover>
          <v-img src="http://xdesktopwallpapers.com/wp-content/uploads/2012/04/Cool%20Vs%20Hot%20Fists%20On%20Black%20Background.jpg" height="200px">
          </v-img>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">{{match.match_name}}</h3>
              <div>
                <span >{{match.match_mode }} Mode </span>
                <br>
                <span>{{match.match_date}}</span>
                <br>
<!--                 <span>{{match.game_details[0].game_name}}</span>
 -->                <br>
                <v-chip :color="(match.match_status=='Match Over')?'red':'blue'" small outline label>{{match.match_status}}</v-chip>
              </div>
            </div>
          </v-card-title>
          <v-card-actions v-if="type==='global-matches'">
            <v-btn color="blue" flat dark @click="viewMatch(match)">View Match</v-btn>
            <v-btn color="green" v-if="match.match_status!='Match Over' && !match.isCurrentPlayerMatch" flat dark @click="showDialog(match)">Join Match</v-btn>
          </v-card-actions>
          <v-card-actions v-if="type==='player-matches'">
            <v-btn color="blue" flat dark @click="viewMatch(match)">View Match</v-btn>
          </v-card-actions>
          <v-card-actions v-if="type==='invitation'">
            <v-btn color="blue" flat dark @click="viewMatch(match)">View Match</v-btn>
            <v-btn color="green" v-if=" match.match_status!='Match Over' && !match.isCurrentPlayerMatch" flat dark @click="showDialog(match)">Join 
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ['matchList', 'showActionButton', 'type'],
  data() {
    return {
      action_dialog: false,
      player_teams: [],
      teamSelected: null,
      matchSelected: {},
      message_content: '',
      message_header: '',
	  result_dialog: false
    }
  },
  methods: {
    viewMatch(match) {
      let route = match.match_mode == 'Team' ? '/match/team/' + match.match_id : '/match/solo/' + match.match_id;
      this.$router.push(route)
    },
    showDialog(match) {
      this.getTeamsLeadByPlayer(match.game_id)
      this.matchSelected = match
      this.action_dialog = true
    },
    getTeamsLeadByPlayer(game_id) {
      axios.get('/api/players/' + this.player_id + '/teams-lead-by-player')
        .then(response => {
          this.teams_data = response.data
          let selectData = [];
          let arr = Object.keys(response.data).map((k) => response.data[k])

          arr.filter((data) => {
            if (data.game_id === game_id) {
              selectData.push({ text: data.team_name, value: data.team_id })
              return data
            }
          })

          this.player_teams = selectData
        })
    },
    sendRequest() {
      let form_data = {
        match_id: this.matchSelected.match_id,
        team_id: this.teamSelected,
        player_id: 0,
        invite_mode: 'request_to_join',
        type: 'Pending'
      };

      axios.post('/api/match/request-to-join', form_data)
        .then(response => {
          if (response.data.error === true) {
            this.error = true;
            this.message_header  = 'Invitation Failed!'
            this.message_content = response.data.message;
          } else {
            this.success = true;
            this.message_header  = 'Invitation Completed'
            this.message_content = response.data.message;
          }

          this.result_dialog = true;
          this.teamSelected = '';
          this.matchSelected = {};
          this.action_dialog = false;
        })
    },
  },
  computed: {
    player_id() {
      return this.$store.getters.currentUser.player.player_id
    },
    matches() {
      let results = [],
      matches = this.matchList;
      for (let index = 0; index< matches.length ; index++) {
        let match = matches[index]; 
        if(
          (match.team_creator && match.match_team_creator && match.match_team_creator.team_leader.player_id === this.player_id) || 
          (match.player_creator && match.player_creator === this.player_id) )
        {
          match.isCurrentPlayerMatch = true;
        }
      
        results.push(match);
      }
      return results;
    }
  }
}
</script>

<style type="text/css">
.flex {
  flex-grow: 0;
}

.flex-empty {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  div {
    width: 150px;
  }
}
</style>
